#gjs {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: auto;
    overflow: visible !important; /* Set overflow to visible for the canvas */
}

.gjs-blocks-c {
    background-color: white;
}

.gjs-cv {
    overflow: visible !important; /* Set overflow to visible for the canvas */
}

.row {
    margin-right: 0px;
}

.gjs-block {
    height: auto !important;
    background-color: #edf0f6 !important;
    border-radius: 10px !important;
    border: none !important;
    justify-content: center !important;
    align-items: center !important;
}

.gjs-block-label {
    display: flex !important;
    flex-direction: column !important;
    overflow: visible !important;
}

.article-settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 5px;
}

.article-add-desc {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    outline: none;

}


.select2-selection__rendered {
    padding: 5px !important;
}

.select2-container .select2-selection__choice {
    background-color: #f0f0f0 !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 2px 5px 2px 5px !important;
    margin-right: 5px !important;
    margin-top: 0px !important;
}

.select2-selection__choice__remove {
    color: red !important;
    cursor: pointer !important;
    margin-left: 5px !important;
}

.select2-container .select2-selection__choice:nth-child(1) {
    background-color: #ffcccb !important;
}

.select2-container .select2-selection__choice:nth-child(2) {
    background-color: #ffebcd !important;
}

.select2-container .select2-selection__choice:nth-child(3) {
    background-color: #98fb98 !important;
}


.article-add-right-btns {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    position: sticky;
    top: 20px;
}


.t-class-comps {
    color: #a5b1c8;
    font-size: 30px;
    margin-bottom: 5px !important;
    font-family: math;
}

.clear-all:hover {
    cursor: pointer;
}

.gjs-selected {
    outline-offset: 0px !important;
}

.gjs-one-bg {
    background-color: #edf0f6 !important;
}

.gjs-category-title, .gjs-layer-title, .gjs-block-category .gjs-title, .gjs-sm-sector-title, .gjs-trait-category .gjs-title {
    color: black !important;
    background-color: #edf0f6 !important;
}

.gjs-sm-properties {
    color: black !important;
}

.gjs-field-colorp {
    padding: 0px !important;
}

.gjs-four-color {
    color: #666666 !important;
}

.gjs-mdl-dialog {
    color: black !important
}
