
.btn-more {
    width: 200px;
    background-color: white;
    color: #36364b;
    font-weight: 700;
    border: 1px solid #a5b1c8;
}


.artile-list-image{
    display: flex;
    margin: 5px 0 5px 0
}

.article-list-content{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}





