

.article-detail-title{
    display: flex;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    line-height: normal;
    margin-bottom: 10px;
}

.article-detail-main-content{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.article-detail-page-last{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.article-detail-comments-andshare-cont {
    display: flex;
}

.article-detail-comments {
    display: flex;
    color: #a5b1c8;
    margin-right: 10px;
    align-items: center;
    font-size: 13px;
}



.artile-list-image{
    display: flex;
    margin: 5px 0 5px 0
}

.like-btn {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .like-btn svg {
        transition: all 0.3s ease;
    }

    .like-btn.liked svg {
        fill: #3498db;
        stroke: #3498db;
    }

    .like-btn:not(.liked) svg {
        fill: none;
        stroke: #95a5a6;
    }


    .list-comments .bi {
        font-size: 15px;
    }