.article-list-cat-cont {
    margin-top:10px ; 
    margin-bottom: 10px
}

.btn-more {
    width: 200px;
    background-color: white;
    color: #36364b;
    font-weight: 700;
    border: 1px solid #a5b1c8;
}

.artile-list-description{
    display: flex;
    margin: 5px 0 5px 0
}

.artile-list-image{
    display: flex;
    margin: 5px 0 5px 0
}

.article-list-content{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.article-list-title{
    display: flex;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    line-height: normal;
    margin-bottom: 10px;
}

.article-list-main-content{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.article-img{
    max-height: 300px;
}

.article-list-last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.article-list-author-cont{
    display: flex;
    align-items: center;
}

.article-list-author-name{
    display: flex;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}