.cbr-rates-container {
    width: 100%;
    position: relative;
    background: white;
}

@media (min-width: 1480px) {


    .d-1480-none {
        display: none !important;
    }

    .d-1480-flex {
        display: flex !important;
    }


    .cbr-rates-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        overflow: visible;
    }


    .marquee {
        display: none;
    }
}

@media (max-width: 1479.98px) {



    .cbr-rates-container {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    .marquee {
        display: inline-block;
        animation: marquee 20s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            transform: translate3d(-100%, 0, 0);
        }
    }

     .key-rate-item {
        display: inline-block;
        margin-right: 20px;
    }
}

.arrow-up {
    color: green;
    font-weight: 600;
}

.arrow-down {
    color: red;
    font-weight: 600;
}
