.contact {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.contact-span {
    font-size: 14px;
}

.container-fluid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.navbar-brand-contact {
    display: flex;
    padding: 15px;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: black;
    font-size: 18px;
    /*font-weight: 600;*/
}

.container-fluid-nav-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.container-fluid-nav-contact .navbar-brand-contact:hover,
.container-fluid-nav-contact .navbar-brand-contact.selected {
    background-color: #36364b;
    color: white;
}

.container-fluid-nav-contact .navbar-brand-contact.selected:first-child,
.container-fluid-nav-contact .navbar-brand-contact:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-fluid-nav-contact .navbar-brand-contact.selected:last-child,
.container-fluid-nav-contact .navbar-brand-contact:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
