.contact {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 0px !important;
}

.container-fluid-nav-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.sticky-container {
    position: sticky;
    gap: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.icon-scale {
    transform: scale(0.9);
}