.contact-page-cont {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}



.contact-form-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.form-textarea-contact {
    display: flex;
    resize: none;
    scrollbar-width: none;
    min-height: 100px;
}
.contact-us-btn-cont {
    display: flex;
    margin-top: 15px;
    align-items: center;
    gap: 10px;
}

.contact-email-span {
    display: flex;
    color: #a5b1c8;
    font-size: 16px;
    font-weight: 400;
}

.contact-email-link {
    text-decoration: none;
    color: #a5b1c8;
    font-weight: 600;
}

