input[name="form-0-specialized_education"].custom-form-css {
    width: auto !important;
    margin-left: 5px;
}

.back-icon {
    font-weight: bold;
    color: #777786;
}

.avatar-img {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
}

.avatar-info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.avatar-current-file {
    color: white;
    user-select: none;
    margin: 0;
    font-size: 8px;
}

.avatar-current-link {
    color: white;
    font-size: 8px;
}

.education-title {
    padding-bottom: 10px;
}

.modal-custom {
    width: 400px !important;
}

.modal-header-custom,
.modal-footer-custom {
    border: none;
}

@media (max-width: 768px) {
    .smaller-letters {
        font-size: 12px !important;
    }
    .prof-edit-input-labels,
    .prof-edit-input-title1,
    .prof-edit-photo-cont {
        width: 100% !important;
        text-align: start;
        margin: 5px 0;
    }
    .prof-edit-info-cont {
        width: 100% !important;
        text-align: center;
    }
    .prof-edit-duel-rows {
        display: block;
        margin: 10px 0;
    }
    .prof-edit-input-title {
        width: 100%;
    }
}