.expert-list-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    margin-top: 0px;
}

.expert-prof-cont{
    display: flex;
    padding: 15px 25px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0,0%,80%,.5);
}

.experts-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------- Mobile Screens CSS -------------------------------------------------------- */


@media (max-width: 768px ) {

    .expert-prof-cont {
        display: flex;
        padding: 0px;
        border-radius: 10px;
        margin-top: 15px;
        box-shadow: none;
        flex-direction: column;
    }

}

@media (max-width: 1580px ) {

    .basepost-prof-socials-cont{
        flex-flow: column-reverse !important;
        align-items: flex-start !important;

    }

}

