
.experts-list-main-cont{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-color: white ;
    border-radius: 15px;
    margin-top: 20px;
}

.experts-list-search-and-cat-cont{
    display: flex;
    justify-content: space-between;

}

.experts-list-search-cont{
    display: flex;
    padding: 5px 10px 5px 10px;
    border: 1px solid #dadada;
    font-family: sans-serif;
    width: 100%;
    border-radius: 7px;
    outline: none !important;
}

.experts-list-catagory-cont {
    display: flex;
}

.expert-list-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    margin-top: 0px;
}

/* .experts-list-catagory-text{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
}

.expert-list-catagory-choose{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
} */

.expert-list-catagory-dropdown{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    margin-top: 0px;
}

.expert-prof-cont{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 5px hsla(0,0%,66%,.5);
    flex-direction: column;
}

.expert-list-prof-pic{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experts-list-avatar-container {
    width: 130px; 
    height: 130px; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 1px solid #ccc; 
}


.experts-list-avatar-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.experts-list-rating-span{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.expert-list-main-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.expert-list-title{
    display: flex;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

.expert-list-cont {
    margin: 5px 0 5px 0;
    display: flex;
}

.expert-research-catagory-container{
    background-color: #fff5d4;
    /* padding: 10px; */
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 500;
    color: #d6b537;

}

.question-btn-and-money{
    display: flex;
    gap: 10px;
}

.expert-list-consult-btn{
    margin-top: 0;
    background-color: #6dc36b;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.money-rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
}

.expert-stats-an-other{
    display: flex;
    color: #b3bdd1;
    font-size: 13px;
    margin-right: 10px;
    font-weight: 500;
}

.article-last{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}