

.prof-pic-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prof-pic-cont img {
    border-radius: 50%;
    width: 100%; 
    height: auto; 
}

.user-category-cont {
    display: flex;
    flex-wrap: wrap;
}

.consult-expert-profile-btn {
    margin-top: 0;
    background-color: #6dc36b;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 6px 12px 6px 12px;
}

.user-category{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    align-items: center;
    padding-top: 5px;
    padding-right: 5px;
    font-weight: 600;
}

.chevron-left-css{
    font-weight: bold; 
    color: #777786; 
    padding: 0 2px 0 2px

} 

.prof-about-me-cont{
    display:  flex;
    padding-bottom: 5px;
}

