
.bi-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn .loading-text,
.btn .normal-text {
    display: inline-block;
}

.font-size-16 {
    font-size: 16px !important;
}

.global-border-radius {
    border-radius: 7px;
}

.element-container {
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-radius: 15px;
}

.no-margins {
    margin: 0 !important;
}


@media (max-width: 768px) {
    .element-container {
        padding: 15px 20px 15px 20px;
    }
}

.basepost-description {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.basepost-title {
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    line-height: normal;
    margin-bottom: 10px;
    color: black;
}

.basepost-author-pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    object-fit: cover;
}

.basepost-content-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}


.basepost-author-text {
    display: flex;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.no-underline-href {
    text-decoration: none;
    cursor: pointer;
}

.basepost-author-cont {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
}

.main-list-gap {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.displayflex {
    display: flex;
}

.basepost-prof-socials-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
}

.lists-search-cont {
    display: flex;
    padding: 5px 10px 5px 10px;
    border: 1px solid #dadada;
    font-family: sans-serif;
    width: 100%;
    border-radius: 7px;
    outline: none !important;
}

.read-post-link {
    color: black;
    border: 1px solid lightgray;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.user-category {
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    align-items: center;
    padding-right: 5px;
    font-weight: 600;
    margin-right: 5px;
    gap: 5px;
    flex-flow: wrap;
}

.search-and-cat-cont {
    display: flex;
    justify-content: space-between;
}

.list-publish-date {
    display: flex;
    color: #a5b1c8;
    align-items: center;
    font-size: 12px;
    margin-right: 5px;
}

.comments-andshare-cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-comments {
    display: flex;
    vertical-align: middle;
    color: #a5b1c8;
    margin-right: 5px;
    align-items: center;
    font-size: 13px;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
}


.icon-wrapper {
    display: inline-block;
    margin-top: 2px;
    margin-right: 2px;
}

.list-comments a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
}


.element-container-mobile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*padding: 20px 30px 20px 30px;*/
    background-color: white;
    border-radius: 15px;
}

.user-stats {
    display: flex;
    font-family: sans-serif;
    color: #aaa9a9;
    font-size: 14px;
    /*padding-top: 5px;*/
    /*padding-bottom: 10px;*/
}

.top-half-prof {
    display: flex;
    margin-bottom: 15px;
}

.profile-information-cont {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-between;
    gap: 10px;
}

.global-back-btn {
    display: flex;
    color: grey;
    margin-bottom: 15px;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer
}

.back-btn-cont {
    display: flex;
    width: 100%;
    padding: 0 0 5px 5px;
    color: #777786;
    font-family: sans-serif;
    font-weight: 400;
    align-items: center;
    font-size: 20px;
}

.link-read-post {
    text-decoration: none;
    color: blue;
    font-family: sans-serif;
    align-items: center;
    font-size: 18px;
}

.prof-user-setting {
    display: flex;
    font-family: sans-serif;
    margin-left: 25%;
    padding: 10px 0 0 30px;
    gap: 5px;
    flex-wrap: wrap;
}

.global-catagory-text {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
}

.global-catagory-choose {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.global-cat-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    margin-top: 0;
}

.user-catagory-highlight {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 14px;
    color: #136dae;
    font-weight: 600;
    width: fit-content;
    /*margin-top: 3px; */
}


.banki {
    background-color: #ecffd4;
    color: #60ae13;
}

.it {
    background-color: #d4eaff;
    color: #136dae;
}

.finansy {
    background-color: #fff5d4;
    color: #d6b537;
}

.coaching {
    background-color: #c4f9b5;
    color: #5eb700;
}

.legal {
    background-color: #b6faef;
    color: #23a47e;
}

.catagory-cont {
    display: flex;
    align-items: center;
    /*width:200px;*/
    justify-content: flex-end;
}

.expert-name {
    display: flex;
    text-decoration: none;
}

.expert-name a {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    color: black;
}

.profile-info-cont {
    display: flex;
}

.user-display-name {
    display: flex;
    font-size: 22px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

.user-rating {
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

.user-rating-cont {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.prof-edit-rows {
    display: flex;
    flex-direction: column;
}


.answer-profile-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.custom-form-css {
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dadada;
    width: 100%;
}

.sticky-styles {
    position: sticky;
    top: 20px
}

.user-category-cont {
    display: flex;
    flex-wrap: wrap;
    min-height: 30px;
}

.prof-page-pic-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testing-class {
    display: flex;
    justify-content: flex-end !important;
    gap: 10px;
}

@media (max-width: 768px ) {

    .testing-class {
        display: flex;
        justify-content: flex-start !important;
        margin-top: 10px;
        gap: 20px;

    }


}

/* ------------------------------------- ADVERTISEMENTS ------------------------------------------*/


.advertisement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.advertisement-img {
    max-width: 100%;
    max-height: 80px;
    height: 50px;
}

