.global-border-radius {
    border-radius:7px;
}



.lists-search-cont{
    display: flex;
    padding: 5px 10px 5px 10px;
    border: 1px solid #dadada;
    font-family: sans-serif;
    width: 100%;
    border-radius: 7px;
    outline: none !important;
}

.search-and-cat-cont{
    display: flex;
    justify-content: space-between;
}

.list-publish-date {
    display: flex;
    color: grey;
    align-items: center;
    font-size: 12px;
}

.comments-andshare-cont {
    display: flex;
    gap: 10px ;
}

.list-comments {
    display: flex;
    color: #a5b1c8;
    margin-right: 10px;
    align-items: center;
    font-size: 13px;
    gap: 5px;
}

.list-share {
    display:flex;
    cursor:pointer;
}

.list-main-containers{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}

.user-stats {
    display: flex;
    font-family: sans-serif;
    color: #aaa9a9;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.top-half-prof{
    display: flex;
    margin-bottom: 15px;
    min-height : 185px;
}