.global-border-radius {
    border-radius:7px;
}

.lists-search-cont{
    display: flex;
    padding: 5px 10px 5px 10px;
    border: 1px solid #dadada;
    font-family: sans-serif;
    width: 100%;
    border-radius: 7px;
    outline: none !important;
}

.search-and-cat-cont{
    display: flex;
    justify-content: space-between;

}