.login-page-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}

.register-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 40%;
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 10%;

}

.button-cont{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.registertype-btn{
    display: flex;
    padding: 10px 30px 10px 30px;
    background-color: lightskyblue;
}

.role-choose{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-direction: column;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-radius: 50%;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 50%;
}

.user-fill-info-cont{
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    width: 100%;
    border: 1px solid #dadada;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}


.register-info-cont{
    display: flex;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

.span-register{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 10px;
    letter-spacing: 1px;
}

.button-cont{
    display: flex;
    justify-content: center;
    width: 100%;
}

.back-btn{
    display: flex;
    width: 100%;
    padding: 0 0px 5px 5px;
    color: #777786;
    font-family: sans-serif;
    font-weight: 400;
    align-items: center;
    font-size: 13px;
}

.check-box-cont{
    display: flex;
    width: 100%;
    font-family: sans-serif;

}


.label-second{
    display: flex;
    color: #a8a8a8;
}



.agreement-text{
    display: flex;
    color: #0041c0;
    text-decoration: none;
}

.custom-control-label-checkbox{
    display: flex;
    flex-wrap: wrap;
    text-wrap: pretty;
    padding-left: 10px;
    font-weight: 500;
}

    
.form-group {
    margin-top:1rem !important ;
    font-weight: 600;
    font-family: sans-serif;
}

.back-btn a {
    color: #777786 !important;
}

.custom-control {
    display: flex;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    padding-left: 5px !important; 
}

.custom-input-class{
    padding: 5px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.input-div{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.register-btn{
    display: flex;
    background-color: #6dc36b;
    /* padding: 10px 30px 10px 30px; */
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    width: 100%;
    justify-content: center;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.login-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
}

.have-acc-txt{
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #777786;
}

.login-txt{
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: #777786;
}

.login-link{
    display: flex;
    text-decoration: none;

}

.login-with-phone{
    display: flex;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #a5b1c8;

}

.form-css{
    display: flex;
    width: 100%;
    color: red;
}

