.dropdown-toggle::after {
    display: none;
}

.carousel-inner {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.carousel-item {
    height: 100px;
    display: none;
}

.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid grey;
}


/*------------------------------------------------------------  Experts Coloumn  -------------------------------------------------------------------------*/


.post-menu {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    align-items: center;
    color: #404054;
    font-weight: 600;
}

.post-menu-item {
    padding: 7px;
    cursor: pointer;
    width: 25%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    text-decoration: none;
    color: #404054;
}

.post-menu-item.selected {
    background-color: #535478;
    color: #fff;
}

.bg-primary-base-drop {
    background-color: #535478 !important;
}





