
.container-fluid-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 10px; */
    width: 100%;
    margin-bottom: 30px;
    gap: 5px;
}

.navbar-brand {
    display: flex;
    padding: 10px 15px 10px 15px;
    /* justify-content: flex-end; */
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.navbar-brand:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.nav-item-class {
    display: flex;
    padding-left: 10px;
    font-size: 18px;
}

.navbar-help-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}



