
.container-fluid-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /*gap: 5px;*/
}

.navbar-brand {
    display: flex;
    padding: 10px 15px 10px 15px;
    align-items: center;
    font-size: 18px !important;
    width: 100%;
}

.navbar-brand:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.nav-item-class {
    display: flex;
    padding-left: 10px;
    font-size: 18px;
    text-wrap: pretty;
}

.navbar-help-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}







