.edit-prof-page-cont{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

}

.edit-prof-info-cont{
    display: flex;
    flex-direction: column;
}

.prof-edit-page-title{
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
}

.prof-edit-rows{
    display: flex;
    flex-direction: column;
}

.prof-edit-duel-rows{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.prof-edit-info-cont{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.prof-edit-input-labels{
    margin-bottom: 5px;
    font-weight: 600;
}

.prof-edit-photo-cont{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.prof-edit-input-title{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.prof-edit-change-pass {
    font-size: 20px; 
    font-weight:600;
}

.prof-edit-bot-btns-cont{
    display:flex ; 
    align-items: center;
    gap:10px;
}

.prof-edit-save-btn{
    background-color:#6dc36b ;
    border:none ; 
}
.prof-edit-save-btn:hover{
    background-color: #7ee87b;
}

.prof-edit-delete-btn {
    border:none;
    font-weight: 600;
    background-color: #ff7777;
}

.prof-edit-delete-btn:hover {
    background-color: orangered;
}

.custom-form-css{
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dadada;
    width: 100%;
}

.custom-aboutme-form{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dadada;
    width: 100%;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
}

.form-control-err {
    color: green;
    font-size: 30px;
}

/* ----------------------------------------------------------------------   Anketa css   -------------------------------------------------------------------------------------- */

.anketa-abt-me {
    display: flex;
    padding: 10px;
}

.anketa-abt-me-form{
    display: flex;
    padding: 10px;
}

.anketa-form-labels{
    margin-bottom: 5px;
    font-weight: 600;
    width: 300px;
    display: flex;
    align-items: center;
}

.anketa-page-title{
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.anketa-btns-cont{
    display:flex ; 
    align-items: center;
    margin-top: 15px;
    
}

.label-verify-users{
    display: flex;
    min-width: 300px;
}

.verification-btns-cont{
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.verify-exp-name{
    display: flex;
    color:black;
    text-decoration:none ; 
    font-weight:bold ;
    font-size:20px;
}

.change-background{
    background-color: black !important;
}

.verify-detail-title {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

