@media (max-width: 768px ) {

    .prof-page-pic-cont img {
        min-height: 130px !important;
        min-width: 130px !important;
    }

}

/*@media (min-width: 769px ) {*/

/*    .prof-page-pic-cont img {*/
/*        min-height: 130px !important;*/
/*        min-width: 130px !important;*/
/*    }*/


.profile-header {
        display: flex;
        gap: 10px;
    }

    .profile-avatar {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .star-icon {
        color: #e9be50;
        padding: 0 2px;
    }

    .user-category-cont {
        flex-wrap: wrap;
    }

    .user-category-center {
        justify-content: center;
    }

    .avatar-cont {
        display: flex;
        justify-content: center;
    }

    .mobile-image-size {
        height: 150px;
        width: 150px;
    }

    .flex-column {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        .prof-user-setting {
            display: flex;
            font-family: sans-serif;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
            margin-left: 0 !important;
            padding: 0 !important;

        }

        .user-display-name, .user-rating-cont {
            justify-content: center !important;
            font-size: 30px;
            text-align: center;
        }

        .prof-page-pic-cont {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile-information-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .user-category-cont {
            justify-content: center !important;
        }

        .user-info{
            text-align: center;
        }
    }



.bottom-half{
    display: flex;
    flex-direction: column;
}

.prof-page-pic-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prof-pic-cont img {
    border-radius: 50%;
    width: 100%; 
    height: auto; 
}

.profile-settings-btn{
    display: flex;
    text-decoration: none;
    border: 1px solid #a5b1c8;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    color: #36364b;
    margin-right: 15px;
    font-weight: 600;
}

.profile-logout-btn{
    display: flex;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    border: none;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    background-color: #dd3838;
    color: white;
}

.user-rate-and-stars{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    /*margin-left: 5px;*/
}

.bottom-info{
    display:  flex;
    flex-direction: column;
}

.prof-btn {
    margin-top: 0;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    /*height: 100%;*/
}

.prof-settings-btn {
    background-color: white;
    border: 1px solid #a5b1c8;
    color: #36364b;
    justify-content: center;
}

.prof-settings-btn:hover {
    background-color: lightgrey;
}

.prof-logout-btn {
    background-color: #ffeaea;
    border: none;
    color: #dd3838;
    height: 100%;
}

.prof-logout-btn:hover {
    background-color: #ffd0d0;
    color: #dd3838;
}

.prof-bottom-cont{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}


.social-links{
    align-items: center;
    gap: 10px;
}

.expert-profile-title-content-number {
    display: flex;
    color: grey;
    font-size: 16px;
    font-weight: 500;
    color: #a8b4ca;
}


.profile-menu-item {
    padding: 7px 12px 7px 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #404054;
    align-items: center !important;
    font-weight: 600;
    font-size: 14px;
    height: 100%;
    border: none !important;
}


.profile-menu-item.selected {
    border-bottom: 2px solid black !important;
}


