

    .scrollable-tabs-container {
        overflow-x: auto;
        margin-bottom: 11px;
        scrollbar-width: none;
        cursor: grab;
    }
    .scrollable-tabs-container::-webkit-scrollbar {
        display: none;
    }
    .nav-tabs-desktop {
        display: flex;
        flex-wrap: nowrap;
        border-bottom: none;
        white-space: nowrap;
    }
    .nav-pills-mobile {
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        gap: 5px;
    }
    .mobile-prof-cont {
        font-size: 16px;
    }

<!-- profile content items  -->

.nav-pills-scrollable {
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .nav-pills-scrollable::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, and Opera */
    }

    nav-item-mobile {
        border: 1px solid grey;
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: white;
        border-bottom: 1px solid black;
        color: black;
    }

    .nav-pills .nav-link {
        border-top-left-radius: var(--bs-nav-pills-border-radius);
        border-top-right-radius: var(--bs-nav-pills-border-radius);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .item-title{
        font-size: 14px;
    }

    .mobile-prof-cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            border-bottom: 2px solid black !important;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: white;
        border-bottom: 2px solid black !important;
        color: black;
    }
