.hours-ago{
    display: flex;
    color: #a5b1c8;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 10px;
    align-items: center;
}

.qa-main-content-text{
    font-size: 14px;
    font-family: sans-serif;
    flex-wrap: wrap;

}

.research-link-read-post{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: blue;
    font-family: sans-serif;
    align-items: center;
    font-size: 12px;
}

.research-search-cont{
    display: flex;
    padding: 5px 10px 5px 10px;
    border: 1px solid #dadada;
    font-family: sans-serif;
    width: 40%;
    border-radius: 7px;
    outline: none !important;
    margin-right: 10px;
    
}

.cat-dropdown-btn {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white !important;
    color: black !important;
    border: none;
    margin-top: 0px;
}

.article-author-cont{
    display: flex;
    align-items: center;
}

.article-comments-andshare-cont{
    display: flex;
    gap: 10px ;
}

.research-question-main-cont{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-color: white ;
    border-radius: 15px;
    margin-top: 20px;
}

.question-answer-last{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.question-answer-title {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
}

.ask-question-btn{
    cursor:pointer ;
    border-radius: 10px; 
    background-color: #6dc36b ; 
    border: none ;
    color: white;
}