{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'web/css/custom-bootstrap.css' %}">
    
    
    
    <div class="row">

        <div class="d-none d-xl-block col-xl-3 mt-3" style="position: sticky; top: 0; height: 100vh;">
            <div class="mt-2 bg-light">
                {% include "components/left_menu/left_main_menu.html" %}
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9 mt-3">
            <div class="mt-2">
                {% block center_col %}{% endblock %}
            </div>
        </div>

       

    </div>
    
    
    
    
    
    
{% endblock %}