{% extends 'base.html' %}
{% load web_tags %}


{% block content %}


<div class="row">

    <div class="col-md-1"></div>


    <div class="d-none d-md-block col-md-2 ">
        
        {% include "components/left_main_menu.html" %}
        
    </div>


    <div class="col-md-6" style="margin-bottom: 20px;">

        <div class="content">
            {% block center_col %} {%endblock%}             
        </div>

    </div>

    <div class="col-md-2">

        {% include "components/experts/main_page_list.html" %}

    </div>

    <div class="col-md-1"></div>
    
</div>

{% endblock %}