{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-1"></div>


    <div class="d-none d-md-block col-md-2 ">
        
        <nav class="navbar " style="display: flex;flex-direction: column;">
                    
            <div class="container-fluid-nav " >
                <a class="navbar-brand" href="#">
                    <i class="bi bi-fire" style="scale: 0.9; padding-right: 10px;" ></i>                            
                    Популярное
                </a>
                <a class="navbar-brand" href="#">
                    <i class="bi bi-clock-fill" style="scale: 0.9; padding-right: 10px;" ></i>                            
                    Новое
                </a>
                <a class="navbar-brand" href="#">
                    <i class="bi bi-bank" style="scale: 0.9; padding-right: 10px;" ></i>                           
                    Банки
                </a>

                <a class="navbar-brand" href="#">
                    <i class="bi bi-coin" style="scale: 0.9; padding-right: 10px;" ></i>                              
                    Финансы
                </a>
                <a class="navbar-brand" href="#">
                    <i class="bi bi-laptop" style="scale: 0.9; padding-right: 10px;" ></i>                            
                    ИТ
                </a>
            </div>
        
    </div>


    <div class="col-md-6" style="margin-bottom: 20px;">

        <div class="content">
            {% block center_col %} {%endblock%}           
        </div>

    </div>

    <div class="col-md-2">

        {% include "components/experts/main_page_list.html" %}

    </div>

    <div class="col-md-1"></div>
    
</div>

{% endblock %}