{% extends 'base020.html' %}
{% load static %}
{% load i18n %}
{% load web_tags %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/profile_edit.css' %}?ver=0.01">
{% endblock %}

{% block center_col %}

    

    <div class="element-container" >

        <div class="edit-prof-info-cont">

            {% trans "BackButtonLabel" as back_text %}
            {% back_button "index" back_text %}

            <span class="anketa-page-title">{% trans 'FillAllFieldsLabel' %}</span>


                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="prof-edit-rows">

                    <div class="anketa-abt-me-form">
                        <label for="{{ expert_profile_form.about.id_for_label }}"
                               class="anketa-form-labels">{{ expert_profile_form.about.label }}</label>
                        {{ expert_profile_form.about }}
                    </div>

                </div>
                
                <div class="prof-edit-rows">

                    <div class="anketa-abt-me-form">
                        <label for="{{ expert_profile_form.expert_categories.id_for_label }}"
                               class="anketa-form-labels">{{ expert_profile_form.expert_categories.label }}</label>
                        {{ expert_profile_form.expert_categories }}
                    </div>

                </div>
                
                <div class="prof-edit-rows">

                    <div class="anketa-abt-me-form">
                        <label for="{{ expert_profile_form.experience.id_for_label }}"
                               class="anketa-form-labels">{{ expert_profile_form.experience.label }}</label>
                        {{ expert_profile_form.experience }}
                    </div>

                </div>
                <div class="prof-edit-rows">

                    <div class="anketa-abt-me-form">
                        <label for="{{ expert_profile_form.hour_cost.id_for_label }}"
                               class="anketa-form-labels">{{ expert_profile_form.hour_cost.label }}</label>
                        {{ expert_profile_form.hour_cost }}
                    </div>

                </div>
                <div class="prof-edit-rows">

                    <div class="anketa-abt-me-form">
                        <label for="{{ expert_profile_form.education.id_for_label }}"
                               class="anketa-form-labels">{{ expert_profile_form.education.label }}</label>
                        {{ expert_profile_form.education }}
                    </div>

                </div>

                <div class="prof-edit-rows">

                    <div class="anketa-abt-me-form">
                        <label for="{{ expert_profile_form.age.id_for_label }}"
                               class="anketa-form-labels">{{ expert_profile_form.age.label }}</label>
                        {{ expert_profile_form.age }}
                    </div>

                </div>


                <div class="anketa-btns-cont">
                    <button type="submit" class="btn btn-success">{% trans 'SendForVerifyLabel' %}</button>
                </div>

            </form>


        </div>

    </div>

    <script>

        $(document).ready(function () {

            $("#id_expert_categories").select2();

        })

    </script>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
