{% extends 'base120.html' %}
{% load static %}

{% block center_col %}

<link rel="stylesheet" href="{% static 'web/css/expertProfPageEdit.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


<div class="prof-page-cont">

    <div class="profile-info-cont">

        <a href="{% url 'profile' %}" style="cursor: pointer; text-decoration: none; outline: none; color:grey">
            <i class="bi bi-chevron-left" style="scale: 0.9; font-weight: bold; color:#777786;" ></i> Назад
        </a>

        <span class= "edit-page-title">Настройки профиля</span>

        {{ user_form.errors }}
        {{ profile_form.errors }}
        {{ expert_profile_form.errors }}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="expert-edit-rows">

                <div class="duel-rows">

                    <div class="info-cont">
                        <label for="{{ user_form.first_name.id_for_label }}" class="input-labels">{{ user_form.first_name.label }}</label>
                        {{ user_form.first_name }}
                      </div>

                    <div class="info-cont">
                        <label for="{{ user_form.last_name.id_for_label }}" class="input-labels"> {{ user_form.last_name.label }}</label>
                        {{ user_form.last_name }}
                    </div>

                </div>

                {% if user.profile.type == 1 %}
                <div class="full-width">
                    <label for="{{ expert_profile_form.about.id_for_label }}" class="input-labels">{{ expert_profile_form.about.label }}</label>
                    {{ expert_profile_form.about }}
                </div>
                {% endif %}

            </div>

            <style>
                label[for="id_avatar"] {
                    display: none;
                }
            </style>
            <div class="expert-edit-rows">

                <div class="photo-cont">
                    <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" style="border-radius: 50%;width: 100px;height: 100px;object-fit: cover;">

                    <div style="display:flex ; margin-left: 10px ; flex-direction:column">
                        {% if profile_form.instance.avatar %}
                            <p style= "color:white ; user-select: none; margin: 0;">На данный момент: <a href="{{ profile_form.instance.avatar.url }}" style="color: white;">{{ profile_form.instance.avatar.name }}</a></p>
                        {% endif %}

                        <label for="id_avatar">Изменить:</label>
                        <input type="file" name="avatar" class="your-custom-class" accept="image/*" id="id_avatar">
                    </div>
                </div>


                {% if user.profile.type == 1 %}
                <div class="duel-rows">

                    <div class="input-title">
                        <label for="{{ expert_profile_form.category.id_for_label }}" class="input-labels">{{ expert_profile_form.category.label }}</label>
                        {{ expert_profile_form.category }}
                    </div>

                    <div class="input-title">
                        <label for="{{ expert_profile_form.experience.id_for_label }}" class="input-labels">{{ expert_profile_form.experience.label }}</label>
                        {{ expert_profile_form.experience }}
                    </div>

                    <div class="input-title">
                        <label for="{{ expert_profile_form.hour_cost.id_for_label }}" class="input-labels">{{ expert_profile_form.hour_cost.label }}</label>
                        {{ expert_profile_form.hour_cost }}
                    </div>

                </div>
                {% endif %}

            </div>
            {% if user.profile.type == 1 %}

            <div class="expert-edit-rows">

                <div class="duel-rows">

                    <div class="info-cont">
                        <label for="{{ expert_profile_form.education.id_for_label }}" class="input-labels">{{ expert_profile_form.education.label }}</label>
                    {{ expert_profile_form.education }}
                      </div>

                    <div class="info-cont">
                        <label for="{{ expert_profile_form.age.id_for_label }}" class="input-labels">{{ expert_profile_form.age.label }}</label>
                    {{ expert_profile_form.age }}
                    </div>

                </div>

            </div>
            {% endif %}

            <div class="expert-edit-rows">
                <span style="font-size: 20px; font-weight:600;">Смена пароля</span>

                <div class="duel-rows">
                    <div class="input-title">
                        <label for="{{ user_form.oldpassword.id_for_label }}" class="input-labels">{{ user_form.oldpassword.label }}</label>
                        {{ user_form.oldpassword }}
                    </div>
                    <div class="input-title">
                          <label for="{{ user_form.newpassword.id_for_label }}" class="input-labels">{{  user_form.newpassword.label}}</label>
                        {{ user_form.newpassword }}
                    </div>
                    <div class="input-title">
                         <label for="{{ user_form.confirmpassword.id_for_label }}" class="input-labels">{{ user_form.confirmpassword.label }}</label>
                        {{ user_form.confirmpassword }}
                    </div>
                </div>

            </div>

            <div style="display:flex ; align-items: center">
                <button type="submit" class="btn btn-secondary" style="margin: 0;padding: 0;height: 40px;padding: 0 10px 0 10px; background-color:#6dc36b ; border:none ; font-size: 14px; margin-right: 10px ">Сохранить изменения</button>
                <button type="button" class="btn btn-secondary" id="deleteProfileBtn" style="background-color:white;color:red;margin: 0;border:none;font-weight: 600; font-size:14px; margin-left:10px">
                    Удалить профиль
                </button>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="deleteProfileModal" >

                <div class="modal-dialog" role="document">

                    <div class="modal-content" style="width:400px !important">
                        <div class="modal-header" style="border-bottom: none;" >
                        <h5 class="modal-title" style="border-bottom: none;font-weight: 400;font-size: 18px;">Удалить профиль</h5>
                        <button type="button" class="btn-close" aria-label="Close" style="scale: 0.8;"></button>
                        </div>
                        <div class="modal-body" style= "padding-top:0;padding-bottom: 0;">
                        <p style="font-weight: 600;">Для подтверждения введите пароль</p>
                        </div>
                        <div style="padding: var(--bs-modal-padding);padding-top: 0;">
                            <input type="text" placeholder="Ваш пароль" style="width:100%;padding: 10px ;border-radius: 7px;border: 1px lightgrey solid; outline:none">
                        </div>
                        <div class="modal-footer" style="border-top: none;display: flex;justify-content: flex-start;">
                            <button type="button" class="btn btn-danger" style="background-color: #f47070;border: none;" onclick="deleteProfile()">Удалить профиль</button>
                            <button type="button" class="btn btn-secondary" style="background-color: white;border: 1px solid #a5b1c8;color: #36364b;" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>

                </div>

            </div>
            

        </form>

    </div>

</div>

<script>
    function showDeleteProfileModal() {
      $('#deleteProfileModal').on('show.bs.modal', function () {
        $(this).find('.modal-dialog').addClass('centered-modal');
      }).modal('show');

      $('#deleteProfileModal .btn-close').on('click', function() {
        $('#deleteProfileModal').modal('hide');
      });
    }
  
    function deleteProfile() {
      console.log('Profile deleted');
      
      $('#deleteProfileModal').modal('hide');
    }
  
    document.getElementById('deleteProfileBtn').addEventListener('click', showDeleteProfileModal);
</script>
  


{% endblock %}
