{% load web_tags %}
{% load static %}
{% load i18n %}

<style>
    @media (max-width: 768px) {
        .prof-content-links-cont {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
        {#.profile-menu-item {#}
        {#    align-items: flex-start !important;#}
        {#        height: 40px;#}
        .profile-menu-item{
            align-items: flex-start !important;
        }

    }
</style>


<link rel="stylesheet" href="{% static 'web/css/profile_content_itemsCSS.css' %}">

<div class="prof-content-links-cont">
    <a href="?tab=articles" class="profile-menu-item {% if request.GET.tab == 'articles' or not request.GET.tab %}selected{% endif %}" data-content="articles">
        <span>{% trans 'ArticlesTabLabel' %}&nbsp;</span> <span class="expert-profile-title-content-number">{{ experts_articles_count }}</span>
    </a>

    <a href="?tab=researches" class="profile-menu-item {% if request.GET.tab == 'researches' %}selected{% endif %}" data-content="researches">
        <span>{% trans 'ResearchesTabLabel' %}&nbsp;</span> <span class="expert-profile-title-content-number">0</span>
    </a>

    <a href="?tab=questions" class="profile-menu-item {% if request.GET.tab == 'questions' %}selected{% endif %}" data-content="questions">
        <span>{% trans 'QuestionsTabLabel' %}&nbsp;</span> <span class="expert-profile-title-content-number">0</span>
    </a>

    <a href="?tab=consultations" class="profile-menu-item {% if request.GET.tab == 'consultations' %}selected{% endif %}" data-content="consultations" onclick="getUsersAppointments()">
        <span>{% trans 'ConsultationsTabLabel' %} &nbsp;</span><span class="expert-profile-title-content-number">{{ users_appointment_cnt }}</span>
    </a>

    <a href="?tab=reviews" class="profile-menu-item {% if request.GET.tab == 'reviews' %}selected{% endif %}" data-content="reviews">
        <span> {% trans 'ReviewsTabLabel' %} &nbsp;</span> <span class="expert-profile-title-content-number">0</span>
    </a>

    <a href="?tab=projects" class="profile-menu-item {% if request.GET.tab == 'projects' %}selected{% endif %}" data-content="projects">
        <span> {% trans 'ProjectsTabLabel' %} &nbsp;</span> <span class="expert-profile-title-content-number">0</span>
    </a>
</div>





<div id="content-container">
    {% if request.GET.tab == "articles" or not request.GET.tab %}
     {% include 'posts/article/article-profile-list.html' with user=user %}
    {% elif request.GET.tab == "researches" %}
     researches_template
    {% elif request.GET.tab == "questions" %}
    questions_template
    {% elif request.GET.tab == "consultations" %}
        <div id="consultations" class="expert-content" >
            {% include 'components/appointment/calendar.html' %}
        </div>
    {% elif request.GET.tab == "reviews" %}
       reviews_template
    {% elif request.GET.tab == "projects" %}
        {% include 'project_list.html' with user=user %}
    {% endif %}
</div>


<script>

    $(document).ready(function () {
        $('[data-content="consultations"]').click()
    })

    $(document).ready(function () {
        // Check if a tab is already selected
        if (!window.location.search) {
            // If not, select the articles tab
            $('[data-content="articles"]').click()
        }
    })

</script>