{% load web_tags %}
{% load static %}
{% load i18n %}



<div class="prof-content-links-cont">
    <div class="profile-menu-item" data-content="articles"
         onclick="showContent('articles')">{% trans 'ArticlesTabLabel' %} &nbsp;<span
            class="expert-profile-title-content-number">{{ experts_articles_count }}</span>
    </div>

    <div class="profile-menu-item" data-content="researches"
         onclick="showContent('researches')">{% trans 'ResearchesTabLabel' %} &nbsp;
        <span class="expert-profile-title-content-number">{{ experts_researches_count }}</span>
    </div>

    <div class="profile-menu-item" data-content="questions"
         onclick="showContent('questions')">{% trans 'QuestionsTabLabel' %} &nbsp;
        <span class="expert-profile-title-content-number">{{ experts_questions_count }}</span>
    </div>

    <div class="profile-menu-item" data-content="consultations"
         onclick="showContent('consultations');getUsersAppointments()">{% trans 'ConsultationsTabLabel' %}
        <span class="expert-profile-title-content-number">&nbsp;{{ users_appointment_cnt }}</span>
    </div>

    <div class="profile-menu-item" data-content="reviews"
         onclick="showContent('reviews')">{% trans 'ReviewsTabLabel' %}
    </div>

<!--    <div class="profile-menu-item" data-content="notifications" onclick="showContent('notifications')">Уведомления</div>-->

    <div class="profile-menu-item" data-content="projects" onclick="showContent('projects');getUsersProjects()">
        Проекты
    </div>
</div>

<div id="articles" class="expert-content" style="display: none;">
    123
    {% for article in experts_articles %}

    <div class="expert-content-cont">

            <span class="article-title-loop-exp"><a href="{% url 'article_detail' article.slug %}"
                                                    style="text-decoration: none;color: #36364b;">{{ article.title }}</a></span>
        <span class="article-content-loop-exp">{{ article.description }}</span>
        <span class="link-read-post">
                        <a href="{{ article.get_absolute_url }}" style="color:black;"
                           class="link-read-post">{% trans 'ReadPostLabel' %} &nbsp;
                            <i class="bi bi-chevron-down" style="color:black; scale:1.3"></i>
                        </a>
                    </span>

        <div class="article-comments-andshare-cont-exp">
            <div class="article-comments-exp">
                <i class="bi bi-chat-left-text" style="color:grey;"></i>&nbsp; 104
            </div>
            <div class="article-share-exp">
                <i class="bi bi-calendar2-week"
                   style="color:grey; "></i>&nbsp; {{ article.time_update|custom_time_display }}

            </div>
        </div>

    </div>

    <hr>

    {% endfor %}
</div>

<div id="researches" class="expert-content" style="display: none;">
    <span>test research</span>
    {% for research in experts_researches %}
    {% endfor %}
</div>

<div id="questions" class="expert-content" style="display: none;">
    <span>test questions</span>
    {% for research in experts_researches %}
    {% endfor %}
</div>

<div id="consultations" class="expert-content" style="display: none;">
    <div id="event-calendar"></div>

    <div>
        <div style="display: flex;justify-content: space-evenly;margin-top: 10px;">
            <div style="display: flex; align-items: center; ">
                <div style="width: 30px; height: 20px; background-color: #0dcaf0; margin-right: 5px;"></div>
                <span>- Новый</span>
            </div>
            <div style="display: flex; align-items: center; ">
                <div style="width: 30px; height: 20px; background-color: #e3aa00; margin-right: 5px;"></div>
                <span>- Подтвержден</span>
            </div>
            <div style="display: flex; align-items: center;">
                <div style="width: 30px; height: 20px; background-color: red; margin-right: 5px;"></div>
                <span>- Отклонен</span>
            </div>
            <div style="display: flex; align-items: center; ">
                <div style="width: 30px; height: 20px; background-color: brown; margin-right: 5px;"></div>
                <span>- Отменен</span>
            </div>
            <div style="display: flex; align-items: center; ">
                <div style="width: 30px; height: 20px; background-color: #008000; margin-right: 5px;"></div>
                <span>- Оплачен</span>
            </div>
        </div>
    </div>

</div>

<div id="reviews" class="expert-content" style="display: none;">
    <span>test reviews</span>
    {% for research in experts_researches %}
    {% endfor %}
</div>

<div id="projects" class="expert-content" style="display: none; padding:20px">





    <div style="display:flex; justify-content:space-between; margin-bottom:30px">

        <input type="text" class="project-search-bar" placeholder="Название проекта">

        <a href="{% url 'project_add' %}" class="btn btn-primary" role="button" aria-pressed="true">Добавить проект</a>

        <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px !important;">
                  Project Category
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Стратегия</a>
                  <a class="dropdown-item" href="#">Эффективность</a>
                  <a class="dropdown-item" href="#">KPI и мотивация</a>
              </div>
        </div>
    </div>

    <div id="id_project_catalog" style="display:flex; justify-content: space-between; "></div>

    <div id="id_project" style="display:flex; flex-direction: column">


        <div style="display: flex;  margin: 5px; gap:5px ;">
            <div class="client-year-cont">
                <div class="project-customer"></div>
                <div class="project-year"></div>
            </div>
            <div class="edit-project-search-bar">
                <div class="project-name"></div>
            </div>
        </div>


        <div style="display: flex;margin: 5px">

            <div class="pentagon">
                <div class="project-goals-caption" style="margin: 5px">Цели проекта</div>
                <div class="project-goals" style="margin: 5px"></div>
            </div>
            <div class="project-information-cont">

                <div class="project-users-info">
                    <div>
                        <div class="project-key-results-caption">Ключевые результаты проекта</div>
                        <div class="project-key-results"></div>
                    </div>
                    <div class="member-box">
                        <div class="project-files"></div>
                        <div class="project-members-container">
                            <div class="project-members-caption">Участники</div>
                            <div class="project-members"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <style>

        .item-project {
            width: 20%;
            height: 200px;
            border: 3px solid #294e8e;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            cursor: pointer;
            padding: 5px;
            gap: 10px;
        }

        .item-project:hover {
            background-color: #4472c4;
            color: white;
        }

        .selectedProj {
            background-color: #4472c4 !important;
            color: white;
            border: 3px solid #294e8e !important;
        }

        .item-project-name {
            margin: 5px;
        }

        .item-project-year {
            margin: 5px;
            font-weight: 600;
            font-size: 16px
        }

        #id_project {
            border: 3px solid #294e8e;
            margin-top: 20px;
            padding: 20px;
        }

        .project-name {
            width: 100%;
            text-align: center;
            font-size: 18px;
            justify-content: center;
            display: flex;
            font-style: italic;
            font-weight: 600;
        }

        .member-img {
            width: 40px;
            border-radius: 50%;
            height: 40px;
            margin: 0px 10px 5px 10px;
        }

        .project-tab-cont{
            display:flex;
            justify-content: space-between;
            margin: 20px 0px 30px 0px;
        }

        .project-tab{
            display: flex;
            border-radius: 20px;
            background-color: #bfbfbf;
            color: white;
            padding: 5px 20px 5px 20px;
            border: grey;
            width: 20%;
            justify-content: center;
            font-weight: 500;
            align-items: center;
            cursor:pointer;
        }

        .project-icon-cont{
            display:flex;
            gap: 5px;
            align-items: center;
        }

        .project-icon-main-cont{
            display:flex;
            gap: 5px;
            justify-content: space-evenly;
        }

        .edit-project-search-bar{
            display: flex;
            border-radius: 20px;
            padding: 5px;
            border: 2px solid grey;
            justify-content: center;
            width:90%;
            align-items: center;
        }
        .project-search-bar{
            display: flex;
            border-radius: 20px;
            padding: 5px;
            border: 2px solid grey;
            justify-content: center;
            width: 50%;
            text-align: center;
            align-items: center;
            height: fit-content;
        }

        .client-year-cont{
            display: flex;
            flex-direction: column;
            font-weight: 600;
            width:30%
        }

        .pentagon {
            width: 30%;
            height: 200px;
            background-color: #edebff;
            clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
            padding: 10px;
            margin-right: 20px;
        }

        .project-information-cont{
            display: flex;
            background-color: #edebff;
            flex-direction: column;
            width: 100%;
            padding: 10px 20px 10px 10px;
        }

        .project-users-info{
            display: flex;
            justify-content: space-between;
        }

        .member-box{
            border-radius: 10px 10px 0 0;
            border: 1px solid #adadad;
            border-top: none;
            border-radius: 10px;
            padding: 0px 10px 10px 10px;
        }

        .project-members-caption {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }


    </style>

    <script>

        function selectProjectTab(tabIndex) {
            $('.project-tab').removeClass('selectedProj');

            $(`.project-tab:eq(${tabIndex})`).addClass('selectedProj');
        }



        let userProjects = []

        function loadProject(project_idx) {
            const selectedProject = userProjects[project_idx];

            $('.item-project').removeClass('selectedProj');

            $(`.item-project:eq(${project_idx})`).addClass('selectedProj');

            const projectCustomerCont = $('.project-customer');
            projectCustomerCont.html('Клиент:' + selectedProject.customer.name)

            const projectYearCont = $('.project-year');
            projectYearCont.html('Год:' + selectedProject.year)

            const projectGoalsCont = $('.project-goals');
            projectGoalsCont.html('' + selectedProject.goals)

            const projectNameCont = $('.project-name');
            projectNameCont.html('' + selectedProject.name)

            const projectKeyResultsCont = $('.project-key-results');
            projectKeyResultsCont.html('');
            projectKeyResultsCont.append(`<ul>`)
            selectedProject.key_results.map( (key_res) => {
                projectKeyResultsCont.find('ul').append(`<li>${key_res}</li>`)
            })


            const projectMembersFieldSetCont = $('.project-members');

            projectMembersFieldSetCont.html('');
            selectedProject.members.map((member) => {
                projectMembersFieldSetCont.append(`<a href="/experts/${member.id}"><img class="member-img" src="${member.profile_photo}" />${member.last_name} ${member.first_name}</a>`)
            })
        }


        function getUsersProjects() {
            $.ajax({
                url: `/expert/projects/json`,
                type: 'GET',
                data: {
                    "author": {{ request.user.id }},
<!--                    "name": "test"-->
                },
                success: function (response) {
                    console.log(response.results);
                    userProjects = response.results;
                    const projectListCont = $('#id_project_catalog');
                    projectListCont.html('');
                    response.results.map((project, index) => {
                        projectListCont.append(`
                            <div class="item-project" onclick="loadProject(${index})">
                                <div class="item-project-name">${project.name}</div>
                                <div class="item-project-year">${project.year} г.</div>
                                <div class="project-icon-main-cont">
                                    <div class="project-icon-cont"><i class="bi bi-eye" style="font-size: 24px"></i> 46 </div>
                                    <div class="project-icon-cont"><i class="bi bi-hand-thumbs-up" style="font-size: 24px"></i> 46 </div>
                                </div>
                            </div>
                        `);
                    });

                    // load first project as defualt
                    if (userProjects.length > 0) {
                        loadProject(0);
                    }
                }
            });
        }


    </script>
</div>


<script>
    function showContent(contentId) {

        $('.expert-content').each(function () {

            if ($(this).attr("id") == contentId) {
                $(this).show()
            } else {
                $(this).hide()
            }

        })

        $('.profile-menu-item').each(function () {

            if ($(this).attr("data-content") == contentId) {
                $(this).addClass('selected')
            } else {
                $(this).removeClass('selected')
            }

        })
    }

    $(document).ready(function () {
        showContent('articles')
    })

</script>