{% load web_tags %}
{% load static %}
{% load i18n %}

<style>
    @media (max-width: 768px) {
        .prof-content-links-cont {
            flex-wrap: wrap;
        }
    }
</style>


<link rel="stylesheet" href="{% static 'web/css/profile_content_itemsCSS.css' %}">

<div class="prof-content-links-cont">
    <div class="profile-menu-item {% if request.GET.tab == "articles" or not request.GET.tab %}selected{% endif %}" data-content="articles"
         onclick="window.location.href='?tab=articles'">{% trans 'ArticlesTabLabel' %} &nbsp;<span
            class="expert-profile-title-content-number">{{ experts_articles_count }}</span>
    </div>

    <div class="profile-menu-item {% if request.GET.tab == "researches" %}selected{% endif %}" data-content="researches"
         onclick="window.location.href='?tab=researches'">{% trans 'ResearchesTabLabel' %} &nbsp;
        <span class="expert-profile-title-content-number">{{ experts_researches_count }}</span>
    </div>

    <div class="profile-menu-item {% if request.GET.tab == "questions" %}selected{% endif %}" data-content="questions"
         onclick="window.location.href='?tab=questions'">{% trans 'QuestionsTabLabel' %} &nbsp;
        <span class="expert-profile-title-content-number">{{ experts_questions_count }}</span>
    </div>

    <div class="profile-menu-item {% if request.GET.tab == "consultations" %}selected{% endif %}" data-content="consultations"
         onclick="window.location.href='?tab=consultations';getUsersAppointments()">{% trans 'ConsultationsTabLabel' %}
        <span class="expert-profile-title-content-number">&nbsp;{{ users_appointment_cnt }}</span>
    </div>

    <div class="profile-menu-item {% if request.GET.tab == "reviews" %}selected{% endif %}" data-content="reviews"
         onclick="window.location.href='?tab=reviews'">{% trans 'ReviewsTabLabel' %}
    </div>

    <div class="profile-menu-item {% if request.GET.tab == "projects" %}selected{% endif %}" data-content="projects" onclick="window.location.href='?tab=projects';">
        Проекты
    </div>
</div>

<div id="content-container">
    {% if request.GET.tab == "articles" %}
     {% include 'posts/article/article-profile-list.html' with user=user %}
    {% elif request.GET.tab == "researches" %}
     researches_template
    {% elif request.GET.tab == "questions" %}
    questions_template
    {% elif request.GET.tab == "consultations" %}
       {% include 'components/appointment/calendar.html' %}
    {% elif request.GET.tab == "reviews" %}
       reviews_template
    {% elif request.GET.tab == "projects" %}
        {% include 'project_list.html' with user=user %}
    {% else %}
        {% include 'posts/article/article-profile-list.html' with user=user %}
    {% endif %}
</div>