{% load i18n %}
{% load web_tags %}
{% load static %}

<style>
    @media (max-width: 768px) {
        .prof-user-setting {
            display: flex;
            font-family: sans-serif;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        }

    }

</style>

<div class="profile-info-cont">

    {% include 'components/global_profile_information.html' %}


</div>
<div class="prof-user-setting" >
    {% include buttons_template with user=client %}
</div>