<!-- article_list.html -->
{% extends 'basePostList.html' %}
{% load web_tags %}
{% load static %}

{% block title %}
Статьи
{% endblock %}


{% block posts_content %}


	<link rel="stylesheet" href="{% static 'web/css/expert_list.css' %}">

	<div class="articles-main-cont">	

		<div class="search-and-cat-cont">

			<input type="search" class="article-search-cont"
                    placeholder="Поиск по имени" onkeypress="searchByName(event)" value="{{ search_q }}" />

			<script>
				function searchByName(e) {
					if (e.key === "Enter") {
						const searchValue = e.target.value.trim();
						if (searchValue !== "") {
							window.location.href = "/experts/search/?q=" + encodeURIComponent(searchValue);
						}
					}
				}

			</script>


			<div class="catagory-cont">

				<div class="dropdown" style="display:flex ; align-items:center">

					<button class="expert-list-dropdown dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false" >
						<span class="catagory-text"> Рейтинг: &nbsp;</span>
						<span class="catagory-choose"> 4 и выше  </span>  
					</button>

					<ul class="dropdown-menu" aria-labelledby="categoryDropdown">
						<li><a class="dropdown-item" href="#">3 и выше </a></li>
						<li><a class="dropdown-item" href="#">4 и выше </a></li>
						<li><a class="dropdown-item" href="#">5</a></li>
					</ul>

				</div>

				{% include "components/post_category_filter.html" %}
                
			</div>
			
		</div>

		{% for expert in experts %}

		<div class="expert-prof-cont" >

			<div class="expert-list-prof-pic">

				<div class="avatar-container">
					<img src="{{ expert.profile.avatar.url }}" alt="Random Image" class="img-fluid" />
				</div>

				<span class="rating-span">
				<i class="bi bi-star-fill" style="color: #e9be50;" ></i> 
					&nbsp; Рейтинг: 4.5
				</span>

			</div>

			<div class="expert-list-main-content">
			
				<div class="expert-list-title">{{expert.first_name}} {{expert.last_name}}</div>

				<div class=" expert-list-reasearch-cont">
					<span class="research-catagory-container"> Финансы </span>
				</div>

				<span>{{expert.expertprofile.about}}
					<a href="{% url 'expert_profile' expert.id %}" style="text-decoration:none">Читать ещё</a>
				</span>

				<div class="article-last">

					<div class="question-btn-and-money">
						<button type="button" class="btn expert-list-consult-btn" style="">
							Консультация
						</button>
						<div class="money-rate">{{expert.expertprofile.hour_cost}} Р/час</div>

					</div>

					<div class="expert-stats-an-other">
						10 статей • 30 опросов • 24 отзыва

					</div>

				</div>
				
			</div>

		</div>
			
		{% endfor %}

	</div>




{% endblock %}