{% extends 'base123.html' %}


{% block center_col %}


<div class="prof-page-cont">
  <a href="{% url 'index' %}" class="to-main-page"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16" style="font-weight: bold; color:#777786;">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg> &nbsp;На главную</a>

  <div class="profile-info-cont">

      <div class="top-half">

          <div class="prof-pic-cont">
            <img src="{{ expert.profile.avatar.url }}" alt="Avatar" style="border-radius: 50%; width: 100%; height: 100%; object-fit: cover;">
          </div>
      
          <div class="profile-information-cont">
              <div class="user-display-name">
                {{ customuser.last_name }} {{ expert.first_name }}
              </div>
              <div class="user-rating-cont">
                  <div class="user-rating">Rating: &nbsp;</div>
                  <div class="user-rate-and-stars">4.5 &nbsp;
                    {% for _ in "12345" %}
                      <i class="bi bi-star-fill" style="scale: 1; color: #e9be50;padding: 0 2px 0 2px"></i>
                    {% endfor %}
                  </div>
              </div>
              <div class="user-category-cont">
                  <div class="user-category">Эксперт в области:</div>
                  <div class="user-catagory-highlight">IT</div>
              </div>
              <div class="user-stats">10 статей • 30 исследований  • 24 отзыва</div>
              <div class="user-settings">

                  <!-- its public page, there is no settong button -->
                  <!-- <a class="profile-settings-btn">Настройки профиля</a> -->
                  <!-- a class="profile-logout-btn" href="{% url 'logout' %}">Выйти</a-->

              </div>
              
          </div>

      </div>

      <div class="bottom-half">
          <div class="bottom-info">
              <div class="prof-bottom-cont">
                  <span class="bottom-bold-text">Образование: &nbsp;</span>
                  <span class="">{{expert.expertprofile.education}}</span>
              </div>
              <div class="prof-bottom-cont">
                  <span class="bottom-bold-text">Опыт:&nbsp;</span>
                  <span class="">3 года</span>
              </div>
              <div class="prof-about-me-cont">
                {{expert.expertprofile.about}}
              </div>
              <div class="prof-bottom-cont">
                  <span class="bottom-bold-text">Стоимость консультации:&nbsp;</span>
                  <span class=""> {{expert.expertprofile.hour_cost}} ₽/час</span>
              </div>


          </div>
          <div class="profile-links">

            <span class="expert-profile-title-content"> Исследования &nbsp; <span class="expert-profile-title-content-number">({{experts_articles_count}})</span> </span>

            {% for article in experts_articles %}

              <span class="article-title-loop-exp">{{ article.title }}</span>
              <span class="article-content-loop-exp">{{ article.content }}</span>

              <div class="article-comments-andshare-cont-exp">
                <div class="article-comments-exp">
                  <i class="bi bi-chat-left-text" style="color:grey; scale:1"></i>
                  &nbsp; 104
                </div>
                
                <div class="article-share-exp">
                  <i class="bi bi-calendar2-week" style="color:grey; scale:1"></i>
				            &nbsp;  {{article.time_update|date:"d-m-Y H:i"}}
                </div>
              </div>

            {% endfor %}

          </div>

      </div>

  </div>
</div>

<!--  {{ customuser.email}}  -->

{% endblock %}
