{% load web_tags %}
{% load static %}


<style>


</style>

{% for expert in object_list %}
    <div class="expert-prof-cont basepost-content-mobile-bottom-padding">
        <div class="small-layout3 col-sm">
            <div class="prof-edit-rows">
                <div class="expert-list-prof-pic">
                    <div class="experts-list-avatar-container">
                        <img src="{{ expert.profile.avatar.url }}" alt="Random Image" class="img-fluid"/>
                    </div>

                    <div class="prof-edit-rows">
                        <div class="basepost-title">{{ expert.first_name }} <br> {{ expert.last_name }}</div>
                        {% include 'components/experts/rating.html' with user=expert %}
                    </div>

                </div>
                <div class="basepost-content-cont" style="padding: 10px">
                    <div class="category-container">
                        {% for exp_category in expert.expertprofile.expert_categories.all %}
                            <div class="user-catagory-highlight {{ exp_category.slug }}">
                                {{ exp_category.name }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="basepost-description">
                        {% autoescape off %}
                            {{ expert.expertprofile.about|truncatechars_html:105 }}
                        {% endautoescape %}
                        <a href="{% url 'expert_profile' expert.id %}" style="text-decoration:none">&nbsp;Читать
                            ещё</a>
                    </div>
                    <div class="col-sm user-stats" style="align-self: flex-start !important;">
                        {{ expert.expert_article_cnt }} {% get_write_phrase expert.expert_article_cnt 'статья статьи статей' %}
                        &nbsp;• &nbsp; 0 опросов &nbsp; • &nbsp; 0 отзывов
                    </div>
                    <div style="display: flex">
                        {% if request.user.id != expert.id %}
                            <a href="{% url 'appointment_add' expert.id %}" type="button"
                               class="btn btn-success expert-list-consult-btn">
                                Консультация
                            </a>
                            <span class="money-rate"> {{ expert.expertprofile.hour_cost }}  Р/час</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if not forloop.last %}
            <hr>
        {% endif %}
    </div>
{% endfor %}