{% extends 'basePostList.html' %}
{% load web_tags %}
{% load static %}

{% block title %}
Experts
{% endblock %}




{% block posts_content %}

	<style>

		.testing-class{
			display: flex;
			justify-content: space-evenly;
		}
		
		@media (max-width: 768px ) {

			.article-last {
				justify-content: space-between !important;
			}
			
		
			.small-layout {
				display: flex;
				flex-direction:column;
				width: 100%;
			}

			.article-last {
				gap:5px !important ;
				flex-direction: column !important;
			}

			.experts-list-main-cont {
			
				padding: 20px 10px 20px 10px !important;
		
			}

			

		}
		
		@media (min-width: 769px ) {
			.small-layout {
				display: flex;
				flex-direction:row !important;
				width: 100%;
			}

			.expert-stats-an-other {
				justify-content: flex-end !important;
			}
			
			

		}

		
	</style>

	<link rel="stylesheet" href="{% static 'web/css/expert_list.css' %}">

	<div class="experts-list-main-cont">

		<div class="experts-list-search-and-cat-cont">
		
			<div class="small-layout col-sm col-md gap-2">
				<div class="col-sm-12 col-md-5 ">
					<input type="search" class="experts-list-search-cont" placeholder="Поиск по имени" onkeypress="searchByName(event)" value="{{ search_q }}" />
				</div>
				<div class="col-sm-12 col-md-7 testing-class">
					<div class="dropdown" style="display: flex; align-items: center;">
						<button class="expert-list-dropdown dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="experts-list-catagory-text"> Рейтинг: &nbsp;</span>
							<span class="expert-list-catagory-choose"> 4 и выше  </span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="categoryDropdown">
							<li><a class="dropdown-item" href="#">3 и выше</a></li>
							<li><a class="dropdown-item" href="#">4 и выше</a></li>
							<li><a class="dropdown-item" href="#">5</a></li>
						</ul>
					</div>
					{% include "components/post_category_filter.html" %}
				</div>
			</div>
		</div>
		

		{% for expert in experts %}

		<div class="expert-prof-cont">
		
			<div class="small-layout3 col-sm">
				<div style="display:flex">
					<div class="expert-list-prof-pic">
						<div class="experts-list-avatar-container">
							<img src="{{ expert.profile.avatar.url }}" alt="Random Image" class="img-fluid" />
						</div>
						<span class="experts-list-rating-span">
							<i class="bi bi-star-fill" style="color: #e9be50;"></i>
							&nbsp; Рейтинг: 4.5
						</span>
					</div>
					<div class="expert-list-main-content">
						<div class="expert-list-title">{{expert.first_name}} {{expert.last_name}}</div>
						<div class="expert-list-cont">	                        
                            {% for exp_category in expert.expertprofile.expert_categories.all %}
								<div class="user-catagory-highlight {{exp_category.slug}}">
									{{ exp_category.name }}
								</div>
							{% endfor %}                                                            
						</div>
						<span>
							{{expert.expertprofile.about}}
							<a href="{% url 'expert_profile' expert.id %}" style="text-decoration:none">Читать ещё</a>
						</span>
						
					</div>
				</div>
				<div class="article-last">
					<div class="col-sm order-md-2 expert-stats-an-other">
						{{ expert.expert_article_cnt }} статей • 30 опросов • 24 отзыва
					</div>

					<div class="col-sm order-md-1 question-btn-and-money" style="display:flex;">
						<button type="button" class="btn expert-list-consult-btn">Консультация</button>
						<div class="money-rate">{{expert.expertprofile.hour_cost}} Р/час</div>
						
					</div>
					
				</div>
			</div>
		</div>
		
			
		{% endfor %}

	</div>

	<script>
		function searchByName(e) {
			if (e.key === "Enter") {
				const searchValue = e.target.value.trim();
				if (searchValue !== "") {
					window.location.href = "/experts/search/?q=" + encodeURIComponent(searchValue);
				}
			}
		}
	</script>

{% endblock %}