{% load web_tags %}

<style>
    @media (max-width: 768px) {
        .if-mobile-consult-btn {
            width: 100%;
            background-color: #6dc36b;
            border: none;
            padding: 10px;
            border-radius: 10px;
        }
    }

    .prof-consult-btn {
        background-color: #6dc36b;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
</style>

{% device_is_mobile as is_mobile %}
{% if is_mobile %}
    <!-- Mobile -->
    <div class="col-12 mt-2">
{% else %}
    <div class="row">
    <div class="col-sm-4 col-md-3-5">
        <!-- empty space (avatar cont)-->
    </div>
{% endif %}
<div class="col-sm-8 col-md-8-5">
    {% if user == request.user %}
        <button type="button" disabled
                class="btn btn-success w-100 w-md-auto rounded-2 py-2 px-3">
            Консультация
        </button>
    {% else %}
        <a href="{% url 'appointment_add' user.id %}" type="button"
           class="btn btn-success w-100 w-md-auto rounded-2 py-2 px-3">
            Консультация
        </a>
    {% endif %}
</div>
</div>
