{% load i18n %}
{% load web_tags %}
{% load static %}


<link rel="stylesheet" href="{% static 'web/css/profile.css' %}">


<style>
    @media (min-width: 768px) {
        .w-md-fit {
            width: fit-content !important;
        }
    }
</style>

<div class="d-flex flex-column flex-md-row gap-2">

    <div class="d-none d-sm-flex col-sm-3-5 justify-content-md-start">
        {# empty space #}
    </div>

    <div class=" col-sm-8-5 d-flex flex-column justify-content-evenly">
        {% if user == request.user %}

            <button type="button" disabled
                    class="btn btn-success g-green-bg rounded-2 py-2 px-3 w-100 w-md-fit mt-2">
                {% trans 'ConsultLabel' %}
            </button>

        {% else %}

            <a href="{% url 'appointment_add' user.id %}" type="button"
               class="btn btn-success g-green-bg rounded-2 py-2 px-3 w-100 w-md-fit mt-2">
                {% trans 'ConsultLabel' %}
            </a>
        {% endif %}
    </div>
</div>