{% extends 'base123.html' %}
{% load static %}
{% load i18n %}


{% block center_col %}
    <div class="element-container">
        <div class="g-fs-header-20 mb-3">{% trans 'ListOfUnverifiedExpertsLabel' %}</div>

        {% if experts_anketas %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="g-fs-14">{% trans 'LastNameLabel' %}</th>
                            <th class="g-fs-14">{% trans 'FirstNameLabel' %}</th>
                            <th class="g-fs-14">{% trans 'PhoneNumberLabel' %}</th>
                            <th class="g-fs-14">{% trans 'EmailLabel' %}</th>
                            <th class="g-fs-14">{% trans 'ActionsLabel' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anketa in experts_anketas %}
                            <tr class="g-fs-14 mb-3">
                                <td>{{ anketa.user.last_name }}</td>
                                <td>{{ anketa.user.first_name }}</td>
                                <td>{{ anketa.user.phone_number }}</td>
                                <td>{{ anketa.user.email }}</td>
                                <td>
                                    <a href="{% url 'manage_unverified_experts_profile' anketa.pk %}"
                                       class="g-fs-14 text-black text-decoration-none">
                                        {% trans 'ViewProfileLabel' %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <span class="g-fs-14">{% trans 'NoUnverifiedExpertsLabel' %}</span>
        {% endif %}
    </div>
{% endblock %}