{% extends 'base020.html' %}
{% load static %}
{% load i18n %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/profile_edit.css' %}">
{% endblock %}

{% block center_col %}
    
    <div class="list-main-containers" style="padding:20px; margin-top:0px;">

        <div class="edit-prof-info-cont">

            <a href="{% url 'manage_unverified_experts_list' %}"
               style="cursor: pointer; text-decoration: none; outline: none; color:grey">
                <i class="bi bi-chevron-left"
                   style="font-weight: bold; color:#777786;"></i> {% trans 'BackButtonLabel' %}
            </a>

            <span class="verify-detail-title">{% trans 'VerifyUsersTitleLabel' %}</span>

            <div><img src="{{ unverified_expertanketa.user.profile.avatar.url }}" /> </div>
            <div id="expert_name">{{ unverified_expertanketa.user.last_name }} {{ unverified_expertanketa.user.first_name }}</div>

            <div>Данные для верификации</div>

            <div class="expert-edit-rows">


                <div class="prof-edit-rows">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'AboutMeLabel' %} </div>
                        <div>
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.about != unverified_expertanketa.user.expertprofile.about %}
                                {{ unverified_expertanketa.user.expertprofile.about }} -> {{ unverified_expertanketa.about }}
                            {% else %}
                                {{ unverified_expertanketa.about }}
                            {% endif %}                         
                        </div>
                    </div>
                </div>

                <div class="prof-edit-input-title1">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'CategoryLabel' %} </div>
                        <div>
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.expert_categories.all != unverified_expertanketa.user.expertprofile.expert_categories.all %}
                                {{ unverified_expertanketa.user.expertprofile.expert_categories.all | join:", " }} -> {{ unverified_expertanketa.expert_categories.all | join:", " }}
                            {% else %}
                                {{ unverified_expertanketa.expert_categories.all | join:", " }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="prof-edit-input-title1">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'ExperienceLabel' %} </div>
                        <div>
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.experience != unverified_expertanketa.user.expertprofile.experience  %}
                                {{ unverified_expertanketa.user.expertprofile.experience }} -> {{ unverified_expertanketa.experience }}
                            {% else %}
                                {{ unverified_expertanketa.experience }}
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="prof-edit-input-title1">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'HourRateLabel' %} </div>
                        <div> 
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.hour_cost != unverified_expertanketa.user.expertprofile.hour_cost %}
                                {{ unverified_expertanketa.user.expertprofile.hour_cost }} -> {{ unverified_expertanketa.hour_cost }}
                            {% else %}
                                {{ unverified_expertanketa.hour_cost }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="prof-edit-input-title1">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'HourRateLabel' %} </div>
                        <div> 
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.age != unverified_expertanketa.user.expertprofile.age %}
                                {{ unverified_expertanketa.user.expertprofile.age }} -> {{ unverified_expertanketa.age }}
                            {% else %}
                                {{ unverified_expertanketa.age }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="prof-edit-info-cont1">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'EducationLabel' %}</div>
                        <div style="display: flex; flex-direction: column">
                        {% for edu in unverified_expertanketa.education.all %}
                            <div>{{ edu.educational_institution }}</div>
                        {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="prof-edit-info-cont">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'hhLinkLabel' %} </div>
                        <div>
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.hh_link != unverified_expertanketa.user.expertprofile.hh_link %}
                                {{ unverified_expertanketa.user.expertprofile.hh_link }} -> {{ unverified_expertanketa.hh_link }}
                            {% else %}
                                {{ unverified_expertanketa.hh_link }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="prof-edit-info-cont">
                    <div class="anketa-abt-me">
                        <div class="label-verify-users"> {% trans 'linkedInLinkLabel' %} </div>
                        <div>
                            {% if unverified_expertanketa.user.expertprofile and unverified_expertanketa.linkedin_link != unverified_expertanketa.user.expertprofile.linkedin_link %}
                                {{ unverified_expertanketa.user.expertprofile.linkedin_link }} -> {{ unverified_expertanketa.linkedin_link }}
                            {% else %}
                                {{ unverified_expertanketa.linkedin_link }}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>


            </div>


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="verification-btns-cont">
                    <button type="submit" name="action" value="approve"
                            class="btn btn-success">{% trans 'ApproveButtonLabel' %}</button>
                    <button type="submit" name="action" value="deny"
                            class="btn btn-danger">{% trans 'DenyButtonLabel' %}</button>
                </div>

            </form>


        </div>

    </div>

{% endblock %}
