{% extends 'base123.html' %}
{% load web_tags %}
{% load static %}

{% block center_col %}

    <link rel="stylesheet" href="{% static 'web/css/profile.css' %}">

    <div class="list-main-containers" style="padding:20px; margin-top:0px;">

        <a href="{% url 'index' %}" class="to-main-page">
            <i class="bi bi-chevron-left chevro-left-css"></i>
            &nbsp;на главную
        </a>

        <div class="profile-info-cont">
    
            <div class="top-half">
    
                <div class="prof-page-pic-cont">
                    <img src="{{ request.user.profile.avatar.url }}" alt="Avatar"
                         style="border-radius: 50%;width: 160px;height: 160px;object-fit: cover;">
                </div>
    
                <div class="profile-information-cont-client">
    
                    <div class="user-display-name">
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </div>
    
                    <div class="span-user-type">
    
                        {% if user.profile.type == 0 %}
                            Клиент
                        {% endif %}
    
                    </div>
    
                    <div class="user-settings">
    
                        <a href="{% url 'profile_edit' %}" type="button"
                           class="btn prof-settings-btn">
                            Настройки профиля
                        </a>
    
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="btn prof-logout-btn" type="submit">
                                Выйти
                            </button>
                        </form>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
        {% include 'profile/profile_content_items.html' %}
    
    </div>

    
        

    {% include 'components/appointment/calendar.html' with calendar_event_id='event-calendar' %}


{% endblock %}
