{% extends 'base123.html' %}
{% load web_tags %}
{% load static %}
{% load i18n %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/profile.css' %}?ver=0.01">
{% endblock %}

{% block center_col %}



    <div class="element-container">


        {% trans "ToMainPageLabel" as back_text %}
        {% back_button "index" back_text %}

        {% include 'components/clients/profile_info.html' with user=user profile=profile buttons_template='profile/expert/profile_buttons.html' %}


    </div>

    <div id="client-calendar" class="element-container mt-2" >
        {% include 'components/appointment/calendar_mobile.html' with calendar_event_id='event-calendar' %}
    </div>


{% endblock %}
