{% extends 'base123.html' %}
{% load static %}
{% load i18n %}
{% load web_tags %}
{% block extra_static %}
<link rel="stylesheet" href="{% static 'web/css/profile_edit.css' %}">
<link rel="stylesheet" href="{% static 'web/css/edit_expert_profile_mobile_css.css' %}">
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
{% endblock %}

{% block center_col %}


<div class="element-container">
    <div class="edit-prof-info-cont">

        {% trans "BackButtonLabel" as back_text %}
        {% back_button "profile" back_text %}

        <div>
            <span class="prof-edit-page-title">Настройки профиля ({{ request.user.email }})</span>
        </div>

        {{ user_form.errors }}
        {{ profile_form.errors }}
        {{ expert_profile_form.errors }}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="prof-edit-rows">
                <div class="prof-edit-duel-rows">
                    <div class="prof-edit-info-cont">
                        <label for="{{ user_form.first_name.id_for_label }}" class="prof-edit-input-labels">{{ user_form.first_name.label }}</label>
                        {{ user_form.first_name }}
                    </div>
                    <div class="prof-edit-info-cont">
                        <label for="{{ user_form.last_name.id_for_label }}" class="prof-edit-input-labels">{{ user_form.last_name.label }}</label>
                        {{ user_form.last_name }}
                    </div>
                </div>

                <div class="full-width">
                    <label for="{{ expert_profile_form.about.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.about.label }}</label>
                    {{ expert_profile_form.about }}

                    {% if grade %}
                        <p>Грейд: {{ grade.grade }}</p>
                        <p>Диапазон стоимости часа для вашего Грейда: от {{ grade.min_cost }} до {{ grade.max_cost }}</p>
                    {% else %}
                        <p>Нет данных для ваших points.</p>
                    {% endif %}
                </div>
            </div>

            <div class="expert-edit-rows">
                <div class="prof-edit-photo-cont">
                    <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="avatar-img">
                    <div class="avatar-info">
                        {% if profile_form.instance.avatar %}
                            <p class="avatar-current-file">На данный момент: <a href="{{ profile_form.instance.avatar.url }}" class="avatar-current-link">{{ profile_form.instance.avatar.name }}</a></p>
                        {% endif %}
                        <label for="id_avatar">Изменить:</label>
                        <input type="file" name="avatar" class="smaller-letters" accept="image/*" id="id_avatar">
                    </div>
                </div>
                <div class="prof-edit-duel-rows">
                    <div class="prof-edit-input-title">
                        <label for="{{ expert_profile_form.expert_categories.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.expert_categories.label }}</label>
                        <div class="profile-category-choose">
                             {{ expert_profile_form.expert_categories }}
                        </div>
                    </div>
                    <div class="prof-edit-input-title">
                        <label for="{{ expert_profile_form.experience.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.experience.label }}</label>
                        <div class="profile-category-choose">
                            {{ expert_profile_form.experience }}
                        </div>
                    </div>
                    <div class="prof-edit-input-title">
                        <label for="{{ expert_profile_form.hour_cost.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.hour_cost.label }}</label>
                        {% if grade %}
                            <input type="number" name="hour_cost" id="{{ expert_profile_form.hour_cost.id_for_label }}"
                                   min="{{ grade.min_cost }}" max="{{ grade.max_cost }}" step="1"
                                   value="{{ expert_profile_form.hour_cost.value }}" class="custom-form-css">
                        {% else %}
                            {{ expert_profile_form.hour_cost }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="expert-edit-rows">
                <div class="prof-edit-duel-rows">
                    <div class="prof-edit-info-cont">
                        <label for="{{ expert_profile_form.age.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.age.label }}</label>
                        {{ expert_profile_form.age }}
                    </div>
                </div>
            </div>
            <div class="expert-edit-rows">
                <div class="prof-edit-duel-rows">
                    <div class="prof-edit-info-cont">
                        <label for="{{ expert_profile_form.hh_link.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.hh_link.label }}</label>
                        {{ expert_profile_form.hh_link }}
                    </div>
                </div>
            </div>
            <div class="expert-edit-rows">
                <div class="prof-edit-duel-rows">
                    <div class="prof-edit-info-cont">
                        <label for="{{ expert_profile_form.linkedin_link.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.linkedin_link.label }}</label>
                        {{ expert_profile_form.linkedin_link }}
                    </div>
                </div>
            </div>
            <hr/>
            <!-- Добавляем формсет для образования -->
            <div class="education-formset-container">
                <span class="prof-edit-page-title">Образование</span>
                {{ education_expert_formset.management_form }}
                {% for form in education_expert_formset %}
                <div class="education-form col-12">
                    {{ form.id }}
                    {{ form.errors }}
                    <div class="row">
                        <div class="prof-edit-input-title1 col-6">
                            <label for="{{ form.education_type.id_for_label }}" class="prof-edit-input-labels">{{ form.education_type.label }}</label>
                            {{ form.education_type }}
                        </div>
                        <div class="prof-edit-input-title1 col-6" style="display: flex">
                            <label for="{{ form.specialized_education.id_for_label }}" class="prof-edit-input-labels" style="width: fit-content !important;">{{ form.specialized_education.label }}</label>
                            {{ form.specialized_education }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="prof-edit-input-title1 col-9">
                            <label for="{{ form.educational_institution.id_for_label }}" class="prof-edit-input-labels">{{ form.educational_institution.label }}</label>
                            {{ form.educational_institution }}
                        </div>
                        <div class="prof-edit-input-title1 col-3">
                            <label for="{{ form.diploma_number.id_for_label }}" class="prof-edit-input-labels">{{ form.diploma_number.label }}</label>
                            {{ form.diploma_number }}
                        </div>
                    </div>
                    {% if form.instance.id %}
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-danger delete-education-btn"
                                    data-education-id="{{ form.instance.id }}"
                                    data-education-name="{{ form.instance.educational_institution }}">
                                Удалить образование
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <!-- Button to add new education -->
                <button type="button" class="btn btn-secondary add-education-btn" style="margin-top: 20px">Добавить образование</button>
            </div>
            <hr/>
            <div class="prof-edit-bot-btns-cont">
                <button type="submit" class="btn btn-secondary prof-edit-save-btn">Сохранить изменения</button>
                <button type="button" class="btn btn-secondary prof-edit-delete-btn" id="deleteProfileBtn"
                        data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
                    Удалить профиль
                </button>
            </div>
        </form>

        <div class="modal fade" id="deleteEducationModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтверждение удаления</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить образование "<span id="educationNameToDelete"></span>"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteEducation">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="deleteProfileModal">
            <div class="modal-dialog" role="document">
                <form method="post">
                    <div class="modal-content modal-custom">
                        <div class="modal-header modal-header-custom">
                            <h4 class="modal-title">Вы действительно хотите удалить профиль?</h4>
                        </div>
                        <div class="modal-body">
                            <p>После удаления вы не сможете восстановить данные</p>
                        </div>
                        <div class="modal-footer modal-footer-custom">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script>
    const quill = new Quill('#{{ expert_profile_form.about.id_for_label }}', {
        theme: 'snow'
    });

    $(document).ready(function () {
        $('.add-education-btn').click(function () {
            const newForm = $('.education-form:last').clone();
            newForm.find('input').val('');
            newForm.find('select').val('');
            const formRegex = RegExp('form-(\\d+)-', 'g');
            const formNum = parseInt($('#id_form-TOTAL_FORMS').val());
            newForm.html(newForm.html().replace(formRegex, 'form-' + formNum + '-'));
            $('#id_form-TOTAL_FORMS').val(formNum + 1);
            newForm.insertBefore($(this));
        });

        $('.delete-education-btn').click(function () {
            var educationId = $(this).data('education-id');
            var educationName = $(this).data('education-name');
            $('#deleteEducationModal').data('education-id', educationId);
            $('#educationNameToDelete').text(educationName);
            $('#deleteEducationModal').modal('show');
        });

        $('#confirmDeleteEducation').click(function () {
            var educationId = $('#deleteEducationModal').data('education-id');
            $.ajax({
                url: '/education/' + educationId + '/delete/',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.success) {
                        $('#deleteEducationModal').modal('hide');
                        window.location.href = "{% url 'profile_edit' %}";
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr) {
                    alert('Error: ' + (xhr.responseJSON ? xhr.responseJSON.message : 'Unknown error occurred'));
                }
            });
        });
    });


</script>

{% endblock %}