{% extends 'base123.html' %}
{% load static %}
{% load i18n %}
{% load web_tags %}

{% block extra_static %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'web/css/profile_content_itemsCSS.css' %}">

    <link rel="stylesheet" href="{% static 'web/js/quill/2.0.3/quill.snow.css' %}">
    <script src="{% static 'web/js/quill/2.0.3/quill.js' %}"></script>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}



{% block center_col %}


    <style>
        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid #dadada !important;
            border-radius: 4px;
            padding: 5px !important;
            min-height: 42px !important;
            display: flex !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin: 2px !important;
        }

        .bi-trash:hover {
            color: red;
            cursor: pointer;
        }

        .ql-editor {
            font-size: 16px;
        }

        label[for="id_avatar"] {
            display: none;
        }
    </style>

    <div class="container-fluid mb-5 mb-sm-0 px-0 px-sm-3">

        <!-- Toasts -->
        <div class="position-relative" aria-live="polite" aria-atomic="true">
            <div class="toast-container position-fixed bottom-0 end-0 ">
                {% if user_form.errors or profile_form.errors or expert_profile_form.errors or education_expert_formset.errors %}
                    {% for field, errors in user_form.errors.items %}
                        {% for error in errors %}
                            <div class="toast align-items-center text-bg-danger border-0" role="alert"
                                 aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                            data-bs-dismiss="toast" aria-label="Close" style="width: 10%"></button>
                                    <div class="toast-body" style="width: 90%">
                                        {{ field }}: {{ error }} <!-- need to replace field with label -->
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% for field, errors in profile_form.errors.items %}
                        {% for error in errors %}
                            <div class="toast align-items-center text-bg-danger border-0" role="alert"
                                 aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                            data-bs-dismiss="toast" aria-label="Close" style="width: 10%"></button>
                                    <div class="toast-body" style="width: 90%">
                                        {{ field }}: {{ error }}  <!-- need to replace field with label -->
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% for field, errors in expert_profile_form.errors.items %}
                        {% for error in errors %}
                            <div class="toast align-items-center text-bg-danger border-0" role="alert"
                                 aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                            data-bs-dismiss="toast" aria-label="Close" style="width: 10%"></button>
                                    <div class="toast-body" style="width: 90%">
                                        {{ field }}: {{ error }}  <!-- need to replace field with label -->
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>


        <div class="element-container">

            {% trans "BackButtonLabel" as back_text %}
            {% back_button "profile" back_text %}

            <div class="mb-4">
                <h4 class="g-fs-header-20">Настройки профиля ({{ request.user.email }})</h4>
            </div>

            <form method="post" enctype="multipart/form-data" novalidate class="needs-validation">
                {% csrf_token %}
                {{ user_form.id }}
                {{ profile_form.id }}
                {{ expert_profile_form.id }}

                <div class="row mb-4">

                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <label for="{{ user_form.first_name.id_for_label }}" class="form-label">
                            {{ user_form.first_name.label }}
                        </label>

                        {{ user_form.first_name }}
                    </div>

                    <div class="col-12 col-md-6">

                        <label for="{{ user_form.last_name.id_for_label }}" class="form-label">
                            {{ user_form.last_name.label }}
                        </label>

                        {{ user_form.last_name }}
                    </div>
                </div>

                <div class="mb-4">
                    <label for="{{ expert_profile_form.about.id_for_label }}" class="form-label">
                        {{ expert_profile_form.about.label }}
                    </label>

                    {{ expert_profile_form.about }}
                    <div class="position-relative">
                        <!-- loading overlay -->
                        <div id="editor_loading"
                             class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center bg-light"
                             style="z-index: 1000;">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="id_about_editor" class="mb-3" style="height: 200px"></div>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-4">

                    <img src="{{ user.profile.avatar.url }}" alt="Avatar"
                         class="rounded-circle object-fit-cover"
                         style="height: 100px; width: 100px;">

                    <div class="ms-3 d-flex flex-column align-self-center">

                        {#                        {% if profile_form.instance.avatar %}#}
                        {#                            <small class="text-black-50 mb-1">#}
                        {#                                На данный момент:#}
                        {#                                <a href="{{ profile_form.instance.avatar.url }}" class="text-decoration-none">#}
                        {#                                    {{ profile_form.instance.avatar.name }}#}
                        {#                                </a>#}
                        {#                            </small>#}
                        {#                        {% endif %}#}

                        <input type="file" name="avatar" class="form-control form-control-sm" accept="image/*"
                               id="id_avatar">

                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 col-md-6 mb-3 mb-md-0 p-1">
                        <label for="{{ expert_profile_form.expert_categories.id_for_label }}"
                               class="form-label fw-semibold">
                            {{ expert_profile_form.expert_categories.label }}
                        </label>

                        {{ expert_profile_form.expert_categories }}
                    </div>

                    <div class="col-12 col-md-2 mb-3 mb-md-0 p-1">
                        <label for="{{ expert_profile_form.experience.id_for_label }}" class="form-label fw-semibold">
                            {{ expert_profile_form.experience.label }}
                        </label>

                        {{ expert_profile_form.experience }}
                    </div>

                    <div class="col-12 col-md-4 p-1">
                        <div class="d-flex align-items-center gap-2">

                            <label for="{{ expert_profile_form.hour_cost.id_for_label }}"
                                   class="form-label fw-semibold ">
                                {{ expert_profile_form.hour_cost.label }}
                            </label>

                            <i class="bi bi-question-circle text-black-50 align-self-baseline"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Диапазон стоимости часа для вашего Грейда: от {{ grade.min_cost }} до {{ grade.max_cost }}">
                            </i>
                        </div>
                        {% if grade %}

                            <input type="number"
                                   name="hour_cost"
                                   id="{{ expert_profile_form.hour_cost.id_for_label }}"
                                   min="{{ grade.min_cost }}"
                                   max="{{ grade.max_cost }}"
                                   step="1"
                                   value="{{ expert_profile_form.hour_cost.value }}"
                                   class="form-control"
                                   placeholder="{{ grade.min_cost }}-{{ grade.max_cost }}">
                        {% else %}
                            {{ expert_profile_form.hour_cost }}
                        {% endif %}
                    </div>


                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                            const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                                return new bootstrap.Tooltip(tooltipTriggerEl);
                            });
                        });
                    </script>

                </div>

                <div class="mb-4">
                    <label for="{{ expert_profile_form.age.id_for_label }}" class="form-label fw-semibold">
                        {{ expert_profile_form.age.label }}
                    </label>

                    {{ expert_profile_form.age }}
                </div>

                <div class="mb-4">
                    <label for="{{ expert_profile_form.hh_link.id_for_label }}" class="form-label fw-semibold">
                        {{ expert_profile_form.hh_link.label }}
                    </label>

                    {{ expert_profile_form.hh_link }}
                </div>
                <div class="mb-4">

                    <label for="{{ expert_profile_form.linkedin_link.id_for_label }}" class="form-label fw-semibold">
                        {{ expert_profile_form.linkedin_link.label }}
                    </label>
                    {{ expert_profile_form.linkedin_link }}
                </div>

                <div class="pt-4">
                    <div class="d-flex align-items-center gap-2 mb-3">

                        <h5 class="mb-0">Образование</h5>

                        <button type="button"
                                class="btn btn-success g-fs-14 g-green-bg btn-sm add-education-btn-trigger">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>

                    {{ education_expert_formset.management_form }}

                    {% for form in education_expert_formset %}
                        <hr/>
                        <div class="education-form">
                            {{ form.id }}
                            {{ form.errors }}
                            <div class="col d-flex justify-content-end align-items-center">
                                {% if form.instance.id %}
                                    <button type="button"
                                            class="btn btn-link text-danger p-0 delete-education-btn"
                                            data-education-id="{{ form.instance.id }}"
                                            data-education-name="{{ form.instance.educational_institution }}">
                                        <i class="bi bi-trash fs-5"></i>
                                    </button>
                                {% endif %}
                            </div>

                            <div class="row mb-3 justify-content-between">
                                <div class="col-12 col-md-6 mb-3 mb-md-0">

                                    <label for="{{ form.education_type.id_for_label }}" class="form-label fw-semibold">
                                        {{ form.education_type.label }}
                                    </label>

                                    {{ form.education_type }}
                                </div>
                                <div class="col-12 col-md-6 d-flex align-items-end">

                                    <div class="d-flex align-items-center gap-2 w-100">
                                        <div class="d-flex">

                                            <label for="{{ form.specialized_education.id_for_label }}"
                                                   class="form-label fw-semibold">
                                                {{ form.specialized_education.label }}
                                            </label>
                                        </div>

                                        <div class="form-check mb-2">
                                            {{ form.specialized_education }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12 col-md-7 mb-3 mb-md-0">

                                    <label for="{{ form.educational_institution.id_for_label }}" class="form-label">
                                        {{ form.educational_institution.label }}
                                    </label>

                                    {{ form.educational_institution }}
                                </div>
                                <div class="col-12 col-md-5">

                                    <label for="{{ form.diploma_number.id_for_label }}" class="form-label">
                                        {{ form.diploma_number.label }}
                                    </label>

                                    {{ form.diploma_number }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div id="new-education-forms-container"></div>
                </div>

                <hr class="my-4">

                <div class="d-flex flex-column flex-md-row gap-3">
                    {% include "components/loadingBtn.html" with button_text="Сохранить изменения" loading_text="Сохранение..." %}

                    <button type="button"
                            class="btn btn-outline-danger g-fs-14 "
                            id="deleteProfileBtn"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteProfileModal">
                        Удалить профиль
                    </button>
                </div>
            </form>

            <div class="modal fade" id="deleteEducationModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение удаления</h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить образование "<span id="educationNameToDelete"></span>"?
                            </p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-danger" id="confirmDeleteEducation">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteProfileModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <form method="post">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h5 class="modal-title fw-normal fs-5">Удалить профиль</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body pt-0">
                                <p class="fw-semibold">Для подтверждения введите пароль</p>
                                <input type="password"
                                       required
                                       placeholder="Ваш пароль"
                                       class="form-control">
                            </div>
                            <div class="modal-footer border-0 justify-content-between ">
                                <button type="submit" class="btn btn-danger">
                                    Удалить профиль
                                </button>
                                <button type="button"
                                        class="btn btn-outline-secondary g-green-bg"
                                        data-bs-dismiss="modal">
                                    Отмена
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script>
        $('.add-education-btn-trigger').click(function () {
            // Clone the last form
            const newForm = $('.education-form:last').clone();

            newForm.find('input').val('');
            newForm.find('select').val('');

            const formNum = parseInt($('#id_form-TOTAL_FORMS').val());
            newForm.attr('data-new-form', formNum);

            newForm.find('.bi-trash').remove();
            newForm.find('.col-1').html(`
                            <div class="bi bi-trash delete-temp-education-btn" type="button"
                                 style="font-size: 20px"
                                 data-new-form="${formNum}">
                            </div>
                        `);

            const formRegex = RegExp('form-(\\d+)-', 'g');
            newForm.html(newForm.html().replace(formRegex, 'form-' + formNum + '-'));

            $('#id_form-TOTAL_FORMS').val(formNum + 1);

            $('#new-education-forms-container').append('<hr/>');
            $('#new-education-forms-container').append(newForm);
        });
    </script>


    <script>


        const form = document.querySelector("form")
        form.addEventListener('submit', e => {
            if (!form.checkValidity()) {
                e.preventDefault()
                e.stopPropagation()
            }
            form.classList.add('was-validated')
        })


        $(document).on('click', '.delete-temp-education-btn', function () {
            // For new, unsaved forms
            const formNum = $(this).data('new-form');
            $(this).closest('.education-form').prev('hr').remove(); // Remove the HR
            $(this).closest('.education-form').remove(); // Remove the form

            // Update total forms count
            const totalForms = parseInt($('#id_form-TOTAL_FORMS').val());
            $('#id_form-TOTAL_FORMS').val(totalForms - 1);
        });


        $(document).ready(function () {
            $('.delete-education-btn').click(function () {
                var educationId = $(this).data('education-id');
                var educationName = $(this).data('education-name');
                $('#deleteEducationModal').data('education-id', educationId);
                $('#educationNameToDelete').text(educationName);
                $('#deleteEducationModal').modal('show');
            });

            $('#id-save-changes-btn').click

            $('#confirmDeleteEducation').click(function () {
                var educationId = $('#deleteEducationModal').data('education-id');
                $.ajax({
                    url: '/education/' + educationId + '/delete/',
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#deleteEducationModal').modal('hide');
                            window.location.href = "{% url 'profile_edit' %}";
                        } else {
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function (xhr) {
                        alert('Error: ' + (xhr.responseJSON ? xhr.responseJSON.message : 'Unknown error occurred'));
                    }
                });
            });
        });
    </script>

    <!-- Include Select2 JS -->




    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const quill = new Quill('#id_about_editor', {
                theme: 'snow',
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        ['clean']
                    ]
                }
            });

            // Set initial content
            quill.root.innerHTML = $('#id_about').val();

            // Remove loading overlay
            document.getElementById('editor_loading')?.remove();

            quill.on('text-change', function (delta, oldDelta, source) {
                $('#id_about').val(quill.root.innerHTML)
            });
        });
    </script>

    {% if user_form.errors or profile_form.errors or expert_profile_form.errors or education_expert_formset.errors %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const toastElList = document.querySelectorAll('.toast');
                toastElList.forEach(toastEl => {
                    const toast = new bootstrap.Toast(toastEl, {
                        autohide: false
                    });
                    toast.show();
                });
            });
        </script>
    {% endif %}


{% endblock %}
