{% extends 'base120.html' %}
{% load static %}

{% block center_col %}

<link rel="stylesheet" href="{% static 'web/css/profile_edit.css' %}">

<div class="edit-prof-page-cont">

    <div class="edit-prof-info-cont">

        <a href="{% url 'profile' %}" style="cursor: pointer; text-decoration: none; outline: none; color:grey">
            <i class="bi bi-chevron-left" style="font-weight: bold; color:#777786;" ></i> Назад
        </a>

        <span class= "prof-edit-page-title">Настройки профиля</span>

        {{ user_form.errors }}
        {{ profile_form.errors }}
        {{ expert_profile_form.errors }}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="prof-edit-rows">

                <div class="prof-edit-duel-rows">

                    <div class="prof-edit-info-cont">
                        <label for="{{ user_form.first_name.id_for_label }}" class="prof-edit-input-labels">{{ user_form.first_name.label }}</label>
                        {{ user_form.first_name }}
                      </div>

                    <div class="prof-edit-info-cont">
                        <label for="{{ user_form.last_name.id_for_label }}" class="prof-edit-input-labels"> {{ user_form.last_name.label }}</label>
                        {{ user_form.last_name }}
                    </div>

                </div>

                {% if user.profile.type == 1 %}
                <div class="full-width">
                    <label for="{{ expert_profile_form.about.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.about.label }}</label>
                    {{ expert_profile_form.about }}
                </div>
                {% endif %}

            </div>

            <style>
                label[for="id_avatar"] {
                    display: none;
                }
            </style>
            <div class="expert-edit-rows">

                <div class="prof-edit-photo-cont">
                    <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" style="border-radius: 50%;width: 100px;height: 100px;object-fit: cover;">

                    <div style="display:flex ; margin-left: 10px ; flex-direction:column">
                        {% if profile_form.instance.avatar %}
                            <p style= "color:white ; user-select: none; margin: 0;">На данный момент: <a href="{{ profile_form.instance.avatar.url }}" style="color: white;">{{ profile_form.instance.avatar.name }}</a></p>
                        {% endif %}

                        <label for="id_avatar">Изменить:</label>
                        <input type="file" name="avatar" class="your-custom-class" accept="image/*" id="id_avatar">
                    </div>
                </div>


                {% if user.profile.type == 1 %}
                <div class="prof-edit-duel-rows">

                    <div class="prof-edit-input-title">
                        <label for="{{ expert_profile_form.category.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.category.label }}</label>
                        {{ expert_profile_form.category }}
                    </div>

                    <div class="prof-edit-input-title">
                        <label for="{{ expert_profile_form.experience.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.experience.label }}</label>
                        {{ expert_profile_form.experience }}
                    </div>

                    <div class="prof-edit-input-title">
                        <label for="{{ expert_profile_form.hour_cost.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.hour_cost.label }}</label>
                        {{ expert_profile_form.hour_cost }}
                    </div>

                </div>
                {% endif %}

            </div>
            {% if user.profile.type == 1 %}

            <div class="expert-edit-rows">

                <div class="prof-edit-duel-rows">

                    <div class="prof-edit-info-cont">
                        <label for="{{ expert_profile_form.education.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.education.label }}</label>
                    {{ expert_profile_form.education }}
                      </div>

                    <div class="prof-edit-info-cont">
                        <label for="{{ expert_profile_form.age.id_for_label }}" class="prof-edit-input-labels">{{ expert_profile_form.age.label }}</label>
                    {{ expert_profile_form.age }}
                    </div>

                </div>

            </div>
            {% endif %}

            <div class="expert-edit-rows">
                <span class="prof-edit-change-pass">Смена пароля</span>

                <div class="prof-edit-duel-rows">
                    <div class="prof-edit-input-title">
                        <label for="{{ user_form.oldpassword.id_for_label }}" class="prof-edit-input-labels">{{ user_form.oldpassword.label }}</label>
                        {{ user_form.oldpassword }}
                    </div>
                    <div class="prof-edit-input-title">
                          <label for="{{ user_form.newpassword.id_for_label }}" class="prof-edit-input-labels">{{  user_form.newpassword.label}}</label>
                        {{ user_form.newpassword }}
                    </div>
                    <div class="prof-edit-input-title">
                         <label for="{{ user_form.confirmpassword.id_for_label }}" class="prof-edit-input-labels">{{ user_form.confirmpassword.label }}</label>
                        {{ user_form.confirmpassword }}
                    </div>
                </div>

            </div>

            <div class="prof-edit-bot-btns-cont">
                <button type="submit" class="btn btn-secondary prof-edit-save-btn" >Сохранить изменения</button>
                <button type="button" class="btn btn-secondary prof-edit-delete-btn" id="deleteProfileBtn" data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
                    Удалить профиль
                </button>
            </div>
        
        </form>
    
        <div class="modal fade" tabindex="-1" role="dialog" id="deleteProfileModal" >

            <div class="modal-dialog" role="document">
                <form method="post">
                    
                    <div class="modal-content" style="width:400px !important">
                        
                        <div class="modal-header" style="border-bottom: none;" >
                            <h5 class="modal-title" style="border-bottom: none;font-weight: 400;font-size: 18px;">Удалить профиль</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="scale: 0.8;"></button>
                        </div>
                        
                        <div class="modal-body" style= "padding-top:0;padding-bottom: 0;">
                            <p style="font-weight: 600;">Для подтверждения введите пароль</p>
                        </div>
                        
                        <div style="padding: var(--bs-modal-padding);padding-top: 0;">
                            <input type="password" required placeholder="Ваш пароль" style="width:100%;padding: 10px ;border-radius: 7px;border: 1px lightgrey solid; outline:none"/>
                        </div>
                        
                        <div class="modal-footer" style="border-top: none;display: flex;justify-content: flex-start;">
                            <button type="submit" class="btn btn-danger" 
                                    style="background-color: #f47070;border: none;">Удалить профиль</button>
                            <button type="button" class="btn btn-secondary"  
                                    style="background-color: white;border: 1px solid #a5b1c8;color: #36364b;" 
                                    data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>
    
{% endblock %}
