{% extends 'base123.html' %}
{% load static %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/profile_edit.css' %}">
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block center_col %}



    <style>
        @media (max-width: 1400px ) {
            .prof-edit-input-title {
                min-height: 100px !important;
                justify-content: space-between !important;
            }
        }

        @media (max-width: 768px) {
            .smaller-letters {
                font-size: 12px !important;
            }
        }

        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid #dadada !important;
            border-radius: 4px;
            cursor: text;
            padding-bottom: 0px !important;
            padding-right: 0px !important;
            padding: 5px !important;
            min-height: 42px !important;
            position: relative;
            display: flex !important;
        }


        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin-top: 0px !important;
            margin: 2px !important;
        }

        .custom-width-auto {
            width: auto;
            display: inline-block;
        }

        .prof-edit-info-cont {
            width: 100% !important;
        }

    </style>

    <div class="element-container">
        <div class="edit-prof-info-cont">

            <a href="{% url 'profile' %}" class="global-back-btn">
                <i class="bi bi-chevron-left" style="font-weight: bold; color:#777786;"></i> Назад
            </a>
            <div>
                <span class="prof-edit-page-title">Настройки профиля ({{ request.user.email }})</span>
            </div>

            {{ user_form.errors }}
            {{ profile_form.errors }}
            {{ expert_profile_form.errors }}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="prof-edit-rows">
                    <div class="prof-edit-duel-rows">

                        <div class="prof-edit-info-cont">
                            <label for="{{ user_form.first_name.id_for_label }}"
                                   class="prof-edit-input-labels">{{ user_form.first_name.label }}</label>
                            {{ user_form.first_name }}
                        </div>
                        <div class="prof-edit-info-cont">
                            <label for="{{ user_form.last_name.id_for_label }}"
                                   class="prof-edit-input-labels"> {{ user_form.last_name.label }}</label>
                            {{ user_form.last_name }}
                        </div>

                    </div>

                    <div class="full-width">
                        <label for="{{ expert_profile_form.about.id_for_label }}"
                               class="prof-edit-input-labels">{{ expert_profile_form.about.label }}</label>
                        {{ expert_profile_form.about }}
                        <div id="id_about_editor" style="height: 200px"></div>
                        {% if grade %}
                            <p>Грейд: {{ grade.grade }}</p>
                            <p>Диапазон стоимости часа для ваших points: от {{ grade.min_cost }}
                                до {{ grade.max_cost }}</p>
                        {% else %}
                            <p>Нет данных для ваших points.</p>
                        {% endif %}
                    </div>

                </div>
                <style>
                    label[for="id_avatar"] {
                        display: none;
                    }
                </style>
                <div class="expert-edit-rows">
                    <div class="prof-edit-photo-cont">
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar"
                             style="border-radius: 50%;max-height: 100px;max-width: 100px;min-width: 100px;min-height: 100px;object-fit: cover;">
                        <div style="display:flex ; margin-left: 10px ; flex-direction:column">
                            {% if profile_form.instance.avatar %}
                                <p style="color:white ; user-select: none; margin: 0; font-size:8px">На данный момент:
                                    <a href="{{ profile_form.instance.avatar.url }}"
                                       style="color: white;font-size:8px">{{ profile_form.instance.avatar.name }}</a>
                                </p>
                            {% endif %}
                            <label for="id_avatar">Изменить:</label>
                            <input type="file" name="avatar" class="smaller-letters" accept="image/*" id="id_avatar">
                        </div>
                    </div>
                    <div class="prof-edit-duel-rows">

                        <div class="prof-edit-input-title" style="width: 50%;">
                            <label for="{{ expert_profile_form.expert_categories.id_for_label }}"
                                   class="prof-edit-input-labels">{{ expert_profile_form.expert_categories.label }}</label>
                            {{ expert_profile_form.expert_categories }}
                        </div>
                        <div class="prof-edit-input-title" style="width: 20%;">
                            <label for="{{ expert_profile_form.experience.id_for_label }}"
                                   class="prof-edit-input-labels">{{ expert_profile_form.experience.label }}</label>
                            {{ expert_profile_form.experience }}
                        </div>
                        <div class="prof-edit-input-title" style="width: 20%;">
                            <label for="{{ expert_profile_form.hour_cost.id_for_label }}"
                                   class="prof-edit-input-labels">{{ expert_profile_form.hour_cost.label }}</label>
                            {% if grade %}
                                <input type="number" name="hour_cost"
                                       id="{{ expert_profile_form.hour_cost.id_for_label }}"
                                       min="{{ grade.min_cost }}" max="{{ grade.max_cost }}" step="1"
                                       value="{{ expert_profile_form.hour_cost.value }}" class="custom-form-css">
                            {% else %}
                                {{ expert_profile_form.hour_cost }}
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="expert-edit-rows">
                    <div class="prof-edit-duel-rows">
                        <div class="prof-edit-info-cont">
                            <label for="{{ expert_profile_form.age.id_for_label }}"
                                   class="prof-edit-input-labels">{{ expert_profile_form.age.label }}</label>
                            {{ expert_profile_form.age }}
                        </div>
                    </div>
                </div>

                <div class="expert-edit-rows">
                    <div class="prof-edit-duel-rows">
                        <div class="prof-edit-info-cont">
                            <label for="{{ expert_profile_form.hh_link.id_for_label }}"
                                   class="prof-edit-input-labels">{{ expert_profile_form.hh_link.label }}</label>
                            {{ expert_profile_form.hh_link }}
                        </div>
                    </div>
                </div>
                <div class="expert-edit-rows">
                    <div class="prof-edit-duel-rows">
                        <div class="prof-edit-info-cont">
                            <label for="{{ expert_profile_form.linkedin_link.id_for_label }}"
                                   class="prof-edit-input-labels">{{ expert_profile_form.linkedin_link.label }}</label>
                            {{ expert_profile_form.linkedin_link }}
                        </div>
                    </div>
                </div>

                <!-- Добавляем формсет для образования -->
                <div class="education-formset-container">
                    <span class="prof-edit-page-title" style="padding-bottom: 10px">Образование</span>
                    {{ education_expert_formset.management_form }}

                    {% for form in education_expert_formset %}
                        <hr/>
                        <div class="education-form col-12">


                            {{ form.id }}
                            {{ form.errors }}

                            <div class="row" style="padding: 10px 0 10px 0;">
                                <div class="prof-edit-input-title1 col-6">
                                    <label for="{{ form.education_type.id_for_label }}"
                                           class="prof-edit-input-labels">{{ form.education_type.label }}</label>
                                    {{ form.education_type }}
                                </div>

                                <div class="prof-edit-input-title1 col-6"
                                     style="display: flex;align-items: center;gap: 5px;">
                                    <label for="{{ form.specialized_education.id_for_label }}"
                                           class="prof-edit-input-labels">{{ form.specialized_education.label }}</label>
                                    <div class="custom-width-auto">
                                        {{ form.specialized_education }}
                                    </div>

                                </div>
                            </div>

                            <div class="row" style="padding: 10px 0 10px 0;">

                                <div class="prof-edit-input-title1 col-7">
                                    <label for="{{ form.educational_institution.id_for_label }}"
                                           class="prof-edit-input-labels">{{ form.educational_institution.label }}</label>
                                    {{ form.educational_institution }}
                                </div>

                                <div class="prof-edit-input-title1 col-5">
                                    <label for="{{ form.diploma_number.id_for_label }}"
                                           class="prof-edit-input-labels">{{ form.diploma_number.label }}</label>
                                    {{ form.diploma_number }}
                                </div>
                            </div>

                        </div>
                        <div style="display: flex;justify-content: flex-end;">

                            {% if form.instance.id %}
                                <button type="button" class="btn btn-danger delete-education-btn"
                                        data-education-id="{{ form.instance.id }}"
                                        data-education-name="{{ form.instance.educational_institution }}">
                                    Удалить образование
                                </button>
                            {% endif %}

                        </div>
                    {% endfor %}

                    <!-- Кнопка для добавления нового образования (если требуется) -->
                    <button type="button" class="btn btn-secondary add-education-btn" style="margin-top: 20px">Добавить
                        образование
                    </button>
                </div>


                <!-- Modal -->


                <script>
                    // Скрипт для добавления новой формы образования
                    $('.add-education-btn').click(function () {
                        // Клонируем последнюю форму в формсете
                        const newForm = $('.education-form:last').clone();
                        // Очищаем значения в клонированной форме
                        newForm.find('input').val('');
                        newForm.find('select').val('');
                        // Изменяем индекс в именах и id полей
                        const formRegex = RegExp('form-(\\d+)-', 'g');
                        const formNum = parseInt($('#id_form-TOTAL_FORMS').val());
                        newForm.html(newForm.html().replace(formRegex, 'form-' + formNum + '-'));
                        // Увеличиваем общее количество форм в управляющей форме
                        $('#id_form-TOTAL_FORMS').val(formNum + 1);
                        // Добавляем новую форму в DOM
                        newForm.insertBefore($(this));
                    });
                </script>
                <hr/>

                <div class="prof-edit-bot-btns-cont">
                    <button type="submit" class="btn btn-secondary prof-edit-save-btn" id="id-save-changes-btn">Сохранить изменения</button>
                    <button type="button" class="btn btn-secondary prof-edit-delete-btn" id="deleteProfileBtn"
                            data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
                        Удалить профиль
                    </button>
                </div>

            </form>

            <div class="modal fade" id="deleteEducationModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение удаления</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить образование "<span id="educationNameToDelete"></span>"?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-danger" id="confirmDeleteEducation">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="deleteProfileModal">

                <div class="modal-dialog" role="document">
                    <form method="post">

                        <div class="modal-content" style="width:400px !important">

                            <div class="modal-header" style="border-bottom: none;">
                                <h5 class="modal-title" style="border-bottom: none;font-weight: 400;font-size: 18px;">
                                    Удалить профиль</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        style="scale: 0.8;"></button>
                            </div>

                            <div class="modal-body" style="padding-top:0;padding-bottom: 0;">
                                <p style="font-weight: 600;">Для подтверждения введите пароль</p>
                            </div>

                            <div style="padding: var(--bs-modal-padding);padding-top: 0;">
                                <input type="password" required placeholder="Ваш пароль"
                                       style="width:100%;padding: 10px ;border-radius: 7px;border: 1px lightgrey solid; outline:none"/>
                            </div>

                            <div class="modal-footer"
                                 style="border-top: none;display: flex;justify-content: flex-start;">
                                <button type="submit" class="btn btn-danger"
                                        style="background-color: #f47070;border: none;">Удалить профиль
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        style="background-color: white;border: 1px solid #a5b1c8;color: #36364b;"
                                        data-bs-dismiss="modal">Отмена
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('.delete-education-btn').click(function () {
                var educationId = $(this).data('education-id');
                var educationName = $(this).data('education-name');
                $('#deleteEducationModal').data('education-id', educationId);
                $('#educationNameToDelete').text(educationName);
                $('#deleteEducationModal').modal('show');
            });

            $('#id-save-changes-btn').click

            $('#confirmDeleteEducation').click(function () {
                var educationId = $('#deleteEducationModal').data('education-id');
                $.ajax({
                    url: '/education/' + educationId + '/delete/',
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#deleteEducationModal').modal('hide');
                            window.location.href = "{% url 'profile_edit' %}";
                        } else {
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function (xhr) {
                        alert('Error: ' + (xhr.responseJSON ? xhr.responseJSON.message : 'Unknown error occurred'));
                    }
                });
            });
        });
    </script>

    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

    <script>
        $(document).ready(function () {
            $("#{{ expert_profile_form.expert_categories.id_for_label }}").select2({
                width: '100%'
            });
        });

        const quill = new Quill('#id_about_editor', {
            theme: 'snow'
        });
        
        let aboutText = $('#id_about').val()
        quill.setText(aboutText);
        quill.on('text-change', function(delta, oldDelta, source) {
            $('#id_about').val(quill.root.innerHTML)
        });

    </script>



{% endblock %}
