{% extends 'base123.html' %}
{% load web_tags %}
{% load static %}
{% load i18n %}

{% block center_col %}
    <link rel="stylesheet" href="{% static 'web/css/profile.css' %}">

    <div class="prof-page-cont">

        <a href="{% url 'index' %}" class="to-main-page">
            <i class="bi bi-chevron-left chevro-left-css"></i>
            &nbsp;{% trans 'ToMainPageLabel' %}
        </a>

        {% include 'components/experts/profile_info.html' with user=request.user buttons_template='profile/expert/profile_buttons.html'%}


        {% include 'profile/profile_content_items.html' %}
    </div>


    <script>

        function loadTabData(contentType) {
            if (contentType == 'user_projects') {
                let user_projects = Array()

                //fetch("", )

            }
        }

    </script>
{% endblock %}
