{% extends 'base123.html' %}
{% load web_tags %}
{% load static %}
{% load i18n %}

{% block center_col %}
    <link rel="stylesheet" href="{% static 'web/css/profile.css' %}">

    <div class="prof-page-cont">

        <a href="{% url 'index' %}" class="to-main-page">
            <i class="bi bi-chevron-left chevro-left-css"></i>
            &nbsp;{% trans 'ToMainPageLabel' %}
        </a>

        {% include 'components/experts/profile_info.html' with user=request.user buttons_template='profile/expert/profile_buttons.html'%}

        <div class="prof-content-links-cont">
            <div class="profile-menu-item" data-content="articles"
                 onclick="showContent('articles')">{% trans 'ArticlesTabLabel' %} &nbsp;<span
                    class="expert-profile-title-content-number">{{ experts_articles_count }}</span></div>
            <div class="profile-menu-item" data-content="researches"
                 onclick="showContent('researches')">{% trans 'ResearchesTabLabel' %} &nbsp;<span
                    class="expert-profile-title-content-number">{{ experts_researches_count }}</span></div>
            <div class="profile-menu-item" data-content="questions"
                 onclick="showContent('questions')">{% trans 'QuestionsTabLabel' %} &nbsp;<span
                    class="expert-profile-title-content-number">{{ experts_questions_count }}</span></div>
            <div class="profile-menu-item" data-content="consultations"
                 onclick="showContent('consultations')">{% trans 'ConsultationsTabLabel' %}
                ({{ experts_appointment_cnt }})
            </div>
            <div class="profile-menu-item" data-content="reviews"
                 onclick="showContent('reviews')">{% trans 'ReviewsTabLabel' %}</div>
            {#<div class="profile-menu-item" data-content="notifications" onclick="showContent('notifications')">Уведомления</div>#}
            <div class="profile-menu-item" data-content="projects" onclick="showContent('projects')">
                Проекты
            </div>
        </div>

        <div id="articles" class="expert-content" style="display: none;">
            {% for article in experts_articles %}

                <div class="expert-content-cont">

                            <span class="article-title-loop-exp"><a href="{% url 'article_detail' article.slug %}"
                                                                    style="text-decoration: none;color: #36364b;">{{ article.title }}</a></span>
                    <span class="article-content-loop-exp">{{ article.description }}</span>
                    <span class="link-read-post">
                                <a href="{{ article.get_absolute_url }}" style="color:black;"
                                   class="link-read-post">{% trans 'ReadPostLabel' %} &nbsp;
                                    <i class="bi bi-chevron-down" style="color:black; scale:1.3"></i>
                                </a>
                            </span>

                    <div class="article-comments-andshare-cont-exp">
                        <div class="article-comments-exp">
                            <i class="bi bi-chat-left-text" style="color:grey;"></i>&nbsp; 104
                        </div>
                        <div class="article-share-exp">
                            <i class="bi bi-calendar2-week"
                               style="color:grey; "></i>&nbsp; {{ article.time_update|custom_time_display }}

                        </div>
                    </div>

                </div>

                <hr>

            {% endfor %}
        </div>
    
        <div id="researches" class="expert-content" style="display: none;">
            <span>test research</span>
            {% for research in experts_researches %}
            {% endfor %}
        </div>

        <div id="questions" class="expert-content" style="display: none;">
            <span>test questions</span>
            {% for research in experts_researches %}
            {% endfor %}
        </div>

        <div id="consultations" class="expert-content" style="display: none;">
            <span>test consultations</span>
            <table class="table">
                <thead>
                <tr>
                    <th>Date Time</th>

                    <th>Client</th>
                    <th>Zoom</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for appointment in experts_appointment %}
                    <tr>
                        <td>{{ appointment.appointment_date }} {{ appointment.appointment_time }}</td>
                        <td>
                            <a href="{% url 'expert_profile' appointment.client.pk %}">
                                {{ appointment.client.last_name }} {{ appointment.client.first_name }}
                            </a>
                        </td>
                        <td>
                            {% if appointment.zoom %}
                                <a href="{{ appointment.zoom }}">Ссылка на ZOOM</a>
                            {% endif %}
                        </td>
                        <td>{{ appointment.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="reviews" class="expert-content" style="display: none;">
            <span>test reviews</span>
            {% for research in experts_researches %}
            {% endfor %}
        </div>

        <div id="projects" class="expert-content" style="display: none;">
            <span>test notifications</span>
            <a href="{% url 'project_add' %}">Добавить проект</a>

            {% for expert_project in experts_projects %}
            {% endfor %}
        </div>

    </div>


    <script>
        function showContent(contentId) {
            var contentBlocks = document.getElementsByClassName('expert-content');

            for (var i = 0; i < contentBlocks.length; i++) {
                contentBlocks[i].style.display = 'none';
            }

            var menuItems = document.getElementsByClassName('profile-menu-item');

            for (var i = 0; i < menuItems.length; i++) {
                menuItems[i].classList.remove('selected');
            }

            var targetElement = document.getElementById(contentId);
            targetElement.style.display = 'block';

            var selectedMenuItem = document.querySelector(`.profile-menu-item[data-content="${contentId}"]`);
            selectedMenuItem.classList.add('selected');
        }

        function loadTabData(contentType) {
            if (contentType == 'user_projects') {
                let user_projects = Array()

                //fetch("", )


            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            showContent('articles');

            var currentUrl = window.location.pathname;
            var menuItems = document.getElementsByClassName('profile-menu-item');

            for (var i = 0; i < menuItems.length; i++) {
                var contentId = menuItems[i].getAttribute("data-content");
                var href = `#${contentId}`;

                if (currentUrl.includes(href)) {
                    menuItems[i].classList.add('selected');
                    showContent(contentId);
                    break;
                }
            }
        });
    </script>
{% endblock %}
