{% load i18n %}

<style>
    .settings-layout {
        display: flex;
        width: 100%;
    }


    .buttons-container {
        width: 100%;
        display: flex;
        gap: 5px;
    }

    .profile-buttons-group {
        display: flex;
        gap: 5px;
    }


    @media (max-width: 767px) {

        .settings-layout {
            flex-direction: column;
        }


        .buttons-container {
            flex-direction: column;
        }

        .profile-buttons-group {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5px;
        }


    }


</style>

<!-- Desktop Layout -->
<div class="settings-layout d-none d-md-flex mt-2 gap-2">

    <div class=" col-md-3-5 d-flex justify-content-center justify-content-md-start  ">
        <!-- empty space (avatar cont)-->
    </div>

    <div class="col-md-8-5 d-flex flex-column ">

        <div class="buttons-container">

            <div class="profile-buttons-group">
                <a href="{% url 'profile_edit' %}"
                   class="btn btn-outline-secondary mt-0 rounded-2  fw-semibold   d-flex align-items-center g-fs-12 ">{% trans 'EditProfileLabel' %}</a>

                <button type="button"
                        class="btn btn-outline-secondary mt-0 rounded-2  fw-semibold   d-flex align-items-center g-fs-12 justifyCenter"
                        data-bs-toggle="modal" data-bs-target="#passwordChangeModal">
                    {% trans 'ChangePasswordLabel' %}
                </button>
            </div>

            <div class="profile-buttons-group">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger mt-0 rounded-2  fw-semibold   d-flex align-items-center g-fs-12    "
                            type="submit">
                        {% trans 'LogoutButtonLabel' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Mobile Layout -->
<div class="d-md-none" style="width: 100%">

    <div class="buttons-container mt-1">

        <div class="profile-buttons-group">

            <a href="{% url 'profile_edit' %}"  
               class="btn btn-outline-secondary mt-0 rounded-2 w-50  fw-semibold  d-flex align-items-center g-fs-12 justify-content-center ">{% trans 'EditProfileLabel' %}</a>

            <button type="button"  
                    class="btn btn-outline-secondary mt-0 rounded-2 fw-semibold w-50   d-flex align-items-center g-fs-12 justify-content-center"
                    data-bs-toggle="modal" data-bs-target="#passwordChangeModal">
                {% trans 'ChangePasswordLabel' %}
            </button>

        </div>

        <div class="profile-buttons-group">

            <form method="post" action="{% url 'logout' %}" class="w-100">
                {% csrf_token %}
                <button class="btn btn-outline-danger mt-0 rounded-2 fw-semibold d-flex align-items-center g-fs-12     w-100 w-sm-auto justify-content-center"
                        type="submit"  >
                    {% trans 'LogoutButtonLabel' %}
                </button>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordChangeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <div class="g-fs-header-20" id="passwordChangeModalLabel">{% trans 'ChangePasswordTitle' %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!-- Form will be loaded here -->

                <form method="post" id="passwordChangeForm">
                    {% csrf_token %}
                    <p>
                        <label for="id_old_password" class="g-fs-14 fw-semibold">Старый пароль:</label>
                        <input type="password" name="old_password" autocomplete="off" autofocus="" class="form-control"
                               required="" id="id_old_password">
                    </p>

                    <p>
                        <label for="id_new_password1" class="g-fs-14 fw-semibold">Новый пароль:</label>
                        <input type="password" name="new_password1" autocomplete="off" class="form-control" required=""
                               aria-describedby="id_new_password1_helptext" id="id_new_password1">

                        <span class="helptext" id="id_new_password1_helptext"></span></p>

                    <p></p>


                    <p>
                        <label for="id_new_password2" class="g-fs-14 fw-semibold">Подтверждение нового пароля:</label>
                        <input type="password" name="new_password2" autocomplete="off" class="form-control" required=""
                               id="id_new_password2">


                    </p>

                    <ul style="font-size: 11px">
                        <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                        <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                        <li>Пароль не должен быть слишком простым и распространенным.</li>
                        <li>Пароль не может состоять только из цифр.</li>
                    </ul>
                    <button type="submit" class="btn btn-danger mt-2 g-fs-14">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        $("#passwordChangeForm").submit(function (event) {

            event.preventDefault();
            const form = $(this);
            $.ajax({
                url: '{% url 'password_reset' %}',
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        modal.modal('hide');
                        $('#notification').text(response.message).fadeIn().delay(500).fadeOut(function () {
                            //window.location.href = response.redirect_url;
                        });
                    } else {
                        modal.find('.modal-body').html(response.html);
                    }
                },
            })


        })
    })
</script>