{% load i18n %}
<style>
    /* styles.css */
.prof-user-setting {
    margin-left: 25%;
    padding: 10px 0 0 30px;
    gap: 5px;
    flex-wrap: wrap;
}

    .justifyCenter {
        justify-content: center;
    }

.profile-buttons-group1,
.profile-buttons-group2 {
    display: flex;
    gap: 5px;
}

@media (max-width: 767px) {

    .mobile-logout-display{
        width: 100%
    }



    .prof-logout-btn {
        width: 100%;
        justify-content: center;

    }

    .profile-buttons-group1,
    .profile-buttons-group2 {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        gap: 5px;
    }

    .mobileCont{
        flex-direction: column;
    }
    .mobileWidth {
        width : 50%;
        justify-content: center;
    }


}

@media (min-width: 768px) {
    .prof-user-setting {
        flex-direction: row;
    }

    .profile-buttons-group1,
    .profile-buttons-group2 {
        flex-direction: row;

    }
}



</style>

<div class="mobileCont" style="width: 100%;display: flex;gap: 5px;">
    <div class="profile-buttons-group1">
        <a href="{% url 'profile_edit' %}" class="btn prof-btn prof-settings-btn mobileWidth" >{% trans 'EditProfileLabel' %} </a>

        <form method="post" action="{% url 'password_change' %}" class="mobileWidth">
            {% csrf_token %}
            <button type="button" class="btn prof-btn prof-settings-btn justifyCenter" data-bs-toggle="modal" data-bs-target="#passwordChangeModal" style=" width: 100%">
                {% trans 'ChangePasswordLabel' %}
            </button>
        </form>
    </div>
    <div class="profile-buttons-group2">
        <form method="post" action="{% url 'logout' %}" class="mobile-logout-display">
            {% csrf_token %}
            <button class="btn prof-btn prof-logout-btn " type="submit" >
                {% trans 'LogoutButtonLabel' %}
            </button>
        </form>
    </div>
</div>

<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordChangeModalLabel">{% trans 'ChangePasswordTitle' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Здесь будет загружена форма -->
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
    var modal = $('#passwordChangeModal');

    modal.on('show.bs.modal', function (event) {
        $.ajax({
            url: "{% url 'password_change' %}",
            type: 'GET',
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            success: function(response) {
                modal.find('.modal-body').html(response.html);
            },
            error: function(xhr, status, error) {
                modal.find('.modal-body').html("{% trans 'ErrorLoadingForm' %}");
            }
        });
    });

    $(document).on('submit', '#passwordChangeModal form', function(e) {
        e.preventDefault();
        var form = $(this);
        var formData = form.serialize();

        $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: formData,
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            success: function(response) {
                if (response.success) {
                    modal.modal('hide');
                    $('#notification').text(response.message).fadeIn().delay(500).fadeOut(function() {
                        window.location.href = response.redirect_url;
                    });
                } else {
                    modal.find('.modal-body').html(response.html);
                }
            },
            error: function(xhr, status, error) {
                alert("{% trans 'ErrorChangingPassword' %}");
            }
        });
    });
});
</script>