<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rating List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Информация о расчете рейтинга</h1>
    <table>
        <thead>
            <tr>
                <th>Описание</th>
                <th>Баллы</th>
            </tr>
        </thead>
        <tbody>
            {% for rating in ratings %}
                <tr>
                    <td>{{ rating.role.text }}</td>
                    <td>{{ rating.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
