{% load i18n %}

<div id="mobile-nav" class="d-flex d-sm-none">
    <a href="{% url 'index' %}" class="nav-item">
        <i class="bi bi-house-door-fill" style="color: grey; font-size: 26px;"></i>
    </a>
    {% if user.is_authenticated %}
        <a href="#" class="nav-item">
            <i class="bi bi-chat-left-text-fill" style="color: grey; font-size: 26px;"></i>
        </a>
        <a class="nav-item">
            <i class="bi bi-bell-fill" style="color: grey; font-size: 26px;"></i>
        </a>
        


        <div class="dropdown nav-item d-flex align-self-center">
            <button class="btn dropdown-toggle bg-transparent border-0 m-0 p-0" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
            >
                <img src="{{ user.profile.avatar.url }}"
                     alt="Avatar"
                     class="rounded-circle object-fit-cover"
                     style="height: 32px; width: 32px;"
                >
            </button>
            <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
                <div class="d-flex flex-column">
                    <a href="{% url 'profile' %}?tab=articles" class="dropdown-item px-3 py-2">
                        <i class="bi bi-person-fill me-2"></i>
                        {% trans 'PersonalAccountLabel' %}
                    </a>
                    <form method="post" action="{% url 'logout' %}" class="m-0">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item px-3 py-2 w-100 text-danger">
                            <i class="bi bi-box-arrow-right me-2"></i>
                            {% trans 'LogoutButtonLabel' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
        <a href="{% url 'login' %}">
            <button type="button" class="btn g-green-bg text-white"
                    style="font-size: 16px !important"
                    style="font-size: 18px ; background-color: #4a4a5e !important;">{% trans 'LoginBtnLabel' %}</button>
        </a>
    {% endif %}
</div>