{% load static %}
{% load i18n %}

<div class="bg-white mb-3 p-2 align-content-center rounded-4 d-none d-xl-block">

    <div class="w-100 d-flex justify-content-between d-block d-md-none">
        <span class="d-flex font-sans-serif text-secondary g-fs-header-20">{% trans 'PartnerServicesLabel' %}</span>
    </div>

    <a href="https://simpleai.llc/" target="_blank" class="justify-content-center d-flex">
        <img src="{% static 'advertisements/sa-logo 2.png' %}" alt="Simple AI Logo" width="50%" />
    </a>

</div>