{% load web_tags %}
{% load static %}
{% load i18n %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/main_page_list.css' %}?ver=0.01">
{% endblock %}


{#<div class="right-expert-col-cont element-container">#}

<div class="container-fluid-expert-col">

    <div class="spans-cont">
        <span class="experts-title">ЭКСПЕРТЫ</span>
        <span class="all-experts"><a href="{% url 'experts_list' %}">{% trans 'AllExpertsLabel' %}</a></span>
    </div>

    {% get_top_experts as topexperts %}

    {% for expert in topexperts|slice:":6" %}
        <div class="expert-profiles-cont">
        
            <div class="side-avatar-container">
                <img src="{{ expert.profile.avatar.url }}" alt="Random Image" class="img-fluid"/>
            </div>

            <div class="expert-list-info">
                <div class="expert-name">
                    <a href="{% url 'expert_profile' expert.pk %}?tab=articles"
                       style="color:black">{{ expert.first_name }} {{ expert.last_name }}</a>
                </div>
                         
                <div class="expert-categories">
                    {% for expert_category in expert.expertprofile.expert_categories.all %}
                        {{ expert_category.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>

                {% include 'components/experts/rating.html' with user=expert size='small' %}
            </div>
        </div>
    {% endfor %}

    {#        <a href="#" onclick="alert('В разработке')" style="text-decoration: none; display: none">#}
    {#            <span class="expert-more" style="cursor: pointer">#}
    {#                {% trans 'MoreExpertsLabel' %} &nbsp;#}
    {#                <i class="bi bi-chevron-down" style="scale: 2;"></i>#}
    {#            </span>#}
    {#        </a>#}
    <span class="all-experts"><a href="{% url 'experts_list' %}">{% trans 'AllExpertsLabel' %}</a></span>

</div>
{#</div>#}
