{% load web_tags %}
{% load static %}
{% load i18n %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/main_page_list.css' %}">
{% endblock %}

<div class="right-expert-col-cont element-container">

    <div class="container-fluid-expert-col">
        <div class="spans-cont">
            <span class="experts-title">ЭКСПЕРТЫ</span>

        </div>

        {% get_top_experts as topexperts %}

        {% for expert in topexperts|slice:":6" %}
            <div class="expert-profiles-cont">
                <div class="side-avatar-container">
					<img src="{{ expert.profile.avatar.url }}" alt="Random Image" class="img-fluid" />
				</div>

                <div class="expert-list-info">
                    <div class="expert-name"><a href="{% url 'expert_profile' expert.pk %}?tab=articles" style="color:black">{{ expert.first_name }} {{ expert.last_name }}</a></div>
                    <div class="expert-job">
                        <div class="expert-categories">
                            {% for expert_category in expert.expertprofile.expert_categories.all %}
                                <span class="expert-category">
                                    {{ expert_category.name }}{% if not forloop.last %},{% endif %}
                                </span>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="user-rating-right-list ">




                        <div class=""><i class="bi bi-star-fill" style="scale: 0.9; color: #e9be50; padding: 0 2px 0 2px"></i> {{ expert.expertprofile.rating|default_if_none:0 }}</div>
{#                        <div class="user-rate-and-stars">#}
{##}
{#                            {% for ch in filled_stars_chipher %}#}
{##}
{#                                {% if ch == 'f' %}#}
{#                                <i class="bi bi-star-fill" style="scale: 1; color: #e9be50; padding: 0 2px 0 2px"></i>#}
{##}
{#                                {% elif ch == 'h' %}#}
{#                                <i class="bi bi-star-half" style="scale: 1; color: #e9be50; padding: 0 2px 0 2px"></i>#}
{##}
{#                                {% elif ch == 'e' %}#}
{#                                <i class="bi bi-star" style="scale: 1; color: #e9be50; padding: 0 2px 0 2px"></i>#}
{##}
{#                                {% endif%}#}
{#                            #}
{#                                #}
{#                            {% endfor %}#}
{##}
{#                        </div>#}
                    </div>
                </div>
            </div>
        {% endfor %}

{#        <a href="#" onclick="alert('В разработке')" style="text-decoration: none; display: none">#}
{#            <span class="expert-more" style="cursor: pointer">#}
{#                {% trans 'MoreExpertsLabel' %} &nbsp;#}
{#                <i class="bi bi-chevron-down" style="scale: 2;"></i>#}
{#            </span>#}
{#        </a>#}
        <span class="all-experts"><a href="{% url 'experts_list' %}">{% trans 'AllExpertsLabel' %}</a></span>

    </div>
</div>
