{% load web_tags %}
{% load static %}
{% load i18n %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/main_page_list.css' %}?ver=0.01">
{% endblock %}




<div class="container-fluid py-0">

    <div class="d-flex justify-content-between mb-3">
        <span class="d-flex text-secondary   g-fs-14">ЭКСПЕРТЫ</span>
        <span class="d-flex"><a href="{% url 'experts_list' %}" class="text-decoration-none text-secondary   cursor-pointer g-fs-14">
            {% trans 'AllExpertsLabel' %}</a>
        </span>
    </div>

    {% get_top_experts as topexperts %}

    {% for expert in topexperts|slice:":6" %}
        <div class="d-flex align-items-center mb-3">
        
            <div class="rounded-circle overflow-hidden" style="width: 55px; height: 55px; min-width: 55px; max-width: 55px;">
                <img src="{{ expert.profile.avatar.url }}" alt="Random Image" class="img-fluid"/>
            </div>

            <div class="d-flex flex-column ps-3 ">

                <a href="{% url 'expert_profile' expert.pk %}?tab=articles" class="d-flex text-decoration-none fw-semibold  text-black  ">
                    {{ expert.first_name }} {{ expert.last_name }}
                </a>
                         
                <div class="d-flex flex-wrap gap-0 g-grey-color g-fs-12">
                    {% for expert_category in expert.expertprofile.expert_categories.all %}
                        {{ expert_category.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>

                {% include 'components/experts/rating.html' with user=expert size='small' %}
            </div>
        </div>
    {% endfor %}

    <span class="d-flex">
        <a class="text-decoration-none text-secondary cursor-pointer g-fs-14" href="{% url 'experts_list' %}">{% trans 'AllExpertsLabel' %}</a>
    </span>

</div>
{#</div>#}
