{% load i18n %}
{% load web_tags %}
{% load static %}

<style>
    @media (max-width: 768px) {
        .prof-user-setting {
            display: flex;
            font-family: sans-serif;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
            margin-left: 0 !important;
            padding: 0 !important;
        }
    }

    .prof-user-setting {
        margin-left: 25%;
        padding: 10px 0 0 30px;
        gap: 5px;
        flex-wrap: wrap;
    }

</style>

<div class="profile-info-cont">

    {% include 'components/global_profile_information.html' %}

    <div class="prof-user-setting">
        {% include buttons_template with user=expert %}
    </div>

    <div class="bottom-half">
        <div class="bottom-info">
            <div class="prof-bottom-cont">
                <b>{% trans 'EducationLabel' %}: &nbsp; </b>
                <div class="education-list">
                    {% for edu in profile.education.all %}
                        {% if edu.education_type == 'primary' %}
                            <span>{{ edu.educational_institution }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="prof-bottom-cont">
                <b>{% trans 'ExperienceLabel' %}: &nbsp;</b>
                <span>{{ profile.experience }}
                    {% get_write_phrase profile.experience 'год года лет' %}
                </span>
            </div>
            <div class="prof-bottom-cont">
                {% autoescape off %}
                {{ profile.about }}
                {% endautoescape %}
            </div>
            <div class="prof-bottom-cont">
                <b >{% trans 'PricePerHourLabel' %}: &nbsp;</b>
                <span>{{ profile.hour_cost }} ₽/час</span>
            </div>
            <div class="prof-bottom-cont social-links">
                {% if profile.hh_link %}
                    <a href="{{ profile.hh_link }}" target="_blank">
                        <i class="fa fa-link"></i>
                        <img src="{% static 'Icons/600px-HeadHunter_logo.png' %}" target="_blank"
                             class="basepost-author-pic" alt="HH Link Icon">
                    </a>
                {% endif %}
                {% if profile.linkedin_link %}
                    <a href="{{ profile.linkedin_link }}" target="_blank">
                        <i class="bi bi-linkedin basepost-author-pic" style="font-size: 30px"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>