{% load i18n %}
{% load web_tags %}
{% load static %}

<style>
    @media (max-width: 768px) {
        .prof-user-setting {
            display: flex;
            font-family: sans-serif;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
            margin-left: 0 !important;
            padding: 0 !important;
        }

        .user-category {
            margin-bottom: 5px;
        }

        .user-catagory-highlight {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .prof-settings-btn {
            margin-left: 0 !important;
        }

        .top-half-prof {
            flex-direction: row;
        }

        .prof-page-pic-cont {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile-information-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


    .top-half-prof {
        display: flex;
        flex-direction: column;
    }

    .profile-header {
        display: flex;
        gap: 10px;
    }


    .profile-avatar {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }


    .user-rating-cont {
        display: flex;
    }

    .user-rating {
        margin-right: 5px;
    }


    .star-icon {
        color: #e9be50;
        padding: 0 2px;
    }


    .displayflex {
        display: flex;
    }

    .prof-user-setting {
        margin-left: 25%;
        padding: 10px 0 0 30px;
        gap: 5px;
        flex-wrap: wrap;
    }

    .bottom-bold-text {
        font-weight: bold;
    }

    .education-list {
        display: flex;
        flex-direction: column;
    }

    .social-links {
        align-items: center;
        gap: 10px;
    }

    .social-icon {
        width: 24px;
        height: 24px;
    }
</style>

<div class="profile-info-cont">
    <div class="col-12 top-half-prof">
        <div class="profile-header">
            <div class="col-sm-3 prof-page-pic-cont">
                <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar">
            </div>
            <div class="col-sm-9 profile-information-cont">
                <div class="user-display-name">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="user-rating-cont">
                    <div class="user-rating">{% trans 'RatingLabel' %} : {{ user.expertprofile.rating|default_if_none:0 }}</div>
                    <div class="user-rate-and-stars">
                        {% get_rate_chipher user.expertprofile.rating|default:0 as filled_stars_chipher %}
                        {% for ch in filled_stars_chipher %}
                            {% if ch == 'f' %}
                                <i class="bi bi-star-fill star-icon"></i>
                            {% elif ch == 'h' %}
                                <i class="bi bi-star-half star-icon"></i>
                            {% elif ch == 'e' %}
                                <i class="bi bi-star star-icon"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="user-category-cont">
                    <div class="displayflex">
                        <div class="user-category">Эксперт в области :</div>
                        {% for exp_category in profile.expert_categories.all %}
                            <div class="user-catagory-highlight {{ exp_category.slug }}">{{ exp_category.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="prof-user-setting">
            {% include buttons_template with user=expert %}
        </div>
    </div>

    <div class="bottom-half">
        <div class="bottom-info">
            <div class="prof-bottom-cont">
                <span class="user-profile-field-caption">{% trans 'EducationLabel' %}: </span>
                <div class="education-list">
                    {% for edu in profile.education.all %}
                        {% if edu.education_type == 'primary' %}
                            <span>{{ edu.educational_institution }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="prof-bottom-cont">
                <span class="user-profile-field-caption">{% trans 'ExperienceLabel' %}:</span>
                <span>{{ profile.experience }}
                    {% get_write_phrase profile.experience 'год года лет' %}
                </span>
            </div>
            <div class="prof-bottom-cont">{{ profile.about }}</div>
            <div class="prof-bottom-cont">
                <span class="user-profile-field-caption">{% trans 'PricePerHourLabel' %}:</span>
                <span>{{ profile.hour_cost }} ₽/час</span>
            </div>
            <div class="prof-bottom-cont social-links">
                {% if profile.hh_link %}
                    <a href="{{ profile.hh_link }}" target="_blank">
                        <i class="fa fa-link"></i>
                        <img src="{% static 'Icons/600px-HeadHunter_logo.png' %}" class="social-icon" alt="HH Link Icon">
                    </a>
                {% endif %}
                {% if profile.linkedin_link %}
                    <a href="{{ profile.linkedin_link }}" target="_blank">
                        <i class="bi bi-linkedin social-icon"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>