


{% extends 'base123.html' %}
{%load static%}
{% block center_col %}


<link rel="stylesheet" href="{% static 'web/css/article_details.css' %}">

<div class="base-Content">

  <div class="article-detail-page-content">

    <div class="article-page-back-btn">
      <a href="{% url 'article_list' %}" class="article-detail-page-back-btn">

        <i class="bi bi-chevron-left" ></i> &nbsp;Ко всем статьям
      </a>
    </div>

    <div class="article-detail-page-publish-date">
      <i class="bi bi-calendar2-week" style="color:#a9b4ca; scale:1.3"></i>
      &nbsp;  {{article.time_update|date:"d.m.Y H:i"}}

    </div>

    <div class="article-detail-title">{{article.title}}</div>

    <div class="article-detail-main-content">

      {% autoescape off %}

      {{article.content}}

      {% endautoescape %}

      <div class="article-detail-page-last">

        <div class="article-detail-comments-andshare-cont">
          <div class="article-detail-comments">
            <i class="bi bi-chat-left-text" style="color:grey;"></i>&nbsp; 104
          </div>

          <div class="article-share">
            <i class="bi bi-box-arrow-up-right" style="color:grey;"></i>
          </div>

        </div>

      </div>

      
    </div>

  </div>
  
</div>

{%endblock%}