{% extends 'base12.html' %}
{% load static %}
{% load i18n %}
{% load web_tags %}
{% block title %}
    Создание статьи
{% endblock %}

{% block extra_static %}
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script src="//unpkg.com/grapesjs"></script>
    <script src="//unpkg.com/grapesjs-touch"></script>
    <script src="//unpkg.com/grapesjs-plugin-i18n/dist/grapesjs-plugin-i18n.min.js"></script>
    <link rel="stylesheet" href="{% static 'web/css/article_add.css' %}">
{% endblock %}

{% block center_col %}


    <style>
        .clear-all:hover {
            cursor: pointer;
        }

        .gjs-selected {
            outline-offset: 0px !important;
        }

        .gjs-one-bg {
            background-color: #edf0f6 !important;
        }

        .gjs-category-title, .gjs-layer-title, .gjs-block-category .gjs-title, .gjs-sm-sector-title, .gjs-trait-category .gjs-title {
            color: black !important;
            background-color: #edf0f6 !important;
        }

        .gjs-sm-properties {
            color: black !important;
        }

        .gjs-field-colorp {
            padding: 0px !important;
        }

        .gjs-four-color {
            color: #666666 !important;
        }

        .gjs-mdl-dialog {
            color: black !important
        }

        .gjs-blocks-c {
            flex-wrap: nowrap;
        }

        .gjs-block {
            min-width: 90px !important;
            min-height: 70px !important;
            max-height: 70px !important;
            margin: 5px !important;
        }

        #gjs {
            height: 55% !important;
            min-height: 1200px !important;
        }

        .grip-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            max-height: 30px;
        }

        .grip-icon {
            font-size: 30px;
        }

        .t-class-comps {
            font-size: 26px !Important;
        }

        .mobile-article-add {
            padding-right: 0px !important;
        }

        .wb-ui-element-container {
            background-color: white;
            padding: 20px;
            border-radius: 20px;
        }

    </style>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>


    <form method="post" enctype="multipart/form-data" id="article-form">
        {% csrf_token %}

        <div class="element-container ">

            <div class="col-12 p-0">
                {% trans "BackButtonLabel" as back_text %}
                {% back_button "index" back_text %}
                {{ form.title.label }}
                {{ form.title }}
                <br>
                {{ form.description.label }}
                {{ form.description }}
                <br>

                    {{ form.main_img.label }}
                    <div id="imageContainer" class="d-flex ">
                        <img id="uploadedImage" src="{{ form.main_img.value.url }}"
                             style="display: {% if form.main_img.value.url %}block{% else %}none{% endif %}"></img>
                    </div>
                    {{ form.main_img }}
                <br>
            </div>

            {#                    <div class="row" id="sticky-container" style="overflow-x: auto; position: relative; z-index: 100;">#}
            {#                        <div class="article-add-right-btns" style="overflow-x: auto; padding: 10px !important;">#}
            {#                            <div id="blocks"></div>#}
            {#                            <div class="grip-container">#}
            {#                                <i class="bi bi-grip-horizontal grip-icon"></i>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}

            <div id="gjs" style="min-height: 400px;"></div>
            <input type="hidden" name="styles" id="id_styles" value="{{ form.styles.value }}">

        </div>

        <div class="element-container mt-3">

            <div class="d-flex justify-content-between flex-wrap gap-1 mb-3">
                <div>Настройки</div>
                <div class="clear-all" onclick="clearEditorContent()">
                    <i class="bi bi-trash" style="cursor:pointer"></i> Очистить всё
                </div>
            </div>

            <div>Категория</div>
            {{ form.cat }}
            <br>
            <div>Статус публикации</div>
            {{ form.is_published }}

            <br>
            <div class="d-grid gap-2 d-block">

                {% include "components/loadingBtn.html" with button_text="Опубликовать" loading_text="Публикация..." %}

            </div>
        </div>

    </form>





    <script>
        function clearEditorContent() {
            editor.setComponents('');
            document.getElementById('id_title').value = '';
            document.getElementById('id_description').value = '';
        }

        document.addEventListener('DOMContentLoaded', function () {
            const clearButton = document.querySelector('.bi-trash');
            if (clearButton) {
                clearButton.addEventListener('click', function () {
                    const isConfirmed = confirm('ARE YOU SURE??');
                    if (isConfirmed) {
                        clearEditorContent();
                    }
                });

                clearButton.addEventListener('mouseover', function () {
                    clearButton.style.color = 'red';
                });

                clearButton.addEventListener('mouseout', function () {
                    clearButton.style.color = '';
                });
            }

            const stickyContainer = document.getElementById('sticky-container');
            const editorContainer = document.getElementById('gjs');
            const editorStartPosition = editorContainer.offsetTop;

        });

        function goBack() {
            window.history.back();
        }

        $('#tagSelect').on('select2:select', function (e) {
            const selectedTag = e.params.data.text;
            displaySelectedTag(selectedTag);
        });

        function displaySelectedTag(tag) {
            const tagContainer = document.getElementById('selectedTags');
            const tagElement = document.createElement('span');
            tagElement.innerHTML = `<span>${tag} <button type="button" onclick="removeTag('${tag}')" class="btn btn-sm btn-danger">X</button></span>`;
            tagContainer.appendChild(tagElement);
        }

        function removeTag(tag) {
            const tagContainer = document.getElementById('selectedTags');
            tagContainer.querySelectorAll('span').forEach(tagElement => {
                if (tagElement.innerText.includes(tag)) {
                    tagElement.remove();
                }
            });
        }

        document.getElementById('id_main_img').addEventListener('change', handleFileSelect);

        function allowDrop(event) {
            event.preventDefault();
        }

        function handleDrop(event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            handleFileSelect(file);
        }

        const gjsContainer = document.getElementById('gjs');
        gjsContainer.addEventListener('dragover', allowDrop);
        gjsContainer.addEventListener('drop', handleDrop);

        function handleFileSelect(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadedImage').src = e.target.result;
                document.getElementById('uploadedImage').style.display = 'block';
            };
            reader.readAsDataURL(file);
        }

        document.getElementById('article-form').addEventListener('submit', function (event) {
            document.getElementsByName('content')[0].value = editor.getHtml();
            document.getElementsByName('styles')[0].value = editor.getCss();
        });


        const toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],
            ['link'],

            [{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],

            [{'header': [1, 2, 3, 4, 5, 6, false]}],
            [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
            [{'font': []}],
            [{'color': []}, {'background': []}],          // dropdown with defaults from theme
            [{'align': []}],
            ['clean']                                         // remove formatting button
        ];

        const quill = new Quill('#gjs', {

            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });


    </script>
{% endblock %}
