{% extends 'base12.html' %}

{% load static %}

{% block title %}
Создание статьи
{% endblock %}

{% block center_col %}
  <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
  <script src="//unpkg.com/grapesjs"></script>
  <link rel="stylesheet" href="{% static 'web/css/article_add.css' %}">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  <div style="display:flex">

    <div class="col-md-8" style="padding:20px; display:flex; flex-direction:column">

      <div style="display:flex; flex-direction: column; margin-bottom: 20px; background-color:white; padding: 20px; border-radius: 15px">

        <span class="article-back-btn">
          <span class="back-content" onclick="goBack()" style="cursor:pointer">
            <i class="bi bi-chevron-left" style="scale:1"></i> &nbsp;Назад
          </span>
        </span>
        
        <div id="gjs" style="min-height: 300px;"></div> 

      </div>

    </div>

    <div class="col-md-4" style="padding:20px;">

      <div style="display:flex; flex-direction: column; margin-bottom: 20px; background-color:white; padding: 20px; border-radius: 15px">

        <div class="article-settings">
          <span>Настройки</span>
          <span><i class="bi bi-trash" style="scale:1; cursor:pointer"></i> Очистить всё</span>
        </div>

        <span class="article-add-desc">
          Перетаскивайте или нажимайте на элементы, чтобы добавить их в редактор
        </span>

        <div id="blocks"></div>

        <hr class="solid" />

        <div class="choose-catagory">

          <span style="font-weight: 500;font-size: 15px;">Категория:</span>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: grey; width: 100%; display: flex; align-items: center; justify-content: space-between;">
              Выберите категорию
            </button>
            <ul class="dropdown-menu" style="position: absolute;inset: 0px auto auto 0px;width: 100%;margin: 0px;transform: translate(0px, 40px);">
              {% for cat in form.cat  %}
                {{cat}}
              {% endfor %}
            </ul>
          </div>

        </div>



        <div class="choose-tags" style="margin-top: 20px;">
          <span style="font-weight: 500;font-size: 15px;">Выберите теги:</span>
          <select id="tagSelect" class="form-select" multiple="multiple" style="width: 100%;">
            <option value="tag1">IT</option>
            <option value="tag2">Finance</option>
            <option value="tag3">Business</option>
            <option value="tag4">Banks</option>
            <option value="tag5">Economics</option>
            <option value="tag6"></option>
          </select>
        </div>
    
 



        <button type="button" class="btn btn-success" style="margin-top:20px">Опубликовать</button>
        <button type="button" onclick="getContentFromEditor()">Get Content</button>

      </div>

    </div>

  </div>

  {% csrf_token %}
  <script>
    var csrftoken = '{{ csrf_token }}';
    const editor = grapesjs.init({
      container: '#gjs',
      fromElement: true,
      height:'auto',
      width: 'auto',
      storageManager: {
        type: 'local',
        autoload: true, 
        autosave: true, 
        stepsBeforeSave: 1, 
        id: 'gjs', 
      },
      panels: { defaults: [] },
      blockManager: {
        appendTo: '#blocks',
        blocks: [
          {
            id: 'section',
            label: ' <i class="bi bi-fonts" style="color: #a5b1c8; scale: 3; margin-bottom: 10px !important;"></i> <b style="color: #a5b1c8;">Заголовок</b>',
            attributes: { class: 'gjs-block-section' },
            content: `
              <section >
                <h2 style=" font-family: sans-serif;">This is a simple title</h1>
              </section>
            `,
          }, 
          {
            id: 'text',
            label: '<i class="bi bi-card-text" style="color: #a5b1c8; scale: 3; margin-bottom: 10px !important;"></i> <b style="color: #a5b1c8;">Текст</b>',
            content: '<div data-gjs-type="text"  style="padding : 10px 0 10px 0; font-family: sans-serif;">Insert your text here</div>',
          }, 
          {
            id: 'image',
            label: '<i class="bi bi-card-image" style="color: #a5b1c8; scale: 3; margin-bottom: 10px !important; "></i> <b style="color: #a5b1c8;">Изображение</b>',
            select: true,
            content: '<img src="placeholder-image.jpg" alt="Placeholder Image" style="max-width: 100%; height: auto; margin-top:5px;margin-bot:5px">',
            activate: true,
          },
          {
            id:'list',
            label: '<i class="bi bi-list" style="color: #a5b1c8; scale: 3; margin-bottom: 10px !important;"></i> <b style="color: #a5b1c8;">Список</b>',
            content : '<ul><li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 1<li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 2</li><li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 3</li><li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 4</li>'
          },
          {
            id: 'hr',
            label: '<i class="bi bi-dash" style="color: #a5b1c8; scale: 3; margin-bottom: 10px !important;"></i> <b style="color: #a5b1c8; font-family: sans-serif;">Горизонтальная линия</b>',
            content: '<hr>',
          },
          {
            id: 'line_break',
            label: '<i class="bi bi-arrows-expand" style="color: #a5b1c8;margin-bottom: 10px;scale: 2;"></i> <b style="color: #a5b1c8; font-family: sans-serif;">Разделитель</b>',
            content: '<div style="margin-bottom: 10px;">&nbsp;</div>',
          }
          
        ]
      },
    });

    const placeholderContent = `
      <section>
        <h1 style="font-family: sans-serif;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</h1>
      </section>
      <img src="placeholder-image.jpg" alt="Placeholder Image" style="width:100%; height:200px;margin-top:5px;margin-bot:5px">
      <div style="margin-bottom: 10px;">&nbsp;</div>
      <div data-gjs-type="text" style="font-family: sans-serif;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <ul><li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 1<li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 2</li><li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 3</li><li style=" margin: 5px 0 5px 0;font-family: sans-serif;">Item 4</li>
      
    `;
    editor.setComponents(placeholderContent);

    editor.on('load', () => {
      const gjsContainer = document.getElementById('gjs');
      if (gjsContainer) {
        gjsContainer.style.overflow = 'visible';
        gjsContainer.style.height = '100%';
        gjsContainer.style.minHeight = '1000px';
        gjsContainer.style.padding = '10px';
      }
    });

    //--------------------------------------------------------------------------------------------------------//

    function clearEditorContent() {
      editor.setComponents('');
    }

    document.addEventListener('DOMContentLoaded', function () {
      const clearButton = document.querySelector('.bi-trash');
      if (clearButton) {
        clearButton.addEventListener('click', function () {
          const isConfirmed = confirm('ARE YOU SURE??');
          if (isConfirmed) {
            clearEditorContent();
          }
        });
    
        clearButton.addEventListener('mouseover', function () {
          clearButton.style.color = 'red';
        });
    
        clearButton.addEventListener('mouseout', function () {
          clearButton.style.color = ''; 
        });
      }
    });


    function getContentFromEditor() {
      const editorContent = editor.getHtml();
      console.log(editorContent);
    
      const formData = new FormData();
      formData.append('content', editorContent);
    
      // can send the content to the server using AJAX, fetch, etc.
      fetch('/articles/add/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken": csrftoken,
        },
        body: formData,
    })
    .then(response => response.text())  
    .then(data => {
        console.log('Response:', data);
    })
    .catch(error => console.error('Error:', error));
    }
    


    function goBack() {
      window.history.back();
    }
    //button is licked to this


    // dropdown
    $(document).ready(function() {
      $('#tagSelect').select2({
        maximumSelectionLength: 3,
        language: {
          maximumSelected: function (e) {
            return `Cant choose more than ${e.maximum} tags`;
          }
        }
      });
    });
  
    //selected tags
    $('#tagSelect').on('select2:select', function (e) {
      const selectedTag = e.params.data.text;
      displaySelectedTag(selectedTag);
    });
  
    function displaySelectedTag(tag) {
      const tagContainer = document.getElementById('selectedTags');
      const tagElement = document.createElement('span');
      tagElement.innerHTML = `<span>${tag} <button type="button" onclick="removeTag('${tag}')" class="btn btn-sm btn-danger">X</button></span>`;
      tagContainer.appendChild(tagElement);
    }
  
    function removeTag(tag) {
      //remove selected tags
      const tagContainer = document.getElementById('selectedTags');
      tagContainer.querySelectorAll('span').forEach(tagElement => {
        if (tagElement.innerText.includes(tag)) {
          tagElement.remove();
        }
      });
    }


  </script>

{% endblock %}
