<!-- article_list.html -->
{% extends 'basePostList.html' %}

{% block title %}
Статьи
{% endblock %}

{% block posts_content %}




<body>

	<div class="articles-main-cont" >	

		<div class="search-and-cat-cont">

			<input type="text" class="article-search-cont" placeholder="Поиск" />

			{% include "components/post_category_filter.html" %}

		</div>

		{% for article in object_list %}

		<div class="article-content">
			<div class="article-publish-date">
				<i class="bi bi-calendar2-week" style="color:grey; scale:1.3"></i>
				&nbsp;  {{article.time_update|date:"d-m-Y H:i"}}

			</div>

			<div class="article-title">{{article.title}}</div>

			<div class="article-main-content">
				{% autoescape off %}

				{{article.content}}
				<!--{{article.content|linebreaks|truncatewords:40}}-->

				{% endautoescape %}
				<span class="link-read-post"><a href="{{ article.get_absolute_url }}" class="link-read-post">Читать пост &nbsp;
					<i class="bi bi-chevron-down" style="color:black; scale:1.3"></i>
					</a>
				</span>
			
				<div class="article-list-cat-cont ">
					<span class="article-catagory-container">{{article.cat.name}}</span>
				</div>

				<div class="article-last">

					<div class="article-author-cont">
						
                        <div class="author-pic">
							<i class="bi bi-person-circle" style="color:black; scale:3"></i>
						</div>
						
                        <div class="author-name">Александр Александров</div>
                        
					</div>

					<div class="article-comments-andshare-cont">
                        
						<div class="article-comments">
							<i class="bi bi-chat-left-text" style="color:grey;"></i>
						    104
                        </div>

                        <div class="article-share">
							<i class="bi bi-box-arrow-up-right" style="color:grey; "></i>
						</div>

					</div>

				</div>

				<hr class="solid">
				
			</div>

		</div>
		{% endfor %}

	</div>

</body>

{% endblock %}