


{% extends 'base123.html' %}
{%load static%}
{% block center_col %}
<div class="base-Content">
  <div class="article-page-content">

    <div class="article-page-back-btn">

      <a href="#" class="article-page-back-btn">

          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16" style="font-weight: bold; color:#777786;">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>

          &nbsp;Ко всем новостям
      </a>

  </div>

    <div class="article-page-publish-date">
      <i class="bi bi-calendar2-week" style="color:#a9b4ca; scale:1.3"></i>
      &nbsp;  {{article.time_update|date:"d-m-Y H:i"}}

    </div>

    <div class="article-title">{{article.title}}</div>

    <div class="article-main-content">

      {% autoescape off %}

      {{article.content}}

      {% endautoescape %}

      <div class="article-page-last">

        <div class="article-comments-andshare-cont">
          <div class="article-comments">
            <i class="bi bi-chat-left-text" style="color:grey; scale:1"></i>&nbsp; 104
          </div>

          <div class="article-share">
            <i class="bi bi-box-arrow-up-right" style="color:grey; scale:0.9"></i>
          </div>

        </div>

      </div>

      
    </div>

  </div>
  
</div>

{%endblock%}