<!-- article_list.html -->
{% extends 'basePostList.html' %}

{% load i18n %}

{% block title %}
    {% trans 'ArticlesLabel' %}
{% endblock %}

{% load web_tags %}
{% load static %}


{% block posts_content %}


    {% block extra_static %}
        <link rel="stylesheet" href="{% static 'web/css/article_list.css' %}?ver=0.01">
    {% endblock %}

    <body>

    <div class="element-container d-flex flex-column gap-4 basepost-content-mobile-bottom-padding">

        <div class="search-and-cat-cont d-flex ">
            <div class="col-sm-6 col-md-6">
                <input type="text" id="search-article-query" class="lists-search-cont" placeholder="{% trans 'SearchLabel' %}"
                       value="{{ search_q }}">
            </div>

            <div class="col-sm-6 col-md d-flex justify-content-end gap-3 ">
                {% include "components/post_category_filter.html" %}
            </div>

        </div>

        <div id="articles-container">
            {% include "posts/article/article_list_content.html" %}
        </div>

        {% if has_more_objects %}
            {% include 'components/load_more.html' with data_container="#articles-container" %}
        {% endif %}

    </div>

    <script>


        function getSearchQueryParam() {
            const params = new URLSearchParams(window.location.search);
            return params.get('search_q');
        }

        $(document).ready(function () {

            $("#search-article-query").keypress(function (event) {
                if (event.key === "Enter") {
                    var search_value = $(this).val()

                    if (search_value == '') {
                        if (getSearchQueryParam())
                            window.location.href = "{{ request.path }}"
                        if (search_value == 'None') {
                            return
                        }
                    } else {
                        window.location.href = "{{ request.path }}?search_q=" + search_value;
                    }

                }
            });

           


        });
    </script>

    </body>

{% endblock %}