{% load i18n %}
{% load web_tags %}
{% load comments %}
{% load comments_xtd %}
{% load static %}
<link rel="stylesheet" href="{% static 'web/css/globalCSS.css' %}">



{% for article in experts_articles %}
    <div class="basepost-content-cont basepost-content-mobile-bottom-padding">
        <span class="basepost-title">{{ article.title }}</span>
        <span class="basepost-description">{{ article.description }}</span>
        <span class="link-read-post">
            <a href="{{ article.get_absolute_url }}" class="read-post-link">
                {% trans 'ReadPostLabel' %}
            </a>
        </span>
        <div class="basepost-prof-socials-cont">
            <div class="list-comments ">
                {% include "components/comment_icon.html" %}
                {% get_comment_count for article as comment_count %}
                {{ comment_count }}
            </div>
            <div class="list-comments">
                <i class="bi bi-calendar2-week icon-color"></i>&nbsp; {{ article.time_create|custom_time_display }}
            </div>
        </div>
    </div>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}