{% load i18n %}
{% load web_tags %}
{% load comments %}
{% load comments_xtd %}

<div id="articles" class="expert-content">
    {% if request.path == '/profile' and request.user.is_authenticated and request.user.profile.type == 1 %}
        <a href="{% url 'article_add' %}" class="btn btn-primary">Написать статью</a>
    {% endif %}

    <div id="articles-container">
        {% include "posts/article/article_profile_list_content.html" %}
    </div>

    {% if has_more_objects %}
       {% include 'components/load_more.html' with data_container="#articles-container" %}
    {% endif %}
</div>



