{% load i18n %}
{% load web_tags %}
{% load comments %}
{% load comments_xtd %}


{% for article in experts_articles %}
    <div class="expert-content-cont">
        <span class="article-title-loop-exp">
            <a href="{% url 'article_detail' article.slug %}" style="text-decoration: none;color: #36364b;">
                {{ article.title }}
            </a>
        </span>
        <span class="article-content-loop-exp">{{ article.description }}</span>
        <span class="link-read-post">
            <a href="{{ article.get_absolute_url }}" style="color:black;border: 1px solid lightgray; padding: 5px 10px 5px 10px;" class="link-read-post">
                {% trans 'ReadPostLabel' %}
            </a>
        </span>
        <div class="comments-andshare-cont" style="justify-content: space-between">
            <div style="display: flex; gap: 10px">
                <a href="{{ article.get_absolute_url }}#comments" class="list-comments" style="text-decoration: none; color: #a5b1c8;">
                    <i class="bi bi-chat-left-text" style="color:#a5b1c8;"></i>
                    {% get_comment_count for article as comment_count %}
                    &nbsp;{{ comment_count }}
                </a>
                <div class="list-share">
                    <i class="bi bi-calendar2-week" style="color:#a5b1c8;"></i>&nbsp; {{ article.time_create|custom_time_display }}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
