{% extends 'base12.html' %}
{% load static %}
{% load i18n %}
{% load web_tags %}
{% block title %}
    Создание статьи
{% endblock %}

{% block extra_static %}
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script src="//unpkg.com/grapesjs"></script>
    <script src="//unpkg.com/grapesjs-touch"></script>
    <script src="//unpkg.com/grapesjs-plugin-i18n/dist/grapesjs-plugin-i18n.min.js"></script>
    <link rel="stylesheet" href="{% static 'web/css/article_add.css' %}">
{% endblock %}

{% block center_col %}

    <style>

        [data-gjs-type="wrapper"] {
            padding: 10px;
        }

    </style>




    <form method="post" enctype="multipart/form-data" id="article-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-9">
                {% trans "BackButtonLabel" as back_text %}
                {% back_button "index" back_text %}
                {{ form.title.label }}
                {{ form.title }}
                <br>
                {{ form.description.label }}
                {{ form.description }}
                <br>
                {{ form.main_img.label }}
                <div id="imageContainer">
                    <img id="uploadedImage" src="{{ form.main_img.value.url }}"
                         style="display: {% if form.main_img.value.url %}block{% else %}none{% endif %}"></img>
                </div>
                {{ form.main_img }}
                <br>
                {{ form.content }}
                <div id="gjs" style="min-height: 300px;"></div>
                <input type="hidden" name="styles" id="id_styles" value="{{ form.styles.value }}">
            </div>
            <div class="col-3">
                <div class="article-add-right-btns">
                    <div class="article-settings">
                        <div>Настройки</div>
                        <div class="clear-all" onclick="clearEditorContent()"><i class="bi bi-trash"
                                                                                 style="cursor:pointer"></i> Очистить
                            всё
                        </div>
                    </div>
                    {#                <div class="language-switch">#}
                    {#                    <label class="switch">#}
                    {#                        <input type="checkbox" id="language-toggle">#}
                    {#                        <span class="slider"></span>#}
                    {#                        <span class="lang-text lang-en">EN</span>#}
                    {#                        <span class="lang-text lang-ru">RU</span>#}
                    {#                    </label>#}
                    {#                </div>#}
                    <span class="article-add-desc">
                    Перетаскивайте или нажимайте на элементы, чтобы добавить их в редактор
                </span>
                    <div id="blocks"></div>
                    <div id="style-manager-container" style="margin: 10px 2.5% 5px;"></div>
                    <hr class="solid"/>
                    <div class="form-group">
                        <label for="{{ form.cat.id_for_label }}">{{ form.cat.label }}</label>
                        {{ form.cat }}
                    </div>
                    {#                <div>Категория *</div>#}
                    {#                {{ form.cat }}#}
                    <br>
                    <div>Статус публикации</div>
                    {{ form.is_published }}
                    <br>
                    <div class="d-grid gap-2 d-block">
                        <input type="submit" value="Опубликовать" class="btn btn-success"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% include 'posts/article/article_js_editor.html' %}

    <script>
        function clearEditorContent() {
            editor.setComponents('');
            document.getElementById('id_title').value = '';
            document.getElementById('id_description').value = '';
        }

        document.addEventListener('DOMContentLoaded', function () {
            const clearButton = document.querySelector('.bi-trash');
            if (clearButton) {
                clearButton.addEventListener('click', function () {
                    const isConfirmed = confirm('ARE YOU SURE??');
                    if (isConfirmed) {
                        clearEditorContent();
                    }
                });

                clearButton.addEventListener('mouseover', function () {
                    clearButton.style.color = 'red';
                });

                clearButton.addEventListener('mouseout', function () {
                    clearButton.style.color = '';
                });
            }
        });

        $('#tagSelect').on('select2:select', function (e) {
            const selectedTag = e.params.data.text;
            displaySelectedTag(selectedTag);
        });

        function displaySelectedTag(tag) {
            const tagContainer = document.getElementById('selectedTags');
            const tagElement = document.createElement('span');
            tagElement.innerHTML = `<span>${tag} <button type="button" onclick="removeTag('${tag}')" class="btn btn-sm btn-danger">X</button></span>`;
            tagContainer.appendChild(tagElement);
        }

        function removeTag(tag) {
            const tagContainer = document.getElementById('selectedTags');
            tagContainer.querySelectorAll('span').forEach(tagElement => {
                if (tagElement.innerText.includes(tag)) {
                    tagElement.remove();
                }
            });
        }

        document.getElementById('id_main_img').addEventListener('change', handleFileSelect);

        function allowDrop(event) {
            event.preventDefault();
        }

        function handleDrop(event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            handleFileSelect(file);
        }

        const gjsContainer = document.getElementById('gjs');
        gjsContainer.addEventListener('dragover', allowDrop);
        gjsContainer.addEventListener('drop', handleDrop);

        function handleFileSelect(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadedImage').src = e.target.result;
                document.getElementById('uploadedImage').style.display = 'block';
            };
            reader.readAsDataURL(file);
        }

        document.getElementById('article-form').addEventListener('submit', function (event) {
            document.getElementsByName('content')[0].value = editor.getHtml();
            document.getElementsByName('styles')[0].value = editor.getCss();
        });

        editor.setComponents($('input[name=content]').val());
        editor.setStyle($('input[name=styles]').val());


    </script>
{% endblock %}
