<!-- article_list.html -->
{% extends 'basePostList.html' %}

{% block title %}
    Статьи
{% endblock %}

{% load web_tags %}
{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load social_share %}

{% block posts_content %}

<style>

    .author-pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #ccc;
    }

    .author-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 768px ) {
        .article-list-search-cont {
            width: 100% !important;
        }

    }

</style>

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'web/css/article_list.css' %}">
{% endblock %}

<body>

<div class="list-main-containers">

    <div class="search-and-cat-cont">

        <div class="col-6">
            <input type="text" id="search-article-query" class="lists-search-cont" placeholder="Поиск"
                   value="{{ search_q }}">
        </div>

        <div class="col-6 catagory-cont">
            {% include "components/post_category_filter.html" %}
        </div>


    </div>

    {% for article in articles %}

    <div class="article-list-content">
        <div class="list-publish-date">
            <i class="bi bi-calendar2-week" style="color:grey; scale:1.3"></i>
            &nbsp; {{ article.time_update|custom_time_display }}

        </div>

        <div class="article-list-title">{{ article.title }}</div>

        <div class="article-list-main-content">
            {% autoescape off %}

            <div class="artile-list-description">
                {{ article.description }}
            </div>

            <div class="artile-list-description">
                {% if article.main_img %}
                    <img src="{{ article.main_img.url }}" alt="Article Image" style="max-width:100%">
                {% endif %}
            </div>

            {% endautoescape %}
                <span class="link-read-post">
                    <a href="{{ article.get_absolute_url }}" class="link-read-post" style="color:black;border: 1px solid lightgray;
    padding: 5px 10px 5px 10px;">Читать пост</a>
				</span>

            <div class="article-list-cat-cont ">
                <div class="user-catagory-highlight {{ article.cat.slug }}">
                    {{ article.cat.name }}
                </div>
            </div>

            <div class="article-list-last">

                <div class="article-list-author-cont">

                    <div class="author-pic">
                        <img src="{{ article.author.profile.avatar.url }}"/>
                    </div>

                    <a href="{% url 'expert_profile' article.author.pk %}" style="text-decoration:none">
                        <div class="article-list-author-name">{{ article.author.last_name }} {{ article.author.first_name }}</div>
                    </a>

                </div>

                <div class="comments-andshare-cont">

                    <span class="list-comments">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up">
                            <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                        </svg>
                        {{ article.votes.count }}
                    </span>

                    <a href="{{ article.get_absolute_url }}#comments" class="list-comments" style="text-decoration: none; color: inherit;">
                        <i class="bi bi-chat-left-text" style="color:grey;"></i>
                        {% get_comment_count for article as comment_count %}
                        &nbsp;{{ comment_count }}
                    </a>


                    <div class="list-comments">

                        <i class="bi bi-box-arrow-up-right global-cat-dropdown"
                           id="socialShareDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">
                        </i>



                        <div class="dropdown">

                        </div>

                    </div>

                </div>

            </div>

            <hr class="solid">

        </div>

    </div>
    {% endfor %}


    <div style="display:flex; justify-content:center">
        <button type="button" class="btn btn-secondary btn-more" onclick="alert('В разработке');">
            Загрузить ещё
        </button>
    </div>

</div>

<script>
    document.getElementById("search-article-query").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            window.location.href = {{ request.path }} + '?search_q=' + this.value
        }
    })
</script>

</body>

{% endblock %}