<!-- article_list.html -->
{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>Статьи</h1>
    <h2>Список статей</h2>
<ul class="list-articles">
	{% for article in object_list %}
			<li><div class="article-panel">
	<p class="first">Категория: {{article.cat.name}}</p>
	<p class="last">Дата: {{article.time_update|date:"d-m-Y H:i:s"}}</p>
    </div>
				<h2>{{article.title}}</h2>
    {% autoescape off %}
	{{article.content|linebreaks|truncatewords:20}}
    {% endautoescape %}
				<div class="article-images">
					{% for image in article.image.all %}
					{{ image.image.url }}
						<p><img class="img-article-left thumb" src="{{ image.image.url }}"></p>
					{% empty %}
					  <p>Нет изображений для этой статьи.</p>
					{% endfor %}
				  </div>
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ article.get_absolute_url }}">Читать пост</a></p>
			</li>
	{% endfor %}
</ul>

{% endblock %}