{% load web_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/css/cbr_component.css' %}">


{% show_cbr_rates as rates %}
{% if rates %}
    <div class="cbr-rates-containe1r bg-white p-3 mb-3">
        <!-- desktop view >=1480px -->
        <div class="rates-content d-none d-1480-flex flex-nowrap">

            <div class="rate-labels">Курсы валют</div>
            {% for currency, data in rates.items %}

                {% if currency != 'KEY_RATE' %}
                    <div class="rate-item">

                        <span class="current-rate">
                            {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}
                                ${% else %}₽{% endif %}
                        </span>

                        <span class="currency-code">{{ currency }}</span>
                        <span class="current-rate">{{ data.current_rate }} ₽</span>
                        <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                            {% if data.change > 0 %}↑{% else %}↓{% endif %}
                        </span>
                    </div>
                {% endif %}

            {% endfor %}
        
            <div class="key-rate-item">
                <div class="rate-labels">Ключевая ставка</div>
                <div class="rate-labels rate-date">с {{ rates.KEY_RATE.last_change_date }}</div>
                <div class="arrow arrow-{% if rates.KEY_RATE.current_rate > 0 %}up{% else %}down{% endif %}">
                    {{ rates.KEY_RATE.current_rate }} % {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                </div>             
            </div>
        
        </div>

        <!-- mobile view <1480px -->
        <div class="d-1480-none">

            <div class="marquee" style="margin-right: 50px">

                <div class="rate-labels">Курсы валют</div>
                {% for currency, data in rates.items %}

                    {% if currency != 'KEY_RATE' %}
                        <div class="rate-item">

                            <span class="current-rate">
                                {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}
                                    ${% else %}₽{% endif %}
                            </span>

                            <span class="currency-code">{{ currency }}</span>
                            <span class="current-rate">{{ data.current_rate }} ₽</span>
                            <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                                {% if data.change > 0 %}↑{% else %}↓{% endif %}
                            </span>

                        </div>
                    {% endif %}
                {% endfor %}

                <div class="key-rate-item">

                    <div class="rate-labels">Ключевая ставка</div>
                    <div class="rate-labels rate-date">с {{ rates.KEY_RATE.last_change_date }}</div>
                    <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {{ rates.KEY_RATE.current_rate }} %
                    </div>

                    <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                    </span>
                </div>
            </div>
            <div class="marquee">

                <div class="rate-labels">Курсы валют</div>

                {% for currency, data in rates.items %}
                    {% if currency != 'KEY_RATE' %}
                        <div class="rate-item">

                            <span class="current-rate">
                                {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}
                                    ${% else %}₽{% endif %}
                            </span>

                            <span class="currency-code">{{ currency }}</span>
                            <span class="current-rate">{{ data.current_rate }} ₽</span>
                            <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                                {% if data.change > 0 %}↑{% else %}↓{% endif %}
                            </span>

                        </div>
                    {% endif %}
                {% endfor %}

                <div class="key-rate-item">

                    <div class="rate-labels">Ключевая ставка</div>
                    <div class="rate-labels rate-date">с {{ rates.KEY_RATE.last_change_date }}</div>

                    <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {{ rates.KEY_RATE.current_rate }} %
                    </div>

                    <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endif %}