{% load web_tags %}
<style>
    .cbr-rates-container {
        width: 100%;
        position: relative;
        background: white;
    }

    @media (min-width: 992px) {
        .cbr-rates-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
            overflow: visible;
        }

        .rates-content {
            display: flex;
            gap: 5px;
            justify-content: space-around;
            width: 100%;
        }

        .marquee {
            display: none;
        }
    }

    @media (max-width: 991.98px) {
        .cbr-rates-container {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        .marquee {
            display: inline-block;
            animation: marquee 20s linear infinite;
        }

        @keyframes marquee {
            from {
                transform: translate3d(0, 0, 0);
            }
            to {
                transform: translate3d(-100%, 0, 0);
            }
        }

        .rate-item, .key-rate-item {
            display: inline-block;
            margin-right: 20px;
        }
    }

    .arrow-up {
        color: green;
        font-weight: 600;
    }

    .arrow-down {
        color: red;
        font-weight: 600;
    }

    .rate-labels {
        font-size: 12px;
        color: grey;
        display: inline-block;
        margin-right: 20px;
    }

    .rate-item {
        font-size: 12px;
        font-weight: 500;
        white-space: nowrap;
    }

    .current-rate {
        font-weight: 600;
        font-size: 12px;
    }

    .rate-date {
        font-size: 10px;
    }

    .key-rate-item {
        display: inline-flex;
        font-size: 12px;
        gap: 3px;
        align-items: baseline;
    }
</style>

{% show_cbr_rates as rates %}
{% if rates %}

    <div class="cbr-rates-container element-container">
        <!-- desktop view -->
        <div class="rates-content d-none d-lg-flex">

            <div class="rate-labels">Курсы валют</div>

            {% for currency, data in rates.items %}
                {% if currency != 'KEY_RATE' %}

                    <div class="rate-item">
                        <span class="current-rate">
                            {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}${% else %}₽{% endif %}
                        </span>

                        <span class="currency-code">{{ currency }}</span>
                        <span class="current-rate">{{ data.current_rate }} ₽</span>
                        <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                            {% if data.change > 0 %}↑{% else %}↓{% endif %}
                        </span>

                    </div>
                {% endif %}
            {% endfor %}

            <div class="key-rate-item">

                <div class="rate-labels">Ключевая ставка</div>
                <div class="rate-labels rate-date">с {{ rates.KEY_RATE.last_change_date }}</div>
                <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                    {{ rates.KEY_RATE.current_rate }}
                </div>

                <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                    {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                </span>

            </div>
        </div>

        <!-- need duplicate for smooth transition-->
        <div class="d-lg-none" >

            <div class="marquee" style="margin-right: 50px">

                <div class="rate-labels">Курсы валют</div>
                {% for currency, data in rates.items %}
                    {% if currency != 'KEY_RATE' %}

                        <div class="rate-item">
                            <span class="current-rate">
                                {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}${% else %}₽{% endif %}
                            </span>

                            <span class="currency-code">{{ currency }}</span>
                            <span class="current-rate">{{ data.current_rate }} ₽</span>
                            <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                                {% if data.change > 0 %}↑{% else %}↓{% endif %}
                            </span>

                        </div>
                    {% endif %}
                {% endfor %}

                <div class="key-rate-item">

                    <div class="rate-labels">Ключевая ставка</div>
                    <div class="rate-labels rate-date">с {{ rates.KEY_RATE.last_change_date }}</div>
                    <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {{ rates.KEY_RATE.current_rate }}
                    </div>

                    <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                    </span>

                </div>
            </div>

            <div class="marquee">

                <div class="rate-labels">Курсы валют</div>

                {% for currency, data in rates.items %}
                    {% if currency != 'KEY_RATE' %}
                        <div class="rate-item">

                            <span class="current-rate">
                                {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}${% else %}₽{% endif %}
                            </span>

                            <span class="currency-code">{{ currency }}</span>
                            <span class="current-rate">{{ data.current_rate }} ₽</span>
                            <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                                {% if data.change > 0 %}↑{% else %}↓{% endif %}
                            </span>

                        </div>
                    {% endif %}
                {% endfor %}

                <div class="key-rate-item">

                    <div class="rate-labels">Ключевая ставка</div>
                    <div class="rate-labels rate-date">с {{ rates.KEY_RATE.last_change_date }}</div>
                    <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {{ rates.KEY_RATE.current_rate }}
                    </div>

                    <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endif %}