{% load web_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/css/cbr_component.css' %}">


{% show_cbr_rates as rates %}
{% if rates %}
    <div class="cbr-rates-container bg-white p-3 mb-3 rounded-4">
        <!-- desktop view >=1480px -->
        <div class="d-flex gap-1 justify-content-around w-100 d-none d-1480-flex flex-nowrap">

            <div class="rfs-12 text-secondary d-inline-block me-2">Курсы валют</div>
            {% for currency, data in rates.items %}

                {% if currency != 'KEY_RATE' %}
                    <div class="text-nowrap g-fs-12">

                        <span class="fs-12 fw-semibold">
                            {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}
                                ${% else %}₽{% endif %}
                        </span>

                        <span class="currency-code">{{ currency }}</span>
                        <span class="fs-12 fw-semibold">{{ data.current_rate }} ₽</span>
                        <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                            {% if data.change > 0 %}↑{% else %}↓{% endif %}
                        </span>
                    </div>
                {% endif %}

            {% endfor %}

            <div class="d-inline-flex g-fs10 gap-1 align-items-baseline">
                <div class="rfs-12 text-secondary d-inline-block me-2">Ключевая ставка</div>
                <div class="rfs-12 text-secondary d-inline-block me-2 fs-10">с {{ rates.KEY_RATE.last_change_date }}</div>
                <div class="arrow arrow-{% if rates.KEY_RATE.current_rate > 0 %}up{% else %}down{% endif %}">
                    {{ rates.KEY_RATE.current_rate }} % {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                </div>
            </div>

        </div>

        <!-- mobile view <1480px -->
        <div class="d-flex d-1480-none">
            <div class="d-flex align-items-center marquee" style="margin-right: 20px">
                <div class="rfs-12 text-secondary d-inline-block me-2">Курсы валют</div>
                {% for currency, data in rates.items %}
                    {% if currency != 'KEY_RATE' %}
                        <div class="text-nowrap g-fs-12 d-flex align-items-center gap-1">
                            <span class="fs-12 fw-semibold">
                                {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}
                                    ${% else %}₽{% endif %}
                            </span>
                            <span class="currency-code">{{ currency }}</span>
                            <span class="fs-12 fw-semibold">{{ data.current_rate }} ₽</span>
                            <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                                {% if data.change > 0 %}↑{% else %}↓{% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="d-inline-flex g-fs10 gap-1 align-items-center gap-1">
                    <div class="rfs-12 text-secondary d-inline-block me-2">Ключевая ставка</div>
                    <div class="rfs-12 text-secondary d-inline-block me-2 fs-10">с {{ rates.KEY_RATE.last_change_date }}</div>
                    <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {{ rates.KEY_RATE.current_rate }} %
                    </div>
                    <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {% if rates.KEY_RATE.current_rate > 0 %}↑{% else %}↓{% endif %}
                    </span>
                </div>
            </div>

            <div class="d-flex align-items-center marquee">
                <div class="rfs-12 text-secondary d-inline-block me-2">Курсы валют</div>
                {% for currency, data in rates.items %}
                    {% if currency != 'KEY_RATE' %}
                        <div class="text-nowrap g-fs-12 d-flex align-items-center gap-1">
                            <span class="fs-12 fw-semibold">
                                {% if currency == 'CNY' %}¥{% elif currency == 'EUR' %}€{% elif currency == 'USD' %}
                                    ${% else %}₽{% endif %}
                            </span>
                            <span class="currency-code">{{ currency }}</span>
                            <span class="fs-12 fw-semibold">{{ data.current_rate }} ₽</span>
                            <span class="arrow {% if data.change > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                                {% if data.change > 0 %}↑{% else %}↓{% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="d-inline-flex g-fs10 gap-1 align-items-center gap-1">
                    <div class="rfs-12 text-secondary d-inline-block me-2">Ключевая ставка</div>
                    <div class="rfs-12 text-secondary d-inline-block me-2 fs-10">с {{ rates.KEY_RATE.last_change_date }}</div>
                    <div class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {{ rates.KEY_RATE.current_rate }} %
                    </div>
                    <span class="arrow {% if rates.KEY_RATE.current_rate > 0 %}arrow-up{% else %}arrow-down{% endif %}">
                        {% if data.change > 0 %}↑{% else %}↓{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endif %}