{% load i18n %}
{% load web_tags %}
{% load static %}

<style>
    @media (max-width: 768px) {
        .prof-user-setting {
            display: flex;
            font-family: sans-serif;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
            margin-left: 0 !important;
            padding: 0 !important;
        }

        .user-display-name, .user-rating-cont {
            justify-content: center !important;
            font-size: 30px;
        }

        .user-category {
            margin-bottom: 5px;
        }

        .user-catagory-highlight {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .prof-settings-btn {
            margin-left: 0 !important;
        }

        .top-half-prof {
            flex-direction: row;
        }

        .prof-page-pic-cont {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile-information-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


    .top-half-prof {
        display: flex;
        flex-direction: column;
    }

    .profile-header {
        display: flex;
        gap: 10px;
    }


    .profile-avatar {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    @media (max-width: 768px ) {


        .user-category-cont {
            justify-content: center !important;
        }
    }


    .user-rating-cont {
        display: flex;
    }

    .user-rating {
        margin-right: 5px;
    }


    .star-icon {
        color: #e9be50;
        padding: 0 2px;
    }


    .prof-user-setting {
        margin-left: 25%;
        padding: 10px 0 0 30px;
        gap: 5px;
        flex-wrap: wrap;
    }

    .bottom-bold-text {
        font-weight: bold;
    }

    .education-list {
        display: flex;
        flex-direction: column;
    }

    .social-links {
        align-items: center;
        gap: 10px;
    }

    .social-icon {
        width: 24px;
        height: 24px;
    }

    .mobile-image-size {
        height: 150px;
        width: 150px;
    }
</style>


<div class="col-12 top-half-prof">
    <div class="profile-header d-none d-md-flex">
        <div class="col-sm-3 prof-page-pic-cont">
            <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar">
        </div>
        <div class="col-sm-9 profile-information-cont">
            <div class="user-display-name">
                {{ user.first_name }} {{ user.last_name }}
            </div>

            {% if user.profile.type == 1 %}

                <div class="user-rating-cont">

                    <div class="user-rating">{% trans 'RatingLabel' %} :
                        {{ user.expertprofile.rating|default_if_none:0 }}</div>
                    <div class="user-rate-and-stars">
                        {% get_rate_chipher user.expertprofile.rating|default:0 as filled_stars_chipher %}
                        {% for ch in filled_stars_chipher %}
                            {% if ch == 'f' %}
                                <i class="bi bi-star-fill star-icon"></i>
                            {% elif ch == 'h' %}
                                <i class="bi bi-star-half star-icon"></i>
                            {% elif ch == 'e' %}
                                <i class="bi bi-star star-icon"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="user-category-cont" style="flex-wrap: wrap">
                    <div class="displayflex">
                        <div class="user-category">Эксперт в области :</div>
                        {% for exp_category in profile.expert_categories.all %}
                            <div class="user-catagory-highlight {{ exp_category.slug }}">{{ exp_category.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                Клиент

            {% endif %}


        </div>
    </div>

    <!-- Mobile version (< 768px) -->
    <div class="profile-header d-md-none" style="flex-direction: column;">
        <div class="header-top">
            <div class="avatar-cont" style="display: flex;justify-content: center;">
                <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar mobile-image-size">
            </div>
            <div class="user-info">
                <div class="user-display-name">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                {% if user.profile.type == 1 %}
                    <div class="user-rating-cont">
                        <div class="user-rating">{% trans 'RatingLabel' %} :
                            {{ user.expertprofile.rating|default_if_none:0 }}</div>
                        <div class="user-rate-and-stars">
                            {% get_rate_chipher user.expertprofile.rating|default:0 as filled_stars_chipher %}
                            {% for ch in filled_stars_chipher %}
                                {% if ch == 'f' %}
                                    <i class="bi bi-star-fill star-icon"></i>
                                {% elif ch == 'h' %}
                                    <i class="bi bi-star-half star-icon"></i>
                                {% elif ch == 'e' %}
                                    <i class="bi bi-star star-icon"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="user-category-cont" style="flex-wrap: wrap">
                    <div class="displayflex" style="flex-direction: column;">
                    <div class="user-category" style="justify-content: center">Эксперт в области :</div>
                    <div class="user-category" style="flex-wrap: wrap;justify-content: center;">
                    {% for exp_category in profile.expert_categories.all %}
                        <div class="user-catagory-highlight {{ exp_category.slug }}">{{ exp_category.name }}</div>
                    {% endfor %}

                {% else %}
                    Клиент
                {% endif %}
                </div>
                </div>



                </div>
    </div>


</div>