{% load i18n %}
{% load web_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'web/css/profile.css' %}">

<div class="col-12">
    <div class="d-flex flex-column flex-md-row justify-content-evenly ">
        {# Avatar Section #}
        <div class=" col-md-3-5 d-flex justify-content-center justify-content-md-start">
            <img src="{{ user.profile.avatar.url }}"
                 alt="Avatar"
                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
        </div>

        {# User Info Section #}
        <div class=" col-md-8-5 d-flex flex-column justify-content-evenly ">
            {# Name #}
            <div class="g-fs-header-20 text-center justify-content-center text-center text-md-start">
                {{ user.first_name }} {{ user.last_name }}
            </div>

            {% if user.profile.type == 1 %}
                {# Rating #}
                <div class="d-flex justify-content-center justify-content-md-start">
                    {% include 'components/experts/rating.html' with user=user %}
                </div>

                {# Expert Categories #}
                <div class="d-flex flex-column flex-md-row align-items-center min-h-30 flex-wrap">
                    <div class="user-category mb-2 mb-md-0">Эксперт в области : </div>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-2">
                        {% for exp_category in profile.expert_categories.all %}
                            <div class="user-catagory-highlight {{ exp_category.slug }}">
                                {{ exp_category.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="text-center text-md-start">Клиент</div>
            {% endif %}
        </div>
    </div>
</div>