{% load i18n %}
{% load web_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/css/profile.css' %}">

{% is_mobile as mobile %}

<div class="col-12 flex-column">

    <div class="profile-header d-none d-md-flex">

        <div class="col-sm-3 prof-page-pic-cont">
            <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar">
        </div>

        <div class="col-sm-9 profile-information-cont">

            <div class="user-display-name">
                {{ user.first_name }} {{ user.last_name }}
            </div>

            {% if user.profile.type == 1 %}

                {% include 'components/experts/rating.html' with user=expert %}

                <div class="user-category-cont">
                    <div class="displayflex">
                        <div class="user-category">Эксперт в области :</div>
                        {% for exp_category in profile.expert_categories.all %}
                            <div class="user-catagory-highlight {{ exp_category.slug }}">{{ exp_category.name }}</div>
                        {% endfor %}
                    </div>
                </div>

            {% else %}
                Клиент
            {% endif %}
        </div>
    </div>

    <!-- Mobile version (< 768px) -->
    <div class="profile-header d-md-none flex-column">
        <div class="header-top">
            <div class="avatar-cont">
                <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar mobile-image-size">
            </div>

            <div class="user-info">
                <div class="user-display-name">
                    {{ user.first_name }} {{ user.last_name }}
                </div>

                {% if user.profile.type == 1 %}

                    {% include 'components/experts/rating.html' with user=expert %}

                    <div class="user-category-cont">
                        <div class="displayflex flex-column">
                            <div class="user-category user-category-center">Эксперт в области :</div>
                            <div class="user-category user-category-center">
                                {% for exp_category in profile.expert_categories.all %}
                                    <div class="user-catagory-highlight {{ exp_category.slug }}">{{ exp_category.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <span>Клиент </span>
                {% endif %}

            </div>
        </div>
    </div>
</div>