{% load web_tags %}

<style>

    .navcss {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin-bottom: 15px
    }

    div.right-category-list > a.selected {
        background-color: white;
        border-radius: 10px;
    }


    @media (max-width: 768px ) {

        .navbar-brand {
            color: white !important;
        }

        div.right-category-list > a.selected {

            color: black !important;
        }

        div.navbar-brand > a.selected {

            background-color: black !important;
        }

        .navbar-brand:hover {
            background-color: #ffffff !important;
            border-radius: 10px;
            color: black !important;
        }

    }


</style>

<div class="col-12 d-md-block" style="position:sticky; top:20px">
    <nav class="navbar navcss ">

        <div class="container-fluid-nav right-category-list">

            {% split request.path "/" "first" as first_path %}

            {% split request.path "/" "last" as last_path %}


            <a class="navbar-brand {% if last_path == 'popular' %} selected {% endif %}"
               href="/{{ first_path|get_post_url_or_none|default:"researches" }}/category/popular">
                <i class="bi bi-fire" style="scale: 0.9;"></i>

                <span class="nav-item-class">Популярное</span>
            </a>

            <a class="navbar-brand {% if last_path == 'new' %} selected {% endif %}"
               href="/{{ first_path|get_post_url_or_none|default:"researches" }}/category/new">
                <i class="bi bi-clock-fill" style="scale: 0.9; "></i>
                <span class="nav-item-class">Новое</span>
            </a>

            {% get_all_categories as categories %}
            {% for category in categories %}

                <a class="navbar-brand {% if last_path == category.slug %} selected {% endif %}"
                   href="/{{ first_path|get_post_url_or_none|default:"researches" }}/category/{{ category.slug }}">
                    <i class="bi bi-{{ category.icon }}" style="scale: 0.9;"></i>
                    <span class="nav-item-class">{{ category.name }}</span>
                </a>


            {% endfor %}

        </div>

        <div class="col-12  d-md-block">


            {% include "contact_and_help/contact_navbar.html" %}


        </div>

    </nav>
</div>
