{% load web_tags %}

<style>
    div.right-category-list>a.selected {
        background-color: white;
        border-radius: 10px;
    }
</style>

<nav class="navbar " style="display: flex;flex-direction: column;">

   <div class="container-fluid-nav right-category-list" >

        {% split request.path "/" "first" as first_path %}

        {% split request.path "/" "last" as last_path %}


        <a class="navbar-brand {% if last_path == 'popular' %} selected {% endif %}"
                href="/{{ first_path|get_post_url_or_none|default:"researches" }}/category/popular">
            <i class="bi bi-fire" style="scale: 0.9; padding-right: 10px;" ></i>
            Популярное
        </a>

        <a class="navbar-brand {% if last_path == 'new' %} selected {% endif %}"
                href="/{{ first_path|get_post_url_or_none|default:"researches" }}/category/new">
            <i class="bi bi-clock-fill" style="scale: 0.9; padding-right: 10px;" ></i>
            Новое
        </a>
   
        {% get_all_categories as categories %}
        {% for category in categories %}
            
        <a class="navbar-brand {% if last_path == category.slug %} selected {% endif %}"
                href="/{{ first_path|get_post_url_or_none|default:"researches" }}/category/{{ category.slug }}">
            <i class="bi bi-{{ category.icon }}" style="scale: 0.9; padding-right: 10px;" ></i>
            {{ category.name }}
        </a>

        
        {% endfor %}

   </div>
</nav>
