{% load web_tags %}
{% load static %}


<div class="bg-white p-3 mb-3 rounded-4">

    <div class="w-100 d-flex justify-content-between">

        <span class="d-flex g-fs-header-20 g-grey-color">Новости</span>

        <span class="news-open-close  d-flex align-items-center g-grey-color g-fs-12" role="button" data-expanded="true">
            <i class="bi bi-chevron-up"></i>
            &nbsp; свернуть
        </span>

    </div>

    <div class="collapse-content" id="collapseNews">
        <div class="col-md-12">

            <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">

                    {% get_all_news as news_items %}
                    {% if news_items %}

                        {% for news in news_items %}
                            <div class="carousel-item {% if forloop.counter == 2 %}active{% endif %}">
                                <div class="carousel-card">
                                    <div class="news-title" style="font-size: 7px">
                                         {% format_date news.pubDate %}
                                    </div>
                                    <div class="news-title">
                                        <a href="{{ news.link }}" class="text-decoration-none cursor-pointer g-fs-14" target="_blank">
                                            {{ news.title }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}

                        <div class="text-center p-3">
                            <p>Нет последних новостей</p>
                        </div>
                    {% endif %}

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
                    <i class="bi bi-chevron-left"></i>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
                    <i class="bi bi-chevron-right"></i>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        const toggle = $('.news-open-close');
        const content = $('#collapseNews');

        const carousel = new bootstrap.Carousel($('#newsCarousel')[0], {
            interval: 4000,
            wrap: true,
            touch: true,
            pause: 'hover',
            ride: 'carousel',
            slide: true
        });

        toggle.on('click', function () {

            const isExpanded = toggle.attr('data-expanded') === 'true';
            content.toggleClass('hidden');

            toggle.html(isExpanded ?
                '<i class="bi bi-chevron-down"></i>&nbsp; развернуть' :
                '<i class="bi bi-chevron-up"></i>&nbsp; свернуть');
            toggle.attr('data-expanded', !isExpanded);
        });
    });
</script>