{% if request.path == '/profile' and request.user.is_authenticated and request.user.profile.type == 1 %}
    <a href="{% url 'project_add' %}" class="btn btn-primary" style="margin-bottom: 10px" role="button" aria-pressed="true">Добавить проект</a>
{% endif %}

<div style="display: none" id="user-projects-container">


    <div style="display:flex; justify-content:space-between; margin-bottom:30px; gap:10px">

        <input type="text" class="lists-search-cont" placeholder="Название проекта">

        <div class="dropdown show">

            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px !important;">
                Project Category
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Стратегия</a>
                <a class="dropdown-item" href="#">Эффективность</a>
                <a class="dropdown-item" href="#">KPI и мотивация</a>
            </div>

        </div>

    </div>

    <div id="id_project_catalog" style="display:flex; justify-content: space-between; gap: 10px;"></div>

    <div id="id_project" style="display:flex; flex-direction: column ; padding:10px" class="card border-dark mb-3">

            <div class="row" style="margin-bottom: 10px;">

                <div class="col-3">
                    <div class="client-year-cont">
                        <div class="project-customer projects-flex"></div>
                        <div class="project-year projects-flex"></div>
                    </div>
                </div>

                <div class="col-9">
                    <div class="edit-project-search-bar global-border-radius">
                        <div class="project-name"></div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-3">
                    <div class="jumbotron jumbotron-fluid jumbo-styles">
                        <div class="container">
                            <div class="project-members-caption">Цели проекта:</div>
                            <div class="project-goals"></div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="jumbotron jumbotron-fluid jumbo-styles">
                        <div class="container">
                            <div class="project-members-caption">Ключевые результаты проекта:</div>
                            <div class="project-key-results"></div>
                        </div>
                        <div class="container">
                            <div class="project-members-caption">Участники:</div>
                            <div class="project-members"></div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>

<div style="display: none" id="user-projects-container-no-projects">No projects found</div>


<style>

    .card-custom{
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

</style>

<script>

    let userProjects = []

    function loadProject(project_idx) {

        $('.card.border-dark.mb-3').removeClass('selectedProj');

        $(`.card.border-dark.mb-3:eq(${project_idx})`).addClass('selectedProj');

        const selectedProject = userProjects[project_idx];

        const projectCustomerCont = $('.project-customer');
        projectCustomerCont.html('Клиент:&nbsp;' + selectedProject.customer.name);

        const projectYearCont = $('.project-year');
        projectYearCont.html('Год:&nbsp;' + selectedProject.year);

        const projectGoalsCont = $('.project-goals');
        projectGoalsCont.html(selectedProject.goals);

        const projectNameCont = $('.project-name');
        projectNameCont.html(selectedProject.name);

        const projectKeyResultsCont = $('.project-key-results');
        projectKeyResultsCont.html('');
        projectKeyResultsCont.append('<ul>');
        selectedProject.key_results.forEach((key_res) => {
            projectKeyResultsCont.find('ul').append(`<li>${key_res}</li>`);
        });

        const projectMembersFieldSetCont = $('.project-members');
        projectMembersFieldSetCont.html('');
        selectedProject.members.forEach((member) => {
            projectMembersFieldSetCont.append(`<a href="/experts/${member.id}"><img class="member-img" src="${member.profile_photo}" />${member.last_name} ${member.first_name}</a>`);
        });
    }


    function getUsersProjects() {
        $.ajax({
            url: `/expert/projects/json`,
            type: 'GET',
            data: {
                "author": {{ user.id }},
                <!--                    "name": "test"-->
            },
            success: function (response) {
                console.log(response.results);
                userProjects = response.results;
                const projectListCont = $('#id_project_catalog');
                projectListCont.html('');


                userProjects.map((project, index) => {
                    projectListCont.append(`
                        <div class="card border-dark mb-3" style="width:20%; cursor: pointer;" onclick="loadProject(${index})">
                            <div class="card-body text-dark card-css">
                                <h5 class="card-title">${project.name}</h5>
                                <h5 class="card-title">${project.year} г.</h5>
                                <div class="project-icon-main-cont">
                                    <div class="project-icon-cont" ><i class="bi bi-eye" style="font-size: 24px" onclick="alert('in progress')"></i> 46</div>
                                    <div class="project-icon-cont"><i class="bi bi-hand-thumbs-up" style="font-size: 24px" onclick="alert('in progress')"></i> 46</div>
                                </div>
                            </div>
                        </div>

                    `);
                });

                $('.card.border-dark.mb-3:first').addClass('selectedProj');

                const user_projects_container_no_projects = $('#user-projects-container-no-projects')
                const user_projects_container = $('#user-projects-container')
                // load first project as defualt
                if (userProjects.length > 0) {
                    loadProject(0);
                    user_projects_container.show();
                    user_projects_container_no_projects.hide()

                } else {

                    user_projects_container.hide();
                    user_projects_container_no_projects.show()


                }
            }
        });
    }

</script>