 <div style="display: none" id="user-projects-container">

     <div style="display:flex; justify-content:space-between; margin-bottom:30px">

        <input type="text" class="project-search-bar global-border-radius" placeholder="Название проекта123">

        {% if request.path == '/profile' %}
            <a href="{% url 'project_add' %}" class="btn btn-primary" role="button" aria-pressed="true">Добавить проект</a>
        {%endif%}

        <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px !important;">
                  Project Category
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Стратегия</a>
                  <a class="dropdown-item" href="#">Эффективность</a>
                  <a class="dropdown-item" href="#">KPI и мотивация</a>
              </div>
        </div>

    </div>

    <div id="id_project_catalog" style="display:flex; justify-content: space-between; gap: 10px; "></div>

    <div id="id_project" style="display:flex; flex-direction: column">

        <div class="container">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-3">
                    <div class="client-year-cont">
                        <div class="project-customer"></div>
                        <div class="project-year"></div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="edit-project-search-bar global-border-radius">
                        <div class="project-name"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="jumbotron jumbotron-fluid jumbo-styles">
                        <div class="container">
                            <div class="project-goals-caption" >Цели проекта:</div>
                            <div class="project-goals" ></div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="jumbotron jumbotron-fluid jumbo-styles">
                        <div class="container" >
                            <div class="project-key-results-caption">Ключевые результаты проекта</div>
                            <div class="project-key-results"></div>
                        </div>
                        <div class="container">
                            <div class="project-members-caption">Участники</div>
                            <div class="project-members"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    let userProjects = []

    function loadProject(project_idx) {

        const selectedProject = userProjects[project_idx];

        $('.item-project').removeClass('selectedProj');

        $(`.item-project:eq(${project_idx})`).addClass('selectedProj');

        const projectCustomerCont = $('.project-customer');
        projectCustomerCont.html('Клиент:' + selectedProject.customer.name)

        const projectYearCont = $('.project-year');
        projectYearCont.html('Год:' + selectedProject.year)

        const projectGoalsCont = $('.project-goals');
        projectGoalsCont.html('' + selectedProject.goals)

        const projectNameCont = $('.project-name');
        projectNameCont.html('' + selectedProject.name)

        const projectKeyResultsCont = $('.project-key-results');
        projectKeyResultsCont.html('');
        projectKeyResultsCont.append(`<ul>`)
        selectedProject.key_results.map( (key_res) => {
            projectKeyResultsCont.find('ul').append(`<li>${key_res}</li>`)
        })

        const projectMembersFieldSetCont = $('.project-members');

        projectMembersFieldSetCont.html('');
        selectedProject.members.map((member) => {
            projectMembersFieldSetCont.append(`<a href="/experts/${member.id}"><img class="member-img" src="${member.profile_photo}" />${member.last_name} ${member.first_name}</a>`)
        })
    }

    function getUsersProjects() {
        $.ajax({
            url: `/expert/projects/json`,
            type: 'GET',
            data: {
                "author": {{ user.id }},
<!--                    "name": "test"-->
            },
            success: function (response) {
                console.log(response.results);
                userProjects = response.results;
                const projectListCont = $('#id_project_catalog');
                projectListCont.html('');


                userProjects.map((project, index) => {
                    projectListCont.append(`
                        <div class="item-project" onclick="loadProject(${index})">
                            <div class="item-project-name">${project.name}</div>
                            <div class="item-project-year">${project.year} г.</div>
                            <div class="project-icon-main-cont">
                                <div class="project-icon-cont"><i class="bi bi-eye" style="font-size: 24px"></i> 46 </div>
                                <div class="project-icon-cont"><i class="bi bi-hand-thumbs-up" style="font-size: 24px"></i> 46 </div>
                            </div>
                        </div>
                    `);
                });

                // load first project as defualt
                if (userProjects.length > 0) {
                    $('#user-projects-container').show();
                    loadProject(0);
                } else {

                    projectListCont.append(`<div class="item-project">No projects found</div>`);

                }
            }
        });
    }

</script>