{% extends 'base123.html' %}
{% load web_tags %}
{% load file_filters %}
{% block center_col %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/editUserProject.css' %}">

<style>
    .select2-container {
        width: 100% !important;
    }

</style>


<h2>Редактирование проекта: {{ userproject.name }}</h2>

<form enctype="multipart/form-data" id="project-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <select name="members" id="id_members" multiple>
        {% for member in members %}
            <option selected value="{{ member.id }}">{{ member.email }}</option>
        {% endfor %}

    </select>


    <div style="display: flex; margin : 20px 0 20px 0; align-items: baseline;">
        <span style="font-size: 20px;">Файлы проекта:</span>
        <button id="fileInputBtn" class="btn btn-primary btn-sm" style="margin-left: 10px">Добавить файлы</button>
    </div>


    <style>
        .trash-icon:hover {
            color: red !important;
            cursor: pointer;
        }

        .list-class {
            min-width: 50%;
            font-size: 18px;
        }
    </style>

    <div id="fileList">
        <ul>
            {% for file in files.all %}
                <li style="margin: 5px 0 5px 0;" data-file-id="{{ file.id }}" class="loaded-from-server">
                    <div style="display: flex; align-items: center;">
                        <div style="min-width: 350px; font-size: 18px;">
                            {% if file.file %}
                                <a href="{{ file.file.url }}">{{ file.file.name|filename }}</a>
                            {% else %}
                                Файл отсутствует.
                            {% endif %}
                        </div>
                        <i class="bi bi-trash trash-icon" style="font-size:20px"></i>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <input type="hidden" id="delete_file_ids" name="delete_file_ids" multiple>


    <button type="submit" class="btn btn-primary btn-sm"> Сохранить изменения</button>

</form>

<input type="file" id="fileInput" name="files" multiple style="display: none;">

<script>
    document.getElementById('fileInputBtn').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('fileInput').click();
    });

    let fileList = [];
    let deletedFileIds = [];

    function updateFileList() {

        const fileListDiv = document.getElementById('fileList');
        let ul = fileListDiv.querySelector('ul');

        // Clear the list of newly added files to avoid duplicates
        ul.querySelectorAll('.new-file').forEach(el => el.remove());

        fileList.forEach(function (file, index) {
            const listItem = document.createElement('li');
            listItem.dataset.fileName = file.name;
            listItem.classList.add('new-file');

            const fileLink = document.createElement('a');
            fileLink.href = file.url ? file.url : '#';
            fileLink.textContent = file.name;

            const deleteButton = document.createElement('i');
            deleteButton.classList.add('bi', 'bi-trash', 'trash-icon');
            deleteButton.style.fontSize = '20px';
            deleteButton.style.cursor = 'pointer';
            deleteButton.addEventListener('click', function () {
                //console.log("Deleting file:", file.name);
                fileList.splice(index, 1);
                updateFileList();
            });

            listItem.appendChild(fileLink);
            listItem.appendChild(deleteButton);
            ul.appendChild(listItem);
        });
    }

    document.getElementById('fileInput').addEventListener('change', function () {
        const files = this.files;

        for (let i = 0; i < files.length; i++) {
            //console.log("Add file to list:", files[i].name);
            fileList.push(files[i]);
        }

        updateFileList();
    });

    /*
    $(function () {
        $('.trash-icon').click(function () {
            $(this)
        })
    })
    */


    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.trash-icon');

        document.querySelectorAll('.trash-icon').addEventListener(function ())

        deleteButtons.forEach(function (deleteButton) {
            deleteButton.addEventListener('click', function () {
                const listItem = this.closest('li');
                const fileId = listItem.dataset.fileId;
                //console.log("File ID:", fileId);

                if (fileId) {
                    deletedFileIds.push(fileId);
                    updateDeletedFileIdsInput();
                } else {
                    const fileName = listItem.dataset.fileName;
                    fileList = fileList.filter(file => file.name !== fileName);
                    updateFileList();
                }

                listItem.remove();
            });
        });
    });

    function updateDeletedFileIdsInput() {
        const deleteFilesInput = document.getElementById('delete_file_ids');
        deleteFilesInput.value = deletedFileIds;
        //console.log('deleteFilesInput.value', deleteFilesInput.value);
    }

    document.getElementById('project-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);

        for (let i = 0; i < fileList.length; i++) {
            formData.append('files', fileList[i]);
        }
/*
        const deleteFilesInput = document.getElementById('delete_file_ids');
        if (deleteFilesInput.value.trim() === '') {
            deleteFilesInput.disabled = true;
        }
*/
        //console.log("FormData entries:", [...formData.entries()]);

        fetch('{% url 'project_edit' userproject.slug %}', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    console.log('Files uploaded successfully!');
                    window.location.href = '{% url 'profile' %}';
                } else {
                    console.error('Failed to upload files:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

</script>


<script type="text/javascript">

    function formatResult(result) {
        if (!result.id) return result.text;
        //return result.last_name + ' ' + result.first_name;
        const res = `<div style="display: flex; align-items: center">
                            <img width="70" height="70" style="padding: 5px; border-radius: 50%" src="${result.profile_photo}"/>
                            ${result.last_name} ${result.first_name} (${result.email})
            </div>`
        return res;
    }

    function formatSelection(result) {
        const res = `<div style="display: flex; align-items: center">
                            ${result.last_name} ${result.first_name} (${result.email})
            </div>`
        return res;
    }

    console.log(2)
    {% autoescape off %}

    const raw_json_members = {{ members_json }}

    const proceedmembers = $.map(raw_json_members, function (item) {
        return {
            id: item.id,
            text: item.email,
            email: item.email,
            last_name: item.last_name,
            first_name: item.first_name,
            profile_photo: item.profile_photo,
        };
    })

    {% endautoescape %}

    $(document).ready(function () {
        $('#id_category').select2();
        $('#id_customer').select2();

        $("#id_members").select2({
            data: proceedmembers,
            ajax: {
                url: "/expert/search-experts/",
                dataType: 'json',
                delay: 250,
                tags: true,
                data: function (params) {
                    return {
                        query: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: $.map(data.data, function (item) {
                            return {
                                id: item.id,
                                text: item.email,
                                email: item.email,
                                last_name: item.last_name,
                                first_name: item.first_name,
                                profile_photo: item.profile_photo,
                            };
                        })
                    };
                },
                cache: true
            },

            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: formatResult,
            templateSelection: formatSelection,
            minimumInputLength: 3,
            width: '100%'
        });

    });
</script>


{% endblock %}
