{% extends 'base123.html' %}
{% load web_tags %}
{% load file_filters %}
{% block center_col %}

<style>
    .select2-container {
      width: 100% !important;
    }


</style>


<h2>Редактирование проекта: {{ userproject.name }}</h2>

<form enctype="multipart/form-data" id="project-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="members-container">
        <label>Участники проекта:</label>
        <select class="js-example-basic-single" id="search-experts" name="state">
            <option value="">Select an expert...</option>
            {% for member in userproject.members.all %}
            <option value="{{ member.id }}">{{ member.get_full_name }}</option>
            {% endfor %}
        </select>
    </div>
    <h3>Файлы проекта:</h3>
    <ul>
        {% for file in userproject.files.all %}
        <li>
            {% if file.file %}
            <a href="{{ file.file.url }}">{{ file.file.name|filename }}</a>
            {% else %}
            Файл отсутствует.
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <p></p>
    <label for="id_file">Загрузить файл:</label>
    <input id="id_file" name="file_field_name" type="file">
    <p></p>

    <input type="submit" value="Сохранить изменения">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

<script type="text/javascript">
    $(document).ready(function() {
      $('#search-experts').select2({
        minimumInputLength: 0,
        placeholder: 'Search for an expert...',
        dropdownParent: null,
        ajax: {
          url: "{% url 'search_experts' %}",
          dataType: 'json',
          delay: 250,
          processResults: function(data) {
            return {
              results: data.map(function(expert) {
                return {
                  id: expert.id,
                  text: expert.first_name + ' ' + expert.last_name
                };
              })
            };
          },
          cache: true,
          data: function(params) {
            return {
              query: params.term
            };
          }
        }
      });
    });
</script>


{% endblock %}
