

{%extends 'base.html'%}

{% load i18n %}
{% load web_tags %}
{% block content%} 


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 text-md-end"></div>
    
            <div class="col-md-2 mb-2 mb-md-0 logo-container"></div>
    
            <div class="col-md-6 text-md-end header-nav-container">
                <div class="articles-main-cont" style="margin-top: 20px; display:flex ; flex-direction:column">
                    
                    <span style="display: flex;font-size: 26px;font-weight: 700;margin-bottom: 20px;font-family: sans-serif;"> 
                        Ошибка 404 
                    </span>

                    <span style="display:flex;font-size: 18px;font-weight: 500;margin-bottom: 20px;"> Страница, на которую вы пытаетесь перейти, не существует. Возможно, она была удалена </span>

                    <div style="display:flex; gap: 15px">
                            {% trans "BackButtonLabel" as back_text %}
                            {% back_button "index" back_text %}

                    
                    </div>


                </div>
            </div>
    
            <div class="col-md-2 text-md-end all-profile-cont" style="display: flex; justify-content: flex-end; align-items:center">
            </div>
    
            <div class="col-md-1 text-md-end"></div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    
    
</body>

</html>
{% endblock %}