{% extends 'base123.html' %}

{% load static %}
{% load web_tags %}

{% block center_col %}
    <link rel="stylesheet" href="{% static 'web/css/basepost_list_css.css' %}">



    {% include 'components/news_carousel_component.html' %}


    <div class="d-block d-md-none">
        {% include "components/left_menu/advertisement_left_menu.html" %}
    </div>


    {% split request.path "/" 'first' as url_first_part %}

    <div class="d-block d-md-none">
        <div class="dropdown post-menu">
            <button class="dropbtn">
                {% if url_first_part == 'researches' %}
                    Исследования
                {% elif url_first_part == 'articles' %}
                    Статьи
                {% elif url_first_part == 'wbqa' or url_first_part == 'question_answer' %}
                    Вопрос-ответ
                {% else %}
                    Эксперты
                {% endif %}
                <span class="arrow-down"></span>
            </button>

            <div class="dropdown-content">
                {% if url_first_part != 'researches' %}
                    <a href="{% url 'research_list' %}" class="post-menu-item-mobile">Исследования</a>
                {% endif %}
                {% if url_first_part != 'experts' and url_first_part != '' %}
                    <a href="{% url 'experts_list' %}" class="post-menu-item-mobile">Эксперты</a>
                {% endif %}
                {% if url_first_part != 'articles' %}
                    <a href="{% url 'article_list' %}" class="post-menu-item-mobile">Статьи</a>
                {% endif %}
                {% if url_first_part != 'wbqa' and url_first_part != 'question_answer' %}
                    <a href="{% url 'question_list' %}" class="post-menu-item-mobile">Вопрос-ответ</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-none d-md-flex post-menu">
        <a href="{% url 'research_list' %}"
           class="post-menu-item {% if url_first_part == 'researches' or url_first_part == '' %} selected {% endif %}">Исследования</a>
        <a href="{% url 'experts_list' %}"
           class="post-menu-item {% if url_first_part == 'experts' %} selected {% endif %}">Эксперты</a>
        <a href="{% url 'article_list' %}"
           class="post-menu-item {% if url_first_part == 'articles' %} selected {% endif %}">Статьи</a>
        <a href="{% url 'question_list' %}"
           class="post-menu-item {% if url_first_part == 'wbqa' or url_first_part == 'question_answer' %} selected {% endif %}">Вопрос-ответ</a>
    </div>

    <div id="article_list" class="content-block">
        {% block posts_content %}{% endblock %}
    </div>


{% endblock %}