{% extends 'base123.html' %}

{% block center_col %}
    <h2>Список неверифицированных экспертов</h2>

    {% if unverified_experts %}
      <ul>
          {% for user in unverified_experts.values %}
              <li>

                  <div class="expert-name"><a href="{% url 'expert_profile' user.pk %}" style="color:black">{{ user.get_full_name }}</a></div>
              </li>
          {% endfor %}
      </ul>
    {% else %}
      <p>Неверифицированных экспертов нет.</p>
    {% endif %}
{% endblock %}