{% extends 'base123.html' %}

{% block center_col %}
    <h2>Unverified Experts</h2>
    <form method="post">
      {% csrf_token %}
      <table>
        <tr>
          <th>Expert Name</th>
          <th>Verify</th>
        </tr>
            {% for expert in form.not_verified_experts %}
            <tr>
              <td>{{ expert }} {{ expert.phone_number }}</td>
              <td>
                    

              </td>
            </tr>
            {% endfor %}
      </table>
      <input type="submit" value="Save Changes">
    </form>
{% endblock %}