{% extends 'base123.html' %}
{% load web_tags %}
{% load file_filters %}
{% load static %}
{% load i18n %}

{% block center_col %}
    <div class="element-container">
        {% trans "BackButtonLabel" as back_text %}
        {% back_button "wbqa:question_list" back_text %}

        <div class="g-fs-header-20 mb-3">{% trans 'EditAnswerLabel' %}</div>

        <form method="post" id="answer-form">
            {% csrf_token %}

            <div class="mb-3 ">
                <label for="id_content" class="g-fs-14 fw-semibold mb-2">{% trans 'ContentLabel' %}</label>
                <textarea name="content"
                          id="id_content"
                          class="form-control"
                          rows="5">{{ form.content.value|default:'' }}</textarea>
                {% if form.content.errors %}
                    <div class="text-danger">{{ form.content.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn  g-green-bg btn-sm text-white">{% trans 'SaveChangesLabel' %}</button>
        </form>

    </div>

    <script>
        $(document).ready(function () {
            // If there are any select fields in the answer form that need Select2, initialize them here
            // For example:
            // $('#id_some_field').select2();
        });
    </script>
{% endblock %}