{% load static %}
{% load web_tags %}
{% load i18n %}

{% for question in expert_questions %}
    <div class="basepost-content-cont ">
        <div class="d-flex align-items-center">
            <div class="d-flex flex-wrap min-h-30">
                <div class="user-catagory-highlight {{ question.cat.slug }}">
                    {{ question.cat }}
                </div>
            </div>
            <span class="list-publish-date publish-date-margin d-inline d-md-none">
                {{ question.created_at|custom_time_display }}
            </span>
        </div>
        <div class="f-flex g-fs-header-20">{{ question.title }}</div>
        <div>
            <div class="d-flex flex-column gap-2">
                <span class=" d-flex g-fs-14">{{ question.content|truncatewords:30 }} &nbsp;</span>
                <span class="mt-2">
                        <a href="{% url 'wbqa:question_detail' question.pk %}" class="read-post-link">
                            Читать пост
                        </a>
                </span>
            </div>

            <div class="basepost-prof-socials-cont d-none d-md-flex">
                <div class="basepost-author-cont">
                    <div class="basepost-author-pic">
                        {% if question.author.profile.avatar.url %}
                            <div><img src="{{ question.author.profile.avatar.url }}"
                                      alt="{{ question.author.username }}" class="basepost-author-pic "></div>
                        {% else %}
                            <i class="bi bi-person-circle author-icon"></i>
                        {% endif %}
                    </div>
                    <a href="{% url 'expert_profile' question.author.pk %}" class="basepost-author-text">
                        {{ question.author.last_name }} {{ question.author.first_name }}
                    </a>
                    <span class="list-publish-date">&nbsp;{{ question.created_at|custom_time_display }}</span>
                </div>
                <div class="comments-andshare-cont">
                    <div class="list-comments">
                        {% include "components/comment_icon.html" %}
                        <span class="list-comments">{{ question.answers.count }}</span>
                    </div>

                    {# TODO: double check #}
                    {% include "components/share_social_btn.html" with url_path="/wbqa/question/" slug=question.pk|add:"/" title=question.title item_pk=question.pk %}


                </div>
            </div>
            <!-- Mobile version -->
            <div class="d-flex mt-2 justify-content-between  d-inline d-md-none ">
                <span class="list-publish-date publish-date-margin d-none d-md-inline ">
                    {{ question.created_at|custom_time_display }}
                </span>
                <div class="basepost-prof-socials-cont w-100">
                    <div class="basepost-author-cont">
                        {% if question.author.profile.avatar.url %}
                            <img src="{{ question.author.profile.avatar.url }}"
                                 alt="{{ question.author.username }}" class="basepost-author-pic ">
                        {% else %}
                            <i class="bi bi-person-circle author-icon"></i>
                        {% endif %}
                        <div class="basepost-author-text">{{ question.author.first_name }} {{ question.author.last_name }}</div>
                    </div>
                    <div class="comments-andshare-cont">
                        <a href="#" class="list-comments ">
                            {% include "components/comment_icon.html" %}
                            <span class="list-comments">{{ question.answers.count }}</span>
                        </a>

                        {% include "components/share_social_btn.html" with url_path="/question/" slug=question.pk title=question.title item_pk=question.pk %}
                    </div>
                </div>
            </div>
            {% if not forloop.last %}

                <hr class="solid solid-hr">
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p>{% trans 'No questions available.' %}</p>
{% endfor %}