{% extends 'base123.html' %}
{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load web_tags %}
{% load hitcount_tags %}
{% load i18n %}

{% block center_col %}

    {% block extra_static %}
        <link rel="stylesheet" href="{% static 'web/css/article_detail.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/globalCSS.css' %}">
        <link rel="stylesheet" href="{% static 'qa/css/question_detail_CSS.css' %}">

    {% endblock %}

    <div class="element-container">
        {% trans "BackButtonLabel" as back_text %}
        {% back_button "wbqa:question_list" back_text %}

        <div class="basepost-prof-socials-cont">
            <div class="displayflex align-center">
                <div class="user-category-cont">
                    <div class="user-catagory-highlight {{ question.cat.slug }}">
                        {{ question.cat }}
                    </div>
                </div>
                <span class="list-publish-date publish-date mobile-visible">
                {{ question.created_at|custom_time_display }}
            </span>
            </div>

            {% if user.is_authenticated and user == question.author %}
                <div class="manage-buttons">
                    <a href="{% url 'wbqa:edit_question' question.pk %}" class="scale-1-2">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="basepost-title">{{ question.title }}</div>

        <div class="basepost-content-cont">
            <p>{{ question.content }}</p>

            <div class="basepost-prof-socials-cont">
                <div class="basepost-author-cont">
                    <div class="author-pic-research">

                        {% if question.author.profile.avatar.url %}
                            <div class="basepost-author-pic"><img src="{{ question.author.profile.avatar.url }}"
                                                                  alt="{{ question.author.username }}"
                                                                  class="basepost-author-pic"></div>
                        {% else %}
                            <i class="bi bi-person-circle author-icon"></i>
                        {% endif %}
                    </div>
                    <div class="basepost-author-text no-left-margin">{{ question.author.first_name }} {{ question.author.last_name }}</div>

                    <span class="list-publish-date publish-date desktop-visible">
                    {{ question.created_at|custom_time_display }}
                </span>
                </div>
                <div class="flex-space-between ">
                    <div class="basepost-prof-socials-cont">
                        <div class="comments-andshare-cont">
                            <div class="list-comments ">
                                {% include "components/comment_icon.html" %}
                                <span>&nbsp;{{ question.answers.count }}</span>
                            </div>
                            {% with request.scheme|add:"://"|add:request.get_host|add:"/question/"|add:question.pk as question_url %}
                                {% social_share_buttons question_url question.title question.pk %}
                            {% endwith %}

                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <h4 id="answers">Ответы</h4>

            {% if best_answer %}
                <div class="best-answer basepost-content-cont">
                    <span class="best-answer-label">Лучший ответ</span>
                    <p>{{ best_answer.content }}</p>
                    <div class="basepost-prof-socials-cont no-top-margin">
                        <div class="basepost-author-cont">

                            <div class="author-pic-research">
                                {% if best_answer.author.profile.avatar.url %}
                                    <div class="basepost-author-pic"><img
                                            src="{{ best_answer.author.profile.avatar.url }}"
                                            alt="{{ best_answer.author.username }}" class="basepost-author-pic"></div>
                                {% else %}
                                    <i class="bi bi-person-circle author-icon"></i>
                                {% endif %}
                            </div>


                            <div class="basepost-author-text no-left-margin">{{ best_answer.author.first_name }} {{ best_answer.author.last_name }}</div>
                            <span class="list-publish-date publish-date">
                    {{ best_answer.created_at|custom_time_display }}
                </span>
                        </div>
                        {% if best_answer.author == user %}
                            <a href="{% url 'wbqa:edit_answer' best_answer.pk %}"
                               class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-pencil"></i> Edit Answer
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% for answer in other_answers %}
                <div class="answer basepost-content-cont flex-column">
                    <div class="basepost-prof-socials-cont ">
                        <div class="basepost-author-cont">
                            <div class="author-pic-research">
                                {% if answer.author.profile.avatar.url %}

                                    <div class="basepost-author-pic"><img src="{{ answer.author.profile.avatar.url }}"
                                                                          alt="{{ answer.author.username }}"
                                                                          class="basepost-author-pic"></div>
                                {% else %}
                                    <i class="bi bi-person-circle author-icon-large"></i>
                                {% endif %}
                            </div>
                            <div class="flex-column">
                                <div class="basepost-author-text no-left-margin">{{ answer.author.first_name }} {{ answer.author.last_name }}</div>
                                <span class="list-publish-date publish-date">
                        {{ answer.created_at|custom_time_display }}
                    </span>
                            </div>
                        </div>

                        <div class="comments-andshare-cont">
                            {% if answer.author == user %}
                                <a href="{% url 'wbqa:edit_answer' answer.pk %}" class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-pencil"></i> Edit Answer
                                </a>
                            {% endif %}
                            {% if question.author == user and not answer.is_best %}
                                <a href="{% url 'wbqa:choose_best_answer' answer.id %}"
                                   class="btn btn-sm btn-outline-success">
                                    <i class="bi bi-star"></i> Mark as Best
                                </a>
                            {% elif answer.is_best %}
                                <span class="badge bg-success">Лучший ответ</span>
                            {% endif %}
                        </div>
                    </div>
                    <div>{{ answer.content }}</div>
                </div>
                {% empty %}
                {% if not best_answer %}
                    <p>No answers yet.</p>
                {% endif %}
            {% endfor %}

            {% if form %}
                <div class="basepost-content-cont">
                    <h2>Ваш ответ</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            {% endif %}

            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
{% endblock %}