{% load static %}
{% load web_tags %}

<style>
    .basepost-title-link {
        width: fit-content;
        text-decoration: none;
    }

    .basepost-description-inline {
        display: inline !important;
    }

    .link-read-post {
        font-size: 18px !important;
    }


    .author-link-no-margin {
        margin-left: 0px;
    }

    .publish-date-margin {
        margin: 10px 0 10px 0;
    }

    .author-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>

{% load static %}
{% load web_tags %}

{% for question in object_list %}
    <div class="basepost-content-cont">
        <div class="displayflex">
            <div class="user-category-cont">
                <div class="user-catagory-highlight {{ question.cat.slug }}">
                    {{ question.cat }}
                </div>
            </div>
            <span class="list-publish-date publish-date-margin d-inline d-md-none">
                {{ question.created_at|custom_time_display }}
            </span>
        </div>
        <div class="basepost-title basepost-title-link">{{ question.title }}</div>
        <div>
            <span class="basepost-description basepost-description-inline">{{ question.content|truncatewords:30 }} &nbsp;</span>
            <a href="{% url 'wbqa:question_detail' question.pk %}" class="link-read-post">
                Читать пост
            </a>
            <div class="basepost-prof-socials-cont d-none d-md-flex">
                <div class="basepost-author-cont">
                    <div class="basepost-author-pic">
                        {% if question.author.profile.avatar.url %}
                            <div><img src="{{ question.author.profile.avatar.url }}"
                                      alt="{{ question.author.username }}" class="basepost-author-pic "></div>
                        {% else %}
                            <i class="bi bi-person-circle author-icon"></i>
                        {% endif %}
                    </div>
                    <a href="{% url 'expert_profile' question.author.pk %}"
                       class="basepost-author-text author-link-no-margin">
                        <div class="basepost-author-text">{{ question.author.last_name }} {{ question.author.first_name }}</div>
                    </a>
                    <span class="list-publish-date">&nbsp;{{ question.created_at|custom_time_display }}</span>
                </div>
                <div class="comments-andshare-cont">
                    <div class="list-comments">
                        {% include "components/comment_icon.html" %}
                        <span class="list-comments">{{ question.answers.count }}</span>
                    </div>

                        {# TODO: double check #}
                    {% include "components/share_social_btn.html" with url_path="/wbqa/question/" slug=question.pk|add:"/" title=question.title item_pk=question.pk %}


                </div>
            </div>
            <!-- Mobile version -->
            <div class="question-answer-last  d-inline d-md-none">
                <span class="list-publish-date publish-date-margin d-none d-md-inline">
                    {{ question.created_at|custom_time_display }}
                </span>
                <div class="basepost-prof-socials-cont">
                    <div class="basepost-author-cont">
                        {% if question.author.profile.avatar.url %}
                            <img src="{{ question.author.profile.avatar.url }}"
                                 alt="{{ question.author.username }}" class="basepost-author-pic ">
                        {% else %}
                            <i class="bi bi-person-circle author-icon"></i>
                        {% endif %}
                        <div class="basepost-author-text">{{ question.author.first_name }} {{ question.author.last_name }}</div>
                    </div>
                    <div class="comments-andshare-cont">
                        <a href="#" class="list-comments ">
                            {% include "components/comment_icon.html" %}
                            <span class="list-comments">{{ question.answers.count }}</span>
                        </a>

                        {% include "components/share_social_btn.html" with url_path="/question/" slug=question.pk title=question.title item_pk=question.pk %}
                    </div>
                </div>
            </div>
            <hr class="solid solid-hr">
        </div>
    </div>
    {% empty %}
    <p>No questions available.</p>
{% endfor %}