<!-- article_list.html -->
{% extends 'basePostList.html' %}

{% block title %}
Статьи
{% endblock %}

{% block posts_content %}


	<div class="articles-main-cont" style="margin-top: 20px;">	

		<div class="search-and-cat-cont">

			<input type="text" class="article-search-cont" placeholder="Поиск по имени">	

			<div class="catagory-cont">

				<div class="dropdown">

					<button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;display: flex;align-items: center;background-color: white;color: black;border: none;margin-top: 0px;">
						<span class="catagory-text"> Категория: &nbsp;</span>
						<span class="catagory-choose"> Все  </span>  
					</button>

					<ul class="dropdown-menu" aria-labelledby="categoryDropdown">
						<li><a class="dropdown-item" href="#">Категория 1</a></li>
						<li><a class="dropdown-item" href="#">Категория 2</a></li>
						<li><a class="dropdown-item" href="#">Категория 3</a></li>
					</ul>

				</div>

				<div class="dropdown">

					<button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;display: flex;align-items: center;background-color: white;color: black;border: none;margin-top: 0px;">
						<span class="catagory-text"> Рейтинг: &nbsp;</span>
						<span class="catagory-choose"> 4 и выше  </span>  
					</button>

					<ul class="dropdown-menu" aria-labelledby="categoryDropdown">
						<li><a class="dropdown-item" href="#">3 и выше </a></li>
						<li><a class="dropdown-item" href="#">4 и выше </a></li>
						<li><a class="dropdown-item" href="#">5</a></li>
					</ul>

				</div>
				
			</div>
			
		</div>

		{% for expert in object_list %}

		<div class="expert-prof-cont" >

			<div class="expert-list-prof-pic">

				<img src="https://picsum.photos/400/300" alt="Random Image" class="img-fluid" style="border-radius:50%;max-width: 130px;max-height: 130px;min-width: 130px; min-height: 130px;">

				<span class="rating-span">
				<i class="bi bi-star-fill" style="scale: 1; color: #e9be50;" ></i> 
					&nbsp; Рейтинг: 4.5
				</span>

			</div>

			<div class="expert-list-main-content">
			
				<div class="expert-list-title">{{expert.first_name}} {{expert.last_name}}</div>

				<div style=" margin-top:10px ; margin-bottom: 10px">
					<span class="research-catagory-container"> Финансы </span>
				</div>

				<span>В своём стремлении улучшить пользовательский опыт мы упускаем, что интерактивные прототипы разоблачены... <a href="#" style="text-decoration:none">Читать ещё</a></span>

				<div class="article-last">

					<div class="question-btn-and-money">
						<button type="button" class="btn btn-secondary btn-sm" style="margin-top: 0;background-color: #6dc36b;border: none;border-radius: 5px;font-size: 16px;font-weight: 500;">
							Консультация
						</button>
						<div class="money-rate">1000₽/час</div>

					</div>

					<div class="expert-stats-an-other">
						10 статей • 30 опросов • 24 отзыва
					</div>

				</div>
				
			</div>

		</div>
			
		{% endfor %}

	</div>




{% endblock %}