
.no-arrow {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-position: right;
}

@media (max-width: 768px) {
    .page-link {
        font-size: 12px !important;
    }

}


.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 1px;
}

.like-btn svg {
    transition: all 0.3s ease;
}

.like-btn.liked svg {
    fill: #3498db;
    stroke: #3498db;
}

.like-btn:not(.liked) svg {
    fill: none;
    stroke: #95a5a6;
}


.select2-container .select2-selection--multiple {
    min-height: 38px;
}

.select2-container .select2-selection--single {
    height: 38px;
    padding: 6px 12px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    display: flex !important;
}

.select2-selection.select2-selection--multiple {
    display: flex !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #dee2e6 !important;

}