<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h2>Checkout</h2>

    Детали встречи:
    Эксперт: {{ appointment.expert.last_name }} {{ appointment.expert.first_name }}
    Дата: {{ appointment.appointment_date }}
    <br/>
    Время: {{ appointment.appointment_time }}
    <br/>
    Заметка: {{ appointment.notes }}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ appointment.pk }}" name="appointment_id"/>
        <button type="submit">Перейти к оплате</button>
    </form>
</body>
</html>