{% extends 'base020.html' %}
{% load static %}
{% load i18n %}
{% load web_tags %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'css/checkoutcss.css' %}?ver=0.01">
{% endblock %}

{% block center_col %}
    <div class="element-container mx-auto w-100 w-sm-100 w-md-75">
        {% trans "ToMainPageLabel" as back_text %}
        {% back_button "index" back_text %}

        <h2 class=" g-fs-header-24 mb-4 text-center">{% trans 'Детали заказа' %}</h2>

        <div class="appointment-details d-flex flex-column ">
            <div class="detail d-flex gap-2">
                <div class="g-fs-14 fw-semibold mb-1 w-25">{% trans 'Эксперт' %}:</div>
                <div class="g-fs-14 text-break">
                    {{ appointment.expert.last_name }} {{ appointment.expert.first_name }}
                </div>
            </div>

            <div class="detail d-flex gap-2">
                <div class="g-fs-14 fw-semibold mb-1 w-25">{% trans 'Дата' %}:</div>
                <div class="g-fs-14 text-break">
                    {{ appointment.appointment_date }}
                </div>
            </div>

            <div class="detail d-flex gap-2">
                <div class="g-fs-14 fw-semibold mb-1 w-25">{% trans 'Время' %}:</div>
                <div class="g-fs-14 text-break">
                    {{ appointment.appointment_time }}
                </div>
            </div>

            <div class="detail d-flex gap-2">
                <div class="g-fs-14 fw-semibold mb-1 w-25">{% trans 'Цена' %}:</div>
                <div class="g-fs-14 text-break">
                    {{ appointment.expert.expertprofile.hour_cost }}
                </div>
            </div>

            <div class="detail">
                <div class="g-fs-14 fw-semibold mb-1">{% trans 'Заметка' %}:</div>
                <div class="g-fs-14 text-break">
                    {{ appointment.notes }}
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ appointment.pk }}" name="appointment_id"/>
            <div class="d-flex flex-md-row flex-column gap-0 gap-md-3 ">
                <button type="submit" class="btn g-green-bg text-white checkout-btns g-fs-14">{% trans 'PayWithYookassaLabel' %}</button>
                <a href="{% url 'profile' %}" class="btn bg-secondary text-white checkout-btns g-fs-14">{% trans 'PayLaterLabel' %}</a>
            </div>
        </form>
    </div>
{% endblock %}