{% load static %}
{% load i18n %}
{% load web_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'LoginLabel' %}</title>

    <link rel="stylesheet" href="{% static 'web/css/globalCSS.css' %}?ver=0.01">
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}?ver=0.01">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f2f3f5;
            min-height: 100vh;
        }


        .login-container {
            background: white;
            border-radius: 1rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }


    </style>
</head>

<body>
<div class="d-flex align-items-center min-vh-100 ">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">


                <!-- Login Card -->
                <div class="login-container p-4">

                    <div class="mb-1 ">
                        {% trans "BackButtonLabel" as back_text %}
                        {% back_button "index" back_text %}
                    </div>
                    <form method="post" id="login-form" novalidate>
                        {% csrf_token %}

                        <h4 class="d-flex justify-content-center mb-4 mt-3 g-fs-header-24">{% trans 'EntranceLabel' %}</h4>

                        {% if messages %}
                            <div class="alert alert-danger mb-4">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>

                        {% elif form.errors %}
                            <div class="alert alert-danger mb-4">
                                {% for key, value in form.errors.items %}
                                    {{ value }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="mb-3" id="email-form">

                            <label for="email" class="form-label fw-semibold g-fs-16">{% trans 'EmailLabel' %}</label>

                            <input type="email"
                                   name="{{ form.username.name }}"
                                   class="form-control"
                                   placeholder="your@email.com"
                                   {% if form.username.field.required %}required{% endif %}
                            >
                        </div>

                        {#                        <div class="mb-3 d-none" id="phone-form">#}
                        {#                            <label for="phone_number" class="form-label">Телефон</label>#}
                        {#                            <input type="tel"#}
                        {#                                   name="{{ form.phone_number }}"#}
                        {#                                   class="form-control"#}
                        {#                                   placeholder="+7 (___) ___-__-__"#}
                        {#                                   {% if form.phone_number.field.required %}required{% endif %}>#}
                        {#                        </div>#}

                        <!-- Password Field -->
                        <div class="mb-4">

                            <label for="password" class="form-label fw-semibold g-fs-16">{% trans 'PasswordLabel' %}</label>

                            <input type="password"
                                   id="password"
                                   name="{{ form.password.name }}"
                                   class="form-control"
                                   placeholder="••••••••"
                                   {% if form.password.field.required %}required{% endif %}
                            >
                        </div>

                        <div class="d-grid ">
                            <button class="btn btn-success py-2 fw-semibold g-green-bg g-fs-16" type="submit">
                                {% trans 'LoginLabel' %}
                            </button>
                        </div>

                    </form>

                </div>

                <div class="d-flex justify-content-evenly align-items-center py-2">

                    <a href="{% url 'signup' %}" class="text-decoration-none g-dark-grey-color g-fs-14 fw-bold">
                        {% trans 'RegisterLabel' %}
                    </a>

                    <a href="{% url 'password_reset' %}" class="text-decoration-none g-dark-grey-color g-fs-14 fw-bold">
                        {% trans 'ForgotPasswordLabel' %}?
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>

    function toggleLoginField() {
        const emailForm = document.getElementById('email-form');
        const phoneForm = document.getElementById('phone-form');

        emailForm.classList.toggle('d-none');
        phoneForm.classList.toggle('d-none');

        const loginLink = document.querySelector('.login-with-phone span');
        loginLink.innerText = emailForm.classList.contains('d-none')
            ? 'Войти с помощью электронной почты'
            : 'Войти с помощью телефона';
    }


    {#function toggleLoginField() {#}
    {#    var emailForm = document.getElementById('email-form');#}
    {#    var phoneForm = document.getElementById('phone-form');#}
    {#    var loginLink = document.querySelector('.login-with-phone span');#}
    {##}
    {#    if (emailForm.style.display === 'none') {#}
    {#        emailForm.style.display = 'block';#}
    {#        phoneForm.style.display = 'none';#}
    {#        loginLink.innerText = 'Войти с помощью телефона';#}
    {#    } else {#}
    {#        emailForm.style.display = 'none';#}
    {#        phoneForm.style.display = 'block';#}
    {#        loginLink.innerText = 'Войти с помощью электронной почты';#}
    {#    }#}
    {#


    //can implement later, novalidate, maybe toasts

    {#document.getElementById('login-form').addEventListener('submit', function (event) {#}
    {#    if (!this.checkValidity()) {#}
    {#        event.preventDefault();#}
    {#        event.stopPropagation();#}
    {#    }#}
    {#    this.classList.add('was-validated');#}
    {##}
    {##}
</script>
</body>
</html>