<!-- question_answer.html -->
{% extends 'basePostList.html' %}
{% load static %}

{% block title %}
QandA
{% endblock %}


{% block posts_content %}

	<link rel="stylesheet" href="{% static 'web/css/question_answer.css' %}">

	<style>

		@media (max-width: 768px) {
			.question-answer-last {
				 flex-direction: column !important;
				 gap:5px;
			}

			ask-question-btn {
				display: flex;
				text-wrap: nowrap !important;
			}

			.article-comments-andshare-cont {
				justify-content: flex-end;
				align-items:center;
			}

			.hours-ago {
				margin: 0px 0px 5px 0px !important;
			}

			.author-name {
				font-size:14px;
			}

			.article-comments{
				font-size: 14px;
			}

			.research-search-cont {
				width: 100% !important;
				margin-right: 0px !important;
			}

			.article-content {
				margin-top: 10px !important;
			}
		}
    </style>

	<div class="research-question-main-cont">	

		<div class="search-and-cat-cont d-none d-md-flex">

			<div class="col-5">
				<input type="text" class="lists-search-cont" placeholder="Поиск">

			</div>

			<div class="col-7 " style="display:flex; justify-content:space-between; padding-left:10px">
				<a href="#" onclick="alert('В разработке');">
						<button type="button" class="btn ask-question-btn btn-sm" >Задать вопрос</button>
					</a>
				{% include "components/post_category_filter.html" %}
			</div>

		</div>
	
		<!-- Small Screens -->
		<div class="search-and-cat-cont d-md-none" style="display: flex; flex-direction: column;">
			<div style="display:flex ; width: 100%;">
				<input type="text" class="research-search-cont" placeholder="Поиск">    
			</div>
			<div style="margin-top: 10px; display:flex; justify-content:space-evenly;  height:30px" >
				<button type="button" class="btn ask-question-btn btn-sm" style="text-wrap: nowrap !important;" >Задать вопрос</button>
				{% include "components/post_category_filter.html" %}
			</div>
		</div>

		{% for questionsandanswers in '123' %}
		<div class="article-content">
			<div style=" margin-top:10px ; margin-bottom: 10px">
				<span class="article-catagory-container"> Финансы </span>
			</div>
			<div class="question-answer-title">Вот вам яркий пример современных тенденций - сложившаяся структура организации</div>
			<div class="article-main-content">
				<span class="qa-main-content-text" style="display: block">
					Повседневная практика показывает, что 
					высококачественный прототип будущего проекта однозначно определяет каждого участника как способного принимать 
					собственные решения касаемо соответствующих условий активизации. &nbsp;<a href="#" style="text-decoration:none">Читать пост</a>
				</span>

				<div class="question-answer-last2 d-none d-md-flex" >
					<div class="article-author-cont">
						<div class="author-pic-research">
							<i class="bi bi-person-circle" style="color:black; scale:3"></i>
						</div>
						<div class="author-name">Александр Александров</div>
						<span class="hours-ago">18 часов назад</span>
					</div>
					<div class="article-comments-andshare-cont">
						<div class="article-comments">
							<i class="bi bi-chat-left-text" style="color:grey; "></i>
							&nbsp; 104
						</div>
						<div class="article-share">
							<i class="bi bi-box-arrow-up-right" style="color:grey; "></i>
						</div>
					</div>
				</div>

				<!-- small screen -->
				<div class="question-answer-last d-md-none">
					<div>
						<span class="hours-ago">18 часов назад</span>
						<div class="flex-cont">
							<div class="article-author-cont">
								<div class="author-pic-research">
									<i class="bi bi-person-circle" style="color:black; scale:3"></i>
								</div>
								<div class="author-name">Александр Александров</div>

							</div>
							<div class="article-comments-andshare-cont">
								<div class="article-comments">
									<i class="bi bi-chat-left-text" style="color:grey; font-size:14px "></i>
									&nbsp; 104
								</div>
								<div class="article-share">
									<i class="bi bi-box-arrow-up-right" style="color:grey; font-size:14px"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="solid" style="margin-top: 20px;">
			</div>
		</div>
		{%endfor%}

	</div>

</html>


{% endblock %}