{% extends 'basePostList.html' %}


{%block experts_coloumn %}
<div class="right-expert-col-cont">
    <div class="container-fluid-expert-col " >
        <div class="spans-cont">
            <span class="experts-title"> ЭКСПЕРТЫ </span> 
            <span class="all-experts"> Все эксперты </span>
        </div>

        {% for expertprofile in '1234567' %}
        <div class="expert-profiles-cont">
            <div class="expert-prof-pic">
                <i class="bi bi-person-circle" style="scale: 3;" ></i>
            </div>
            
            <div class = "expert-info">
            <div class="expert-name">Александр Александров</div>
            <div class="expert-job">Финансы</div>
            <div class="expert-rating">
                <i class="bi bi-star-fill" style="scale: 1; color: #e9be50;" ></i> &nbsp; 4.5</div>
            </div>
        </div>
        {%endfor%}
        
        <span class="expert-more" style="cursor: pointer">
            Ещё &nbsp;
            <i class="bi bi-chevron-down" style="scale: 2;" ></i>
        </span>

    </div>

</div>

{%endblock%}

{% block news_content %}

<div class ="base-Content"> 

    <div class="article-text-top">
        <span class="article-news">Новости</span> 
        <span class="article-return"> 
            <i class="bi bi-chevron-up" style="scale: 1;" ></i>   
             &nbsp; свернуть
        </span>
    </div>

    <div class="base-info-split">

        <div class="col-md-3">
            <img src="https://picsum.photos/400/300" alt="Random Image" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-9">
            <div class="base-article-title">Постоянный количественный рост ни к чему нас не обязывает</div>
            <div class="base-article-content">В целом, конечно, новая модель организационной деятельности создаёт предпосылки для приоритизации разума над эмоциями</div>
            <div class="base-article-stats">
                <div class="base-article-stats-comments">
                    <i class="bi bi-chat-left-text" style="scale: 1;" ></i> &nbsp; 104
                </div>
                <div class="base-article-stats-last">
                    <i class="bi bi-calendar3" style="scale: 1;" ></i> &nbsp; 2 дня назад
                </div>
            </div>
        </div>

    </div>
    <div>
        <button type="button" class="btn btn-secondary"style="background-color: white;color: #686878;border: 1px solid #686878;border-radius: 10px;">Больше новостей</button>
    </div>

</div>

{%endblock%}