{% load static %}
{% load i18n %}

<script src="{% static 'js/event-calendar/event-calendar.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/event-calendar/event-calendar.min.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>

<div id="event-calendar"></div>

<div>

    <script>

        $(function () {
            const color_legend_div = $('#color_legend');
            status_colors.map((item) => {
                color_legend_div.append(
                    `<div style="display: flex; align-items: center;">
                        <div style="width: 30px; height: 20px; background-color: ${item.color}; margin-right: 5px;"></div>
                        <span>- ${item.name}</span>
                    </div>`)
            })
        })

    </script>

    <div id="color_legend"
         style="display: flex; flex-wrap:wrap; justify-content: space-between; margin-top: 10px;"></div>

</div>

<div class="modal fade" id="appointmentDetailModal" tabindex="-1" aria-labelledby="appointmentDetailModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Детали встечи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="appointmentTableBody" class="modal-body">

                <div style="display: flex">

                    <div style="display:flex; flex-direction:column;width:40%;gap:20px">
                        <div>Дата:</div>
                        <div>Время:</div>
                        <div id="appointment-detail-user-type">Имя:</div>
                        <div>Zoom:</div>
                        <div>Статус:</div>
                        <div>Время создания:</div>
                        <div>Время брони слота: <br/> <span style="font-size: 12px;">(10 минут)</span></div>
                    </div>

                    <div style="display:flex; flex-direction:column;gap:20px;width:60%">
                        <div id="appointment-detail-date">${moment(appointment.appointment_date).format("DD.MM.YYYY")}
                        </div>
                        <div id="appointment-detail-time">${moment(appointment.appointment_time,
                            "HH:mm:ss").format("HH:mm")}
                        </div>
                        <div id="appointment-detail-user">${appointment.client.last_name}
                            ${appointment.client.first_name}
                        </div>
                        <div id="appointment-detail-zoom"><a href="#">ZOOMLINK</a></div>
                        <div id="appointment-detail-status"></div>
                        <div id="appointment-detail-create-time"></div>
                        <div id="appointment-left-for-pay"></div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

{% if request.path == '/profile' %}

    {% if request.user.profile.type == 1 %}
        <div class="modal fade" id="selectDateRangeModal" tabindex="-1" aria-labelledby="selectDateRangeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <form method="post" action="{% url 'add_calendar_range' %}" id="schedule-range-form">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="selectDateRangeModalLabel">Детали назначения</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div id="custom-event-date-range-content" class="modal-body">
                            <label for="id-start-date">Начало</label>
                            <input id='id-start-date' name="start" class="start-date form-control"/>

                            <label for="id-end-date">Конец</label>
                            <input id='id-end-date' name="end" class="end-date form-control"/>

                            <label for="id-date-range-action">Действие</label>
                            <select class="form-control" name="type">
                                <option value="0">Сделать недоступным для бронирования</option>
                                <option value="1">Сделать доступным для бронирования</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteDateRangeModal" tabindex="-1" aria-labelledby="deleteDateRangeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <form method="post" action="{% url 'add_calendar_range' %}" id="delete-range-form">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="selectDateRangeModalLabel">Удаление записи</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <input type="hidden" name="range_id"/>
                        <div id="custom-event-date-range-content" class="modal-body">
                            <div id="delete-extra-date-info"></div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Удалить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>

            $('#schedule-range-form').submit(function (event) {

                event.preventDefault();
                const form = $(this);

                $.ajax({
                    url: '{% url 'add_calendar_range' %}',
                    type: 'POST',
                    data: form.serialize(),
                    success: function (response) {
                        getUsersAppointments()
                    }
                })
            })

            $('#delete-range-form').submit(function (event) {

                event.preventDefault();
                const form = $(this);

                $.ajax({
                    url: '{% url 'delete_calendar_range' %}',
                    type: 'POST',
                    data: form.serialize(),
                    success: function (response) {
                        if (response.result == 'success')
                            getUsersAppointments()
                    }
                })
            })

            function loadCustomDateRange(info) {
                $('.start-date').val(moment(info.start).format('DD.MM.yyyy HH:mm'))
                $('.end-date').val(moment(info.end).format('DD.MM.yyyy HH:mm'))
                $('#selectDateRangeModal').modal('show');
            }

        </script>

    {% endif %}

    <style>
        .striped-div {
            width: 200px;
            height: 200px;
            background: linear-gradient(to right, red 50%, blue 50%);
        }
    </style>

{% endif %}

{% include 'schedule/expert_schedule.html' %}

<script>

    const user_id = {{ request.user.id }};
    const appointment_title = '{{ appointment_title }}';
    const user_type = {{ user_type }}
    const appointment_path = user_type == 1 ? 'expert' : 'client'
    let appointments = []
    let appointments_as_client = []
    let extra_dates = []

    const status_colors = [{
        status: 0,
        color: "#0dcaf0",
        name: "Новый"
    }, {
        status: 1,
        color: "#e3aa00",
        name: "Подтвержден"
    }, {
        status: 2,
        color: "red",
        name: "Отклонен"
    }, {
        status: 3,
        color: "brown",
        name: "Отменен"
    }, {
        status: 4,
        color: "green",
        name: "Оплачен"
    }, {
        status: 10,
        color: "lightgrey",
        name: "Недоступен для бронирования"
    }, {
        status: 11,
        color: "darkcyan",
        name: "Доступен для бронирования"
    }]

    function fetchAppointments(fetchInfo, successCallback, failureCallback) {

        $.ajax({
            url: `/appointment/calendar/${appointment_path}/json`,
            type: 'GET',
            data: {
                start: fetchInfo.startStr,
                end: fetchInfo.endStr,
            },
            success: function (response) {

                appointments = response.data.appointments.as_expert;
                appointments_as_client = response.data.appointments.as_client;
                extra_dates = response.data.extra_dates;
                successCallback(createCalendarEvents(appointments, appointments_as_client, extra_dates))

            }
        });
    }
    console.log(123)

    const modalBody = $('#appointmentTableBody');

    function loadExtraDate(extraDateId) {
        const deleteExtraDate = extra_dates.find(extra_date => extra_date.id == extraDateId)
        $('#delete-extra-date-info').html('Удалить запись ' + deleteExtraDate.start + ' - ' + deleteExtraDate.end + '?');
        $('[name="range_id"]').val(deleteExtraDate.id)
        $('#deleteDateRangeModal').modal('show')
    }


    function getStatusColor(status) {

        const finded_status_color = status_colors.find(item => item.status == status);

        if (finded_status_color) {
            return finded_status_color.color
        }

        return "blue"

    }

    function getStatusText(status) {

        const finded_status_color = status_colors.find(item => item.status == status);

        if (finded_status_color) {
            return finded_status_color.name
        }

        return ""
    }

    function loadExpertAppointment(appointmentId) {
        const appointment = appointments.find(appointment => appointment.id == appointmentId);

        if (!appointment) {
            return;
        }

        loadAppointment(appointment, 'expert')

    }

    function loadClientAppointment(appointmentId) {
        const appointment = appointments_as_client.find(appointment => appointment.id == appointmentId);

        if (!appointment) {
            return;
        }

        loadAppointment(appointment, 'client')
    }


    let countdownInterval = null;
    function countdown(appointment_create_datetime) {
        const last_moment =  moment(appointment_create_datetime).add(30, 'minutes');
        const currentTime = moment();

        const distance = last_moment - currentTime;
        const appointmentLeftForPay = document.getElementById("appointment-left-for-pay")
        if (distance < 0) {
            clearInterval(countdownInterval);
            appointmentLeftForPay.innerHTML = "EXPIRED";
        } else {
            appointmentLeftForPay.innerHTML = moment(distance).format("mm:ss");
        }

    }

    const checkout_url = "{% url 'appointment_checkout' 0 %}"
    function loadAppointment(appointment, type) {

        //console.log(0123)

        $('#appointment-detail-date').html(`${moment(appointment.appointment_date).format("DD.MM.YYYY")}`);
        $('#appointment-detail-time').html(`${moment(appointment.appointment_time, "HH:mm:ss").format("HH:mm")}`);

        if (type == 'expert') {
            $('#appointment-detail-user-type').html("Клиент:")
            $('#appointment-detail-user').html(`${appointment.client.last_name} ${appointment.client.first_name}`);
        }

        if (type == 'client') {
            $('#appointment-detail-user-type').html("Эксперт:")
            $('#appointment-detail-user').html(`${appointment.expert.last_name} ${appointment.expert.first_name}`);
        }

        $('#appointment-detail-zoom').find('a').html('ZOOMLINK');
        if (appointment.status == 0) {
           
            const checkout_url_parts =  checkout_url.split("/");
            console.log(checkout_url_parts)
            $('#appointment-detail-status').html(`
                            <div style="color: ${getStatusColor(appointment.status)};">
                                ${getStatusText(appointment.status)} <a href="/${checkout_url_parts[1]}/${checkout_url_parts[2]}/${appointment.id}/" style="margin-left: 10px">[Оплатить]</a>
                            </div>`);
        } else {
            $('#appointment-detail-status').html(`
                            <div style="color: ${getStatusColor(appointment.status)};">
                                ${getStatusText(appointment.status)}
                            </div>`);
        }

        $('#appointment-detail-create-time').html(`${moment(appointment.created_time).format("DD.MM.YY HH:mm")}`);

        countdown(appointment.created_time);
        countdownInterval = setInterval(() => {
                countdown(appointment.created_time)
            },
            1000
        );


        $('#appointmentDetailModal').modal('show')

    }

    function createEvent(title, status, start_date, start_time, end_date, end_time, id, type) {
        const titleHTML = `
                    <div style="display:flex; flex-wrap: wrap;width: 100%;justify-content: space-between;font-size: 11px">
                        <span>${title}</span>
                    </div>
                `;

        return {
            start: start_date + " " + start_time,
            end: end_date + " " + end_time,
            resourceId: 1,
            title: {html: titleHTML},
            color: getStatusColor(status),
            id: id,
            extendedProps: {
                type: type
            }
        };
    }

    function createCalendarEvents(appointments_as_expert, appointments_as_client, extradates) {

        let dates =

            extradates.map((extradate) => {
                title = extradate.type == 0 ? 'Недоступно для бронирования' : 'Доступно для бронирования'
                const date_format = 'yyyy-MM-DD'
                const moment_start = moment(extradate.start)
                const start_date = moment_start.format(date_format)
                const start_time = moment_start.format("HH:mm")

                const moment_end = moment(extradate.end)
                const end_date = moment_end.format(date_format)
                const end_time = moment_end.format("HH:mm")

                return createEvent(title,
                    extradate.type + 10,
                    start_date,
                    start_time,
                    end_date,
                    end_time,
                    extradate.id,
                    "extradate"
                )
            })


        appointments_as_expert.map((appointment) => {
            dates.push(
                createEvent(appointment_title,
                    appointment.status,
                    appointment.appointment_date,
                    moment(appointment.appointment_time, "HH:mm:ss").format("HH:mm"),
                    appointment.appointment_date,
                    moment(appointment.appointment_time, "HH:mm:ss").add(1, "hours").format("HH:mm"),
                    appointment.id,
                    'appointments_as_expert'
                )
            );
        })

        appointments_as_client.map((appointment) => {
            dates.push(
                createEvent(appointment_title,
                    appointment.status,
                    appointment.appointment_date,
                    moment(appointment.appointment_time, "HH:mm:ss").format("HH:mm"),
                    appointment.appointment_date,
                    moment(appointment.appointment_time, "HH:mm:ss").add(1, "hours").format("HH:mm"),
                    appointment.id,
                    'appointment_as_client'
                )
            );
        })


        return dates
    }

    let ec;

    function createEventCalendar(calendar_element_id) {

        $('#event-calendar').html('');
        ec = new EventCalendar(document.getElementById(calendar_element_id), {

            view: 'timeGridWeek',
            headerToolbar: {
                start: 'prev,next,today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },

            eventSources: [{
                events: fetchAppointments
            }],

            <!--        slotDuration: '01:00:00', -->
            <!--        slotLabelInterval: { hours: 1 }, -->
            slotMinTime: '05:00:00',
            slotMaxTime: '22:00:00',
            buttonText: {
                timeGridDay: 'день',
                timeGridWeek: 'неделя',
                dayGridMonth: 'месяц',
                today: 'сегодня',
                listWeek: 'список'
            },
            allDaySlot: false,
            firstDay: 1,
            locale: 'ru',
            slotDuration: '00:30:00',
            nowIndicator: true,
            eventDurationEditable: false,
            selectable: user_type == 1,
            {% if request.path == '/profile' and request.user.profile.type == 1 %}
                select: function (info) {
                    loadCustomDateRange(info)
                },
            {% endif %}
            eventClick: function (c_event) {

                if (c_event.event.extendedProps.type == 'appointment_as_expert')
                    loadExpertAppointment(c_event.event.id)

                if (c_event.event.extendedProps.type == 'appointment_as_client')
                    loadClientAppointment(c_event.event.id)

                if (c_event.event.extendedProps.type == 'extradate')
                    loadExtraDate(c_event.event.id)

            }

        });
    }

    function getUsersAppointments() {

        createEventCalendar('event-calendar');

    }

</script>